In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.cross_validation import cross_val_score, StratifiedKFold
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier, BaggingClassifier
%matplotlib inline

/Users/natalie/anaconda/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
#Ritika EDA
def eda(dataframe):
    print "Missing Values \n \n", dataframe.isnull().sum(),"\n" #find missing values
    print "Duplicate Rows \n", dataframe.duplicated().sum(),"\n" #find duplicated values
    print "Dataframe Types \n \n", dataframe.dtypes,"\n" #datatypes of each column
    print "Dataframe Shape \n", dataframe.shape,"\n" #number of rows and columns
    print "Dataframe Describe \n \n", dataframe.describe(include='all'),"\n" #Describe all columns
    for feature in dataframe: # Prints unique values for each column 
        print feature
        print dataframe[feature].nunique()

In [4]:
train_df = pd.read_csv('./merged_train.csv')
test_df = pd.read_csv('./merged_test.csv')
train_trap = pd.read_csv('./assets/train.csv')
test_trap = pd.read_csv('./assets/test.csv')
train_50sqito = pd.read_csv('./prior_multiple_obs.csv')
test_50sqito = pd.read_csv('./testprior_multiple_obs.csv')
pd.set_option('display.max_columns',28) # where n is the number to show

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,Last7Average_Temp,Last14Average_Temp,...,Last14Average_Windspeed,MonthAverage_Windspeed,Last7Average_Daylight,Last14Average_Daylight,MonthAverage_Daylight,Last7Average_Departure,Last14Average_Departure,MonthAverage_Departure,Last7Average_WetBulb,Last14Average_WetBulb,MonthAverage_WetBulb,Last7Average_DewPoint,Last14Average_DewPoint,MonthAverage_DewPoint
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0,67.571429,60.000000,...,11.200000,10.578571,188.060000,889.142857,868.928571,846.666667,5.000000,3.857143,4.857143,47.000000,52.500000,54.857143,49.000000,44.142857
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0,67.571429,60.000000,...,11.200000,10.578571,188.060000,889.142857,868.928571,846.666667,5.000000,3.857143,4.857143,47.000000,52.500000,54.857143,49.000000,44.142857
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0,67.571429,60.000000,...,11.200000,10.578571,188.060000,889.142857,868.928571,846.666667,5.000000,3.857143,4.857143,47.000000,52.500000,54.857143,49.000000,44.142857
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0,67.571429,60.000000,...,11.200000,10.578571,188.060000,889.142857,868.928571,846.666667,5.000000,3.857143,4.857143,47.000000,52.500000,54.857143,49.000000,44.142857
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0,67.571429,60.000000,...,11.200000,10.578571,188.060000,889.142857,868.928571,846.666667,5.000000,3.857143,4.857143,47.000000,52.500000,54.857143,49.000000,44.142857
5,2007-05-29,"1500 West Webster Avenue, Chicago, IL 60614, USA",CULEX RESTUANS,15,W WEBSTER AVE,T045,"1500 W WEBSTER AVE, Chicago, IL",41.921600,-87.666455,8,2,0,67.571429,60.000000,...,11.200000,10.578571,188.060000,889.142857,868.928571,846.666667,5.000000,3.857143,4.857143,47.000000,52.500000,54.857143,49.000000,44.142857
6,2007-05-29,"2500 West Grand Avenue, Chicago, IL 60654, USA",CULEX RESTUANS,25,W GRAND AVE,T046,"2500 W GRAND AVE, Chicago, IL",41.891118,-87.654491,8,1,0,67.571429,60.000000,...,11.200000,10.578571,188.060000,889.142857,868.928571,846.666667,5.000000,3.857143,4.857143,47.000000,52.500000,54.857143,49.000000,44.142857
7,2007-05-29,"1100 Roosevelt Road, Chicago, IL 60608, USA",CULEX PIPIENS/RESTUANS,11,W ROOSEVELT,T048,"1100 W ROOSEVELT, Chicago, IL",41.867108,-87.654224,8,1,0,67.571429,60.000000,...,11.200000,10.578571,188.060000,889.142857,868.928571,846.666667,5.000000,3.857143,4.857143,47.000000,52.500000,54.857143,49.000000,44.142857
8,2007-05-29,"1100 Roosevelt Road, Chicago, IL 60608, USA",CULEX RESTUANS,11,W ROOSEVELT,T048,"1100 W ROOSEVELT, Chicago, IL",41.867108,-87.654224,8,2,0,67.571429,60.000000,...,11.200000,10.578571,188.060000,889.142857,868.928571,846.666667,5.000000,3.857143,4.857143,47.000000,52.500000,54.857143,49.000000,44.142857
9,2007-05-29,"1100 West Chicago Avenue, Chicago, IL 60642, USA",CULEX RESTUANS,11,W CHICAGO,T049,"1100 W CHICAGO, Chicago, IL",41.896282,-87.655232,8,1,0,67.571429,60.000000,...,11.200000,10.578571,188.060000,889.142857,868.928571,846.666667,5.000000,3.857143,4.857143,47.000000,52.500000,54.857143,49.000000,44.142857
10,2007-05-29,"2100 North Stave Street, Chicago, IL 60647, USA",CULEX PIPIENS/RESTUANS,21,N STAVE ST,T050,"2100 N STAVE ST, Chicago, IL",41.919343,-87.694259,8,1,0,67.571429,60.000000,...,11.200000,10.578571,188.060000,889.142857,868.928571,846.666667,5.000000,3.857143,4.857143,47.000000,52.500000,54.857143,49.000000,44.142857
11,2007-05-29,"2200 North Cannon Drive, Chicago, IL 60614, USA",CULEX PIPIENS/RESTUANS,22,N CANNON DR,T054,"2200 N CANNON DR, Chicago, IL",41.921965,-87.632085,8,2,0,67.571429,60.000000,...,11.200000,10.578571,188.060000,889.142857,868.928571,846.666667,5.000000,3.857143,4.857143,47.000000,52.500000,54.857143,49.000000,44.142857
12,2007-05-29,"2200 North Cannon Drive, Chicago, IL 60614, USA",CULEX RESTUANS,22,N CANNON DR,T054,"2200 N CANNON DR, Chicago, IL",41.921965,-87.632085,8,3,0,67.571429,60.000000,...,11.200000,10.578571,188.060000,889.142857,868.928571,846.666667,5.000000,3.857143,4.857143,47.000000,52.500000,54.857143,49.000000,44.142857
13,2007-05-29,"2200 West 113th Street, Chicago, IL 60643, USA",CULEX PIPIENS/RESTUANS,22,W 113TH ST,T086,"2200 W 113TH ST, Chicago, IL",41.688324,-87.676709,8,1,0,67.571429,60.000000,...,11.200000,10.578571,188.060000,889.142857,868.928571,846.666667,5.000000,3.857143,4.857143,47.000000,52.500000,54.857143,49.000000,44.142857
14,2007-05-29,"2200 West 113th Street, Chicago, IL 60643, USA",CULEX RESTUANS,22,W 113TH ST,T086,"2200 W 113TH ST, Chicago, IL",41.688324,-87.676709,8,1,0,67.571429,60.000000,...,11.200000,10.578571,188.060000,889.142857,868.928571,846.666667,5.000000,3.857143,4.857143,47.000000,52.500000,54.857143,49.000000,44.142857
15,2007-05-29,"1100 South Peoria Street, Chicago, IL 60608, USA",CULEX RESTUANS,11,S PEORIA ST,T091,"1100 S PEORIA ST, Chicago, IL",41.862292,-87.648860,8,1,0,67.571429,60.000000,...,11.200000,10.578571,188.060000,889.142857,868.928571,846.666667,5.000000,3.857143,4.857143,47.000000,52.500000,54.857143,49.000000,44.142857
16,2007-05-29,"1700 West 95th Street, Chicago, IL 60643, USA",CULEX RESTUANS,17,W 95TH ST,T094,"1700 W 95TH ST, Chicago, IL",41.720848,-87.666014,9,3,0,67.571429,60.000000,...,11.200000,10.578571,188.060000,889.142857,868.928571,846.666667,5.000000,3.857143,4.857143,47.000000,52.500000,54.857143,49.000000,44.142857
17,2007-05-29,"2200 West 89th Street, Chicago, IL 60643, USA",CULEX RESTUANS,22,W 89TH ST,T096,"2200 W 89TH ST, Chicago, IL",41.731922,-87.677512,8,5,0,67.571429,60.000000,...,11.200000,10.578571,188.060000,889.142857,868.928571,846.666667,5.000000,3.857143,4.857143,47.000000,52.500000,54.857143,49.000000,44.142857
18,2007-05-29,"2200 West 89th Street, Chicago, IL 60643, USA",CULEX PIPIENS,22,W 89TH ST,T096,"2200 W 89TH ST, Chicago, IL",41.731922,-87.677512,8,1,0,67.571429,60.000000,...,11.200000,10.578571,188.060000,889.142857,868.928571,846.666667,5.000000,3.857143,4.857143,47.000000,52.500000,54.857143,49.000000,44.142857
19,2007-05-29,"North Streeter Drive, Chicago, IL 60611, USA",CULEX PIPIENS/RESTUANS,53,N STREETER DR,T129,"5300 N STREETER DR, Chicago, IL",41.891126,-87.611560,5,1,0,67.571429,60.000000,...,11.200000,10.578571,188.060000,889.142857,868.928571,846.666667,5.000000,3.857143,4.857143,47.000000,52.500000,54.857143,49.000000,44.142857
20,2007-05-29,"North Streeter Drive, Chicago, IL 60611, USA",CULEX RESTUANS,53,N STREETER DR,T129,"5300 N STREETER DR, Chicago, IL",41.891126,-87.611560,5,2,0,67.571429,60.000000,...,11.200000,10.578571,188.060000,889.142857,868.928571,846.666667,5.000000,3.857143,4.857143,47.000000,52.500000,54.857143,49.000000,44.142857
21,2007-05-29,"6500 North Oak Park Avenue, Chicago, IL 60631,...",CULEX PIPIENS/RESTUANS,65,N OAK PARK AVE,T143,"6500 N OAK PARK AVE, Chicago, IL",41.999129,-87.795585,8,1,0,67.571429,60.000000,...,11.200000,10.578571,188.060000,889.142857,868.928571,846.666667,5.000000,3.857143,4.857143,47.000000,52.500000,54.857143,49.000000,44.142857
22,2007-05-29,"7500 North Oakley Avenue, Chicago, IL 60645, USA",CULEX PIPIENS/RESTUANS,75,N OAKLEY AVE,T148,"7500 N OAKLEY AVE, Chicago, IL",42.017430,-87.687769,8,1,0,67.571429,60.000000,...,11.200000,10.578571,188.060000,889.142857,868.928571,846.666667,5.000000,3.857143,4.857143,47.000000,52.500000,54.857143,49.000000,44.142857
23,2007-05-29,"1500 North Long Avenue, Chicago, IL 60651, USA",CULEX RESTUANS,15,N LONG AVE,T153,"1500 N LONG AVE, Chicago, IL",41.907645,-87.760886,8,1,0,67.571429,60.000000,...,11.200000,10.578571,188.060000,889.142857,868.928571,846.666667,5.000000,3.857143,4.857143,47.000000,52.500000,54.857143,49.000000,44.142857
24,2007-05-29,"8900 South Carpenter Street, Chicago, IL 60620...",CULEX RESTUANS,89,S CARPENTER ST,T159,"8900 S CARPENTER ST, Chicago, IL",41.732984,-87.649642,8,1,0,67.571429,60.000000,...,11.200000,10.578571,188.060000,889.142857,868.928571,846.666667,5.000000,3.857143,4.857143,47.000000,52.500000,54.857143,49.000000,44.142857
25,2007-06-05,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,3,0,72.142857,67.571429,...,7.914286,11.428571,136.928571,899.000000,882.571429,861.857143,128.571429,2.928571,7.571429,40.285714,56.928571,50.571429,57.571429,52.500000
26,2007-06-05,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,5,0,72.142857,67.571429,...,7.914286,11.428571,136.928571,899.000000,882.571429,861.857143,128.571429,2.928571,7.571429,40.285714,56.928571,50.571429,57.571429,52.500000
27,2007-06-05,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0,72.142857,67.571429,...,7.914286,11.428571,136.928571,899.000000,882.571429,861.857143,128.571429,2.928571,7.571429,40.285714,56.928571,50.571429,57.571429,52.500000
28,2007-06-05,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0,72.142857,67.571429,...,7.914286,11.428571,136.928571,899.000000,882.571429,861.857143,128.571429,2.928571,7.571429,40.285714,56.928571,50.571429,57.571429,52.500000
29,2007-06-05,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,2,0,72.142857,67.571429,...,7.914286,11.428571,136.928571,899.000000,882.571429,861.857143,128.571429,2.928571,7.571429,40.285714,56.928571,50.571429,57.571429,52.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10383,2013-09-26,"South Cottage Grove Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,10,S COTTAGE GROVE,T102,"1000 S COTTAGE GROVE, Chicago, IL",41.750498,-87.605294,5,2,0,62.857143,62.857143,...,9.500000,8.450000,109.814286,733.142857,764.357143,793.000000,113.857143,5.714286,4.285714,35.285714,61.857143,64.000000,65.428571,54.142857
10384,2013-09-26,"South Cottage Grove Avenue, Chicago, IL, USA",CULEX RESTUANS,10,S COTTAGE GROVE,T102,"1000 S COTTAGE GROVE, Chicago, IL",41.750498,-87.605294,5,1,0,62.857143,62.857143,...,9.500000,8.450000,109.814286,733.142857,764.357143,793.000000,113.857143,5.714286,4.285714,35.285714,61.857143,64.000000,65.428571,54.142857
10385,2013-09-26,"South Cottage Grove Avenue, Chicago, IL, USA",CULEX PIPIENS,10,S COTTAGE GROVE,T102,"1000 S COTTAGE GROVE, Chicago, IL",41.750498,-87.605294,5,1,0,62.857143,62.857143,...,9.500000,8.450000,109.814286,733.142857,764.357143,793.000000,113.857143,5.714286,4.285714,35.285714,61.857143,64.000000,65.428571,54.142857
10386,2013-09-26,"5800 North Pulaski Road, Chicago, IL 60646, USA",CULEX PIPIENS,58,N PULASKI RD,T027,"5800 N PULASKI RD, Chicago, IL",41.984809,-87.728492,8,5,0,62.857143,62.857143,...,9.500000,8.450000,109.814286,733.142857,764.357143,793.000000,113.857143,5.714286,4.285714,35.285714,61.857143,64.000000,65.428571,54.142857
10387,2013-09-26,"4000 East 130th Street, Chicago, IL 60633, USA",CULEX PIPIENS/RESTUANS,40,E 130TH ST,T221,"4000 E 130TH ST, Chicago, IL",41.659112,-87.538693,8,5,0,62.857143,62.857143,...,9.500000,8.450000,109.814286,733.142857,764.357143,793.000000,113.857143,5.714286,4.285714,35.285714,61.857143,64.000000,65.428571,54.142857
10388,2013-09-26,"4000 East 130th Street, Chicago, IL 60633, USA",CULEX RESTUANS,40,E 130TH ST,T221,"4000 E 130TH ST, Chicago, IL",41.659112,-87.538693,8,5,0,62.857143,62.857143,...,9.500000,8.450000,109.814286,733.142857,764.357143,793.000000,113.857143,5.714286,4.285714,35.285714,61.857143,64.000000,65.428571,54.142857
10389,2013-09-26,"4000 East 130th Street, Chicago, IL 60633, USA",CULEX PIPIENS,40,E 130TH ST,T221,"4000 E 130TH ST, Chicago, IL",41.659112,-87.538693,8,4,0,62.857143,62.857143,...,9.500000,8.450000,109.814286,733.142857,764.357143,793.000000,113.857143,5.714286,4.285714,35.285714,61.857143,64.000000,65.428571,54.142857
10390,2013-09-26,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,1,0,62.857143,62.857143,...,9.500000,8.450000,109.814286,733.142857,764.357143,793.000000,113.857143,5.714286,4.285714,35.285714,61.857143,64.000000,65.428571,54.142857
10391,2013-09-26,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,39,1,62.857143,62.857143,...,9.500000,8.450000,109.814286,733.142857,764.357143,793.000000,113.857143,5.714286,4.285714,35.285714,61.857143,64.000000,65.428571,54.142857
10392,2013-09-26,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,4,0,62.857143,62.857143,...,9.500000,8.450000,109.814286,733.142857,764.357143,793.000000,113.857143,5.714286,4.285714,35.285714,61.857143,64.000000,65.428571,54.142857
10393,2013-09-26,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,16,0,62.857143,62.857143,...,9.500000,8.450000,109.814286,733.142857,764.357143,793.000000,113.857143,5.714286,4.285714,35.285714,61.857143,64.000000,65.428571,54.142857
10394,2013-09-26,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,9,0,62.857143,62.857143,...,9.500000,8.450000,109.814286,733.142857,764.357143,793.000000,113.857143,5.714286,4.285714,35.285714,61.857143,64.000000,65.428571,54.142857
10395,2013-09-26,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,11,0,62.857143,62.857143,...,9.500000,8.450000,109.814286,733.142857,764.357143,793.000000,113.857143,5.714286,4.285714,35.285714,61.857143,64.000000,65.428571,54.142857
10396,2013-09-26,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,1,0,62.857143,62.857143,...,9.500000,8.450000,109.814286,733.142857,764.357143,793.000000,113.857143,5.714286,4.285714,35.285714,61.857143,64.000000,65.428571,54.142857
10397,2013-09-26,"4800 West Montana Street, Chicago, IL 60639, USA",CULEX PIPIENS/RESTUANS,48,W MONTANA ST,T222,"4800 W MONTANA ST, Chicago, IL",41.925198,-87.746381,8,1,0,62.857143,62.857143,...,9.500000,8.450000,109.814286,733.142857,764.357143,793.000000,113.857143,5.714286,4.285714,35.285714,61.857143,64.000000,65.428571,54.142857
10398,2013-09-26,"5100 North Mont Clare Avenue, Chicago, IL 6065...",CULEX PIPIENS/RESTUANS,51,N MONT CLARE AVE,T223,"5100 N MONT CLARE AVE, Chicago, IL",41.973845,-87.805059,9,11,0,62.857143,62.857143,...,9.500000,8.450000,109.814286,733.142857,764.357143,793.000000,113.857143,5.714286,4.285714,35.285714,61.857143,64.000000,65.428571,54.142857
10399,2013-09-26,"5100 North Mont Clare Avenue, Chicago, IL 6065...",CULEX PIPIENS,51,N MONT CLARE AVE,T223,"5100 N MONT CLARE AVE, Chicago, IL",41.973845,-87.805059,9,1,0,62.857143,62.857143,...,9.500000,8.450000,109.814286,733.142857,764.357143,793.000000,113.857143,5.714286,4.285714,35.285714,61.857143,64.000000,65.428571,54.142857
10400,2013-09-26,"8200 South Kostner Avenue, Chicago, IL 60652, USA",CULEX PIPIENS/RESTUANS,82,S KOSTNER AVE,T225,"8200 S KOSTNER AVE, Chicago, IL",41.743402,-87.731435,8,3,0,62.857143,62.857143,...,9.500000,8.450000,109.814286,733.142857,764.357143,793.000000,113.857143,5.714286,4.285714,35.285714,61.857143,64.000000,65.428571,54.142857
10401,2013-09-26,"East 91st Place, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,65,E 91ST PL,T227,"6500 E 91ST PL, Chicago, IL",41.728495,-87.600963,5,7,0,62.857143,62.857143,...,9.500000,8.450000,109.814286,733.142857,764.357143,793.000000,113.857143,5.714286,4.285714,35.285714,61.857143,64.000000,65.428571,54.142857
10402,2013-09-26,"East 91st Place, Chicago, IL, USA",CULEX PIPIENS,65,E 91ST PL,T227,"6500 E 91ST PL, Chicago, IL",41.728495,-87.600963,5,1,0,62.857143,62.857143,...,9.500000,8.450000,109.814286,733.142857,764.357143,793.000000,113.857143,5.714286,4.285714,35.285714,61.857143,64.000000,65.428571,54.142857
10403,2013-09-26,"1700 West Addison Street, Chicago, IL 60613, USA",CULEX PIPIENS/RESTUANS,17,W ADDISON ST,T224,"1700 W ADDISON ST, Chicago, IL",41.947227,-87.671457,9,3,0,62.857143,62.857143,...,9.500000,8.450000,109.814286,733.142857,764.357143,793.000000,113.857143,5.714286,4.285714,35.285714,61.857143,64.000000,65.428571,54.142857
10404,2013-09-26,"West Garfield Boulevard, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,90,W GARFIELD BLVD,T226,"9000 W GARFIELD BLVD, Chicago, IL",41.793818,-87.654234,5,8,0,62.857143,62.857143,...,9.500000,8.450000,109.814286,733.142857,764.357143,793.000000,113.857143,5.714286,4.285714,35.285714,61.857143,64.000000,65.428571,54.142857
10405,2013-09-26,"1300 North Laramie Avenue, Chicago, IL 60651, USA",CULEX PIPIENS/RESTUANS,13,N LARAMIE AVE,T230,"1300 N LARAMIE AVE, Chicago, IL",41.904194,-87.756155,9,13,0,62.857143,62.857143,...,9.500000,8.450000,109.814286,733.142857,764.357143,793.000000,113.857143,5.714286,4.285714,35.285714,61.857143,64.000000,65.428571,54.142857
10406,2013-09-26,"1300 North Laramie Avenue, Chicago, IL 60651, USA",CULEX PIPIENS,13,N LARAMIE AVE,T230,"1300 N LARAMIE AVE, Chicago, IL",41.904194,-87.756155,9,5,0,62.857143,62.857143,...,9.500000,8.450000,109.814286,733.142857,764.357143,793.000000,113.857143,5.714286,4.285714,35.285714,61.857143,64.000000,65.428571,54.142857
10407,2013-09-26,"3900 North Springfield Avenue, Chicago, IL 606...",CULEX PIPIENS/RESTUANS,39,N SPRINGFIELD AVE,T228,"3900 N SPRINGFIELD AVE, Chicago, IL",41.951866,-87.725057,8,3,0,62.857143,62.857143,...,9.500000,8.450000,109.814286,733.142857,764.357143,793.000000,113.857143,5.714286,4.285714,35.285714,61.857143,64.000000,65.428571,54.142857
10408,2013-09-26,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,6,1,62.857143,62.857143,...,9.500000,8.450000,109.814286,733.142857,764.357143,793.000000,113.857143,5.714286,4.285714,35.285714,61.857143,64.000000,65.428571,54.142857
10409,2013-09-26,"5800 North Ridge Avenue, Chicago, IL 60660, USA",CULEX PIPIENS/RESTUANS,58,N RIDGE AVE,T231,"5800 N RIDGE AVE, Chicago, IL",41.987280,-87.666066,8,5,0,62.857143,62.857143,...,9.500000,8.450000,109.814286,733.142857,764.357143,793.000000,113.857143,5.714286,4.285714,35.285714,61.857143,64.000000,65.428571,54.142857
10410,2013-09-26,"1700 North Ashland Avenue, Chicago, IL 60622, USA",CULEX PIPIENS/RESTUANS,17,N ASHLAND AVE,T232,"1700 N ASHLAND AVE, Chicago, IL",41.912563,-87.668055,9,1,0,62.857143,62.857143,...,9.500000,8.450000,109.814286,733.142857,764.357143,793.000000,113.857143,5.714286,4.285714,35.285714,61.857143,64.000000,65.428571,54.142857

In [1]:
eda(train_df)

NameError: name 'eda' is not defined

In [9]:
# spray = pd.read_csv('./spray_train.csv')
# spray.head()
# from first model prep

In [6]:
eda(test_df)

Missing Values

Date                       0
Last7Average_Temp          0
Last7Average_Windspeed     0
Last7Total_Rainfall        0
Last14Average_Temp         0
Last14Average_Windspeed    0
Last14Total_Rainfall       0
Last7Average_Daylight      0
Last14Average_Daylight     0
Last7Average_Departure     0
Last14Average_Departure    0
Id                         0
Species                    0
Latitude                   0
Longitude                  0
month                      0
CULEX PIPIENS              0
CULEX PIPIENS/RESTUANS     0
CULEX RESTUANS             0
CULEX SALINARIUS           0
CULEX TARSALIS             0
CULEX TERRITANS            0
UNSPECIFIED CULEX          0
dtype: int64

Duplicate Rows
0

Dataframe Types

Date                        object
Last7Average_Temp          float64
Last7Average_Windspeed     float64
Last7Total_Rainfall        float64
Last14Average_Temp         float64
Last14Average_Windspeed    float64
Last14Total_Rainfall       float64
Last7Average_Daylight      float64
Last14Average_Daylight     float64
Last7Average_Departure     float64
Last14Average_Departure    float64
Id                           int64
Species                     object
Latitude                   float64
Longitude                  float64
month                        int64
CULEX PIPIENS                int64
CULEX PIPIENS/RESTUANS       int64
CULEX RESTUANS               int64
CULEX SALINARIUS             int64
CULEX TARSALIS               int64
CULEX TERRITANS              int64
UNSPECIFIED CULEX            int64
dtype: object

Dataframe Shape
(116293, 23)

Dataframe Describe

              Date  Last7Average_Temp  Last7Average_Windspeed  \
count       116293      116293.000000           116293.000000
unique          95                NaN                     NaN
top     2012-07-09                NaN                     NaN
freq          1293                NaN                     NaN
mean           NaN          72.704729                8.113734
std            NaN           5.735498                1.428637
min            NaN          54.142857                5.428571
25%            NaN          68.714286                7.042857
50%            NaN          73.000000                7.928571
75%            NaN          76.857143                9.042857
max            NaN          87.142857               12.171429

        Last7Total_Rainfall  Last14Average_Temp  Last14Average_Windspeed  \
count         116293.000000       116293.000000            116293.000000
unique                  NaN                 NaN                      NaN
top                     NaN                 NaN                      NaN
freq                    NaN                 NaN                      NaN
mean               1.199887           72.822536                 8.200404
std                1.758059            4.948461                 1.106532
min                0.000000           58.785714                 5.842857
25%                0.170000           69.214286                 7.328571
50%                0.560000           73.071429                 8.092857
75%                1.440000           76.357143                 8.757143
max                9.680000           82.785714                11.328571

        Last14Total_Rainfall  Last7Average_Daylight  Last14Average_Daylight  \
count          116293.000000          116293.000000           116293.000000
unique                   NaN                    NaN                     NaN
top                      NaN                    NaN                     NaN
freq                     NaN                    NaN                     NaN
mean                2.179253             849.224689              854.591298
std                 2.168623              60.236823               56.675099
min                 0.010000             713.857143              723.500000
25%                 0.740000             803.428571              812.785714
50%                 1.520000             866.428571              873.428571
75%                 3.120000             904.285714              904.142857
max                12.610000             914.000000              913.357143

        Last7Average_Departure  Last14Average_Departure             Id  \
count            116293.000000            116293.000000  116293.000000
unique                     NaN                      NaN            NaN
top                        NaN                      NaN            NaN
freq                       NaN                      NaN            NaN
mean                  2.746031                 2.773507   58147.000000
std                   4.032462                 3.247153   33571.041765
min                 -10.285714                -4.500000       1.000000
25%                  -0.285714                 0.785714   29074.000000
50%                   3.000000                 3.000000   58147.000000
75%                   5.714286                 4.857143   87220.000000
max                  15.000000                10.500000  116293.000000

                       Species       Latitude      Longitude          month  \
count                   116293  116293.000000  116293.000000  116293.000000
unique                       8            NaN            NaN            NaN
top     CULEX PIPIENS/RESTUANS            NaN            NaN            NaN
freq                     15359            NaN            NaN            NaN
mean                       NaN      41.849389     -87.693658       7.620244
std                        NaN       0.106593       0.080699       1.065842
min                        NaN      41.644612     -87.930995       6.000000
25%                        NaN      41.753411     -87.750938       7.000000
50%                        NaN      41.862292     -87.694991       8.000000
75%                        NaN      41.951866     -87.648860       8.000000
max                        NaN      42.017430     -87.531635      10.000000

        CULEX PIPIENS  CULEX PIPIENS/RESTUANS  CULEX RESTUANS  \
count   116293.000000           116293.000000   116293.000000
unique            NaN                     NaN             NaN
top               NaN                     NaN             NaN
freq              NaN                     NaN             NaN
mean         0.124866                0.132072        0.126147
std          0.330568                0.338570        0.332016
min          0.000000                0.000000        0.000000
25%          0.000000                0.000000        0.000000
50%          0.000000                0.000000        0.000000
75%          0.000000                0.000000        0.000000
max          1.000000                1.000000        1.000000

        CULEX SALINARIUS  CULEX TARSALIS  CULEX TERRITANS  UNSPECIFIED CULEX
count      116293.000000   116293.000000    116293.000000      116293.000000
unique               NaN             NaN              NaN                NaN
top                  NaN             NaN              NaN                NaN
freq                 NaN             NaN              NaN                NaN
mean            0.123438        0.123369         0.123404           0.123352
std             0.328941        0.328862         0.328902           0.328842
min             0.000000        0.000000         0.000000           0.000000
25%             0.000000        0.000000         0.000000           0.000000
50%             0.000000        0.000000         0.000000           0.000000
75%             0.000000        0.000000         0.000000           0.000000
max             1.000000        1.000000         1.000000           1.000000

Date
95
Last7Average_Temp
68
Last7Average_Windspeed
82
Last7Total_Rainfall
65
Last14Average_Temp
72
Last14Average_Windspeed
90
Last14Total_Rainfall
83
Last7Average_Daylight
79
Last14Average_Daylight
80
Last7Average_Departure
58
Last14Average_Departure
68
Id
116293
Species
8
Latitude
151
Longitude
151
month
5
CULEX PIPIENS
2
CULEX PIPIENS/RESTUANS
2
CULEX RESTUANS
2
CULEX SALINARIUS
2
CULEX TARSALIS
2
CULEX TERRITANS
2
UNSPECIFIED CULEX
2

In [14]:
train_trap.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0

In [8]:
# trainduplicates = pd.read_csv("./df_train.csv")
# pd.set_option('display.max_columns',45) # where n is the number to show
# train
# from first model prep

In [68]:
train_50sqito['Trap'] = train_50sqito['Unnamed: 0']
test_50sqito['Trap'] = test_50sqito['Unnamed: 0']

In [69]:
train_50sqito = train_50sqito.drop('Unnamed: 0', 1)
test_50sqito = test_50sqito.drop('Unnamed: 0', 1)

In [56]:
train_50sqito.head()

         Date  Records  More  Trap
0  2009-06-03        2   NaN  T903
1  2009-06-05        1   NaN  T903
2  2009-06-15        1   NaN  T903
3  2009-06-22       11   NaN  T903
4  2009-06-29        1   1.0  T903

# Here we are factorizing our species and traps

In [70]:
# Here we are factorizing our species and traps
species_map = {'CULEX RESTUANS' : "1",
              'CULEX TERRITANS' : "2", 
              'CULEX PIPIENS'   : "3", 
              'CULEX PIPIENS/RESTUANS' : "4", 
              'CULEX ERRATICUS' : "5", 
              'CULEX SALINARIUS': "6", 
              'CULEX TARSALIS' :  "7",
              'UNSPECIFIED CULEX': "4"}

In [71]:
train_df['Species_fac'] = [species_map.get(x) for x in train_df["Species"]]

In [72]:
test_df['Species_fac'] = [species_map.get(x) for x in test_df["Species"]]

In [73]:
train_df['Trap'] = train_trap[['Trap']]

In [74]:
test_df['Trap'] = test_trap[['Trap']]

In [75]:
train_df = train_df.merge(train_50sqito, how='left', left_on=['Date','Trap'], right_on=['Date','Trap'])

In [76]:
test_df = test_df.merge(test_50sqito, how='left', left_on=['Date','Trap'], right_on=['Date','Trap'])

In [77]:
trap_dict = {}
for i, trap in enumerate(test_df.Trap.unique()):
    trap_dict[trap] = i
trap_dict

{'T001': 44,
 'T002': 0,
 'T002A': 138,
 'T002B': 139,
 'T003': 45,
 'T004': 70,
 'T005': 66,
 'T006': 46,
 'T007': 1,
 'T008': 47,
 'T009': 18,
 'T011': 19,
 'T012': 48,
 'T013': 59,
 'T014': 60,
 'T015': 2,
 'T016': 20,
 'T017': 67,
 'T018': 61,
 'T019': 21,
 'T025': 22,
 'T027': 112,
 'T028': 23,
 'T030': 62,
 'T031': 24,
 'T033': 25,
 'T034': 49,
 'T035': 71,
 'T036': 72,
 'T037': 50,
 'T039': 73,
 'T040': 51,
 'T043': 52,
 'T044': 68,
 'T045': 3,
 'T046': 4,
 'T047': 53,
 'T048': 5,
 'T049': 6,
 'T050': 7,
 'T051': 54,
 'T054': 8,
 'T054C': 148,
 'T060': 74,
 'T061': 75,
 'T062': 76,
 'T063': 95,
 'T065': 77,
 'T065A': 146,
 'T066': 78,
 'T067': 79,
 'T069': 80,
 'T070': 81,
 'T071': 82,
 'T072': 105,
 'T073': 83,
 'T074': 84,
 'T075': 85,
 'T076': 86,
 'T077': 87,
 'T078': 106,
 'T079': 88,
 'T080': 89,
 'T081': 90,
 'T082': 91,
 'T083': 92,
 'T084': 63,
 'T085': 55,
 'T086': 9,
 'T088': 56,
 'T089': 26,
 'T090': 27,
 'T090A': 118,
 'T090B': 119,
 'T090C': 120,
 'T091': 10,
 'T092': 28,
 'T094': 11,
 'T094B': 147,
 'T095': 69,
 'T096': 12,
 'T097': 107,
 'T099': 108,
 'T100': 109,
 'T102': 110,
 'T103': 111,
 'T107': 103,
 'T114': 93,
 'T115': 96,
 'T128': 104,
 'T128A': 122,
 'T129': 13,
 'T135': 29,
 'T138': 97,
 'T141': 30,
 'T142': 31,
 'T143': 14,
 'T144': 64,
 'T145': 32,
 'T146': 33,
 'T147': 34,
 'T148': 15,
 'T149': 35,
 'T150': 36,
 'T151': 37,
 'T152': 38,
 'T153': 16,
 'T154': 39,
 'T155': 94,
 'T156': 113,
 'T157': 114,
 'T158': 40,
 'T159': 17,
 'T160': 65,
 'T161': 57,
 'T162': 41,
 'T200': 98,
 'T200A': 121,
 'T200B': 123,
 'T206': 99,
 'T209': 100,
 'T212': 101,
 'T215': 102,
 'T218': 42,
 'T218A': 124,
 'T218B': 126,
 'T218C': 125,
 'T219': 58,
 'T220': 43,
 'T221': 115,
 'T222': 127,
 'T223': 128,
 'T224': 131,
 'T225': 129,
 'T226': 132,
 'T227': 130,
 'T228': 135,
 'T229': 133,
 'T230': 134,
 'T231': 136,
 'T232': 137,
 'T233': 140,
 'T234': 141,
 'T235': 142,
 'T236': 143,
 'T237': 144,
 'T238': 145,
 'T900': 116,
 'T903': 117}

In [78]:
train_df['Trap_fac'] = [trap_dict.get(x) for x in train_df["Trap"]]

In [79]:
test_df['Trap_fac'] = [trap_dict.get(x) for x in test_df["Trap"]]

In [64]:
train_df.columns

Index([u'Date', u'Address', u'Species', u'Block', u'Street', u'Trap',
       u'AddressNumberAndStreet', u'Latitude', u'Longitude',
       u'AddressAccuracy', u'NumMosquitos', u'WnvPresent',
       u'Last7Average_Temp', u'Last14Average_Temp', u'MonthAverage_Temp',
       u'Last7Total_Rainfall', u'Last14Total_Rainfall', u'MonthTotal_Rainfall',
       u'Last7Average_Windspeed', u'Last14Average_Windspeed',
       u'MonthAverage_Windspeed', u'Last7Average_Daylight',
       u'Last14Average_Daylight', u'MonthAverage_Daylight',
       u'Last7Average_Departure', u'Last14Average_Departure',
       u'MonthAverage_Departure', u'Last7Average_WetBulb',
       u'Last14Average_WetBulb', u'MonthAverage_WetBulb',
       u'Last7Average_DewPoint', u'Last14Average_DewPoint',
       u'MonthAverage_DewPoint', u'Species_fac', u'Records', u'More',
       u'Trap_fac'],
      dtype='object')

# old code

In [100]:
# train = trainduplicates.drop_duplicates()
# we decided to keep dups as they deal with traps containing more than 50 per observation

In [123]:
# merged = train.merge(weather, left_on='Date', right_on ='Date', how= 'inner')
# from our first model prep

In [7]:
# pd.set_option('max_columns', None)
# merged.head()
# from our first model prep

In [10]:
# merged['Geo'] = merged['Latitude'].map(str) + ', ' + merged["Longitude"].map(str)
# merged.head()
# merged['Geo'].nunique() 
# from our first prep

In [11]:
# merged['Trap'].nunique()

In [119]:
# merged['Lat2'] = merged['Latitude'].astype('float64')

In [12]:
# merged['Lat2'].value_counts()

In [120]:
# merged['Long2'] = merged['Longitude'].astype('float64')

In [13]:
# merged['Long2'].value_counts()

In [14]:
# trap_dummies = pd.get_dummies(merged['Trap']).iloc[:, 1:]
# trap_dummies
# from first prep

In [15]:
#trap_dummies = trap_dummies.loc[:, 'T002':].astype('int64')

In [16]:
#trap_dummies.dtypes

In [165]:
#species_dummies = species_dummies.loc[:, 'CULEX PIPIENS':].astype('int64')

In [28]:
#species_dummies.columns

In [27]:
#species_dummies.dtypes

In [20]:
# species_dummies = pd.get_dummies(train_df['Species']).iloc[:, 1:]
# # dummies = pd.concat([trap_dummies, species_dummies], axis=1)
# # dummies from first model
# species_dummies

In [62]:
# mergedclean = merged
# mergedclean.replace('M',np.nan)
# mergedclean.dropna(axis=0, inplace=True)
# mergedclean.drop_duplicates(inplace=True)
# mergedclean
# eda(mergedclean)

In [26]:
# x = merged[['WnvPresent','NumMosquitos','Last7Average_Windspeed','Last7Average_Temp','Last7Total_Rainfall','month']]
# modeldf = pd.concat([x, dummies],axis=1)
# modeldf

# making our columns uniform from train to test for modeling

In [115]:
test_df.columns

Index([u'Id', u'Date', u'Address', u'Species', u'Block', u'Street', u'Trap',
       u'AddressNumberAndStreet', u'Latitude', u'Longitude',
       u'AddressAccuracy', u'Last7Average_Temp', u'Last14Average_Temp',
       u'MonthAverage_Temp', u'Last7Total_Rainfall', u'Last14Total_Rainfall',
       u'MonthTotal_Rainfall', u'Last7Average_Windspeed',
       u'Last14Average_Windspeed', u'MonthAverage_Windspeed',
       u'Last7Average_Daylight', u'Last14Average_Daylight',
       u'MonthAverage_Daylight', u'Last7Average_Departure',
       u'Last14Average_Departure', u'MonthAverage_Departure',
       u'Last7Average_WetBulb', u'Last14Average_WetBulb',
       u'MonthAverage_WetBulb', u'Last7Average_DewPoint',
       u'Last14Average_DewPoint', u'MonthAverage_DewPoint', u'Species_fac',
       u'Trap_fac'],
      dtype='object')

In [80]:
test_df = test_df[['Id', 'Latitude', 'Longitude',
       'Last7Average_Temp', 'Last14Average_Temp',
       'MonthAverage_Temp', 'Last7Total_Rainfall', 'Last14Total_Rainfall',
       'MonthTotal_Rainfall', 'Last7Average_Windspeed',
       'Last14Average_Windspeed', 'MonthAverage_Windspeed',
       'Last7Average_Daylight', 'Last14Average_Daylight',
       'MonthAverage_Daylight', 'Last7Average_Departure',
       'Last14Average_Departure', 'MonthAverage_Departure',
       'Last7Average_WetBulb', 'Last14Average_WetBulb',
       'MonthAverage_WetBulb', 'Last7Average_DewPoint',
       'Last14Average_DewPoint', 'MonthAverage_DewPoint', 'Species_fac',
       'Trap_fac', 'More']]

In [96]:
test_df.columns

Index([u'Id', u'Last7Average_Temp', u'Species_fac', u'Last7Average_Windspeed',
       u'Last7Total_Rainfall', u'Last14Average_Temp',
       u'Last14Average_Windspeed', u'Last14Total_Rainfall',
       u'Last7Average_Daylight', u'Last14Average_Daylight',
       u'Last7Average_Departure', u'Last14Average_Departure', u'Latitude',
       u'Longitude', u'month'],
      dtype='object')

In [89]:
train_df.columns

Index([u'Unnamed: 0', u'Date', u'Species', u'Latitude', u'Longitude',
       u'WnvPresent', u'month', u'CULEX ERRATICUS', u'CULEX PIPIENS',
       u'CULEX PIPIENS/RESTUANS', u'CULEX RESTUANS', u'CULEX SALINARIUS',
       u'CULEX TARSALIS', u'CULEX TERRITANS', u'Last7Average_Temp',
       u'Last7Average_Windspeed', u'Last7Total_Rainfall',
       u'Last14Average_Temp', u'Last14Average_Windspeed',
       u'Last14Total_Rainfall', u'Last7Average_Daylight',
       u'Last14Average_Daylight', u'Last7Average_Departure',
       u'Last14Average_Departure', u'Species_fac'],
      dtype='object')

In [81]:
train_df = train_df[['WnvPresent', 'Latitude', 'Longitude',
       'Last7Average_Temp', 'Last14Average_Temp',
       'MonthAverage_Temp', 'Last7Total_Rainfall', 'Last14Total_Rainfall',
       'MonthTotal_Rainfall', 'Last7Average_Windspeed',
       'Last14Average_Windspeed', 'MonthAverage_Windspeed',
       'Last7Average_Daylight', 'Last14Average_Daylight',
       'MonthAverage_Daylight', 'Last7Average_Departure',
       'Last14Average_Departure', 'MonthAverage_Departure',
       'Last7Average_WetBulb', 'Last14Average_WetBulb',
       'MonthAverage_WetBulb', 'Last7Average_DewPoint',
       'Last14Average_DewPoint', 'MonthAverage_DewPoint', 'Species_fac',
       'Trap_fac', 'More']]

In [98]:
train_df.columns

Index([u'WnvPresent', u'Last7Average_Temp', u'Species_fac',
       u'Last7Average_Windspeed', u'Last7Total_Rainfall',
       u'Last14Average_Temp', u'Last14Average_Windspeed',
       u'Last14Total_Rainfall', u'Last7Average_Daylight',
       u'Last14Average_Daylight', u'Last7Average_Departure',
       u'Last14Average_Departure', u'Latitude', u'Longitude', u'month'],
      dtype='object')

In [ ]:
# species_dummies = pd.get_dummies(train_df['Species']).iloc[:, 1:]
# # dummies = pd.concat([trap_dummies, species_dummies], axis=1)
# # dummies from first model
# species_dummies

In [52]:
# merged['Date'] = pd.to_datetime(merged.Date)

In [ ]:
# x = merged[['WnvPresent','NumMosquitos','Last7Average_Windspeed','Last7Average_Temp','Last7Total_Rainfall','month']]
# modeldf = pd.concat([x, dummies],axis=1)
# # modeldf
# from first model

In [97]:
test_df.columns

Index([u'Id', u'Last7Average_Temp', u'Species_fac', u'Last7Average_Windspeed',
       u'Last7Total_Rainfall', u'Last14Average_Temp',
       u'Last14Average_Windspeed', u'Last14Total_Rainfall',
       u'Last7Average_Daylight', u'Last14Average_Daylight',
       u'Last7Average_Departure', u'Last14Average_Departure', u'Latitude',
       u'Longitude', u'Trap_fac'],
      dtype='object')

In [82]:
train_df.to_csv('train_model_2.0.csv',index=False)

In [83]:
test_df.to_csv('test_model_2.0.csv',index=False)