In [2]:
import pandas as pd

In [5]:
train_csv = 'assets/train.csv'
train = pd.read_csv(train_csv)

In [3]:
test_df = pd.read_csv('./assets/test.csv')

In [7]:
test_df.head(100)

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9
1,2,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9
2,3,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9
3,4,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX SALINARIUS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9
4,5,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX TERRITANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9
5,6,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX TARSALIS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9
6,7,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",UNSPECIFIED CULEX,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9
7,8,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX ERRATICUS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9
8,9,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX PIPIENS/RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9
9,10,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9
10,11,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX PIPIENS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9
11,12,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX SALINARIUS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9
12,13,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX TERRITANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9
13,14,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX TARSALIS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9
14,15,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",UNSPECIFIED CULEX,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9
15,16,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX ERRATICUS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9
16,17,2008-06-11,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8
17,18,2008-06-11,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8
18,19,2008-06-11,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8
19,20,2008-06-11,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX SALINARIUS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8
20,21,2008-06-11,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX TERRITANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8
21,22,2008-06-11,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX TARSALIS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8
22,23,2008-06-11,"7900 West Foster Avenue, Chicago, IL 60656, USA",UNSPECIFIED CULEX,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8
23,24,2008-06-11,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX ERRATICUS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8
24,25,2008-06-11,"1500 West Webster Avenue, Chicago, IL 60614, USA",CULEX PIPIENS/RESTUANS,15,W WEBSTER AVE,T045,"1500 W WEBSTER AVE, Chicago, IL",41.921600,-87.666455,8
25,26,2008-06-11,"1500 West Webster Avenue, Chicago, IL 60614, USA",CULEX RESTUANS,15,W WEBSTER AVE,T045,"1500 W WEBSTER AVE, Chicago, IL",41.921600,-87.666455,8
26,27,2008-06-11,"1500 West Webster Avenue, Chicago, IL 60614, USA",CULEX PIPIENS,15,W WEBSTER AVE,T045,"1500 W WEBSTER AVE, Chicago, IL",41.921600,-87.666455,8
27,28,2008-06-11,"1500 West Webster Avenue, Chicago, IL 60614, USA",CULEX SALINARIUS,15,W WEBSTER AVE,T045,"1500 W WEBSTER AVE, Chicago, IL",41.921600,-87.666455,8
28,29,2008-06-11,"1500 West Webster Avenue, Chicago, IL 60614, USA",CULEX TERRITANS,15,W WEBSTER AVE,T045,"1500 W WEBSTER AVE, Chicago, IL",41.921600,-87.666455,8
29,30,2008-06-11,"1500 West Webster Avenue, Chicago, IL 60614, USA",CULEX TARSALIS,15,W WEBSTER AVE,T045,"1500 W WEBSTER AVE, Chicago, IL",41.921600,-87.666455,8
...,...,...,...,...,...,...,...,...,...,...,...
70,71,2008-06-11,"2200 North Cannon Drive, Chicago, IL 60614, USA",UNSPECIFIED CULEX,22,N CANNON DR,T054,"2200 N CANNON DR, Chicago, IL",41.921965,-87.632085,8
71,72,2008-06-11,"2200 North Cannon Drive, Chicago, IL 60614, USA",CULEX ERRATICUS,22,N CANNON DR,T054,"2200 N CANNON DR, Chicago, IL",41.921965,-87.632085,8
72,73,2008-06-11,"2200 West 113th Street, Chicago, IL 60643, USA",CULEX PIPIENS/RESTUANS,22,W 113TH ST,T086,"2200 W 113TH ST, Chicago, IL",41.688324,-87.676709,8
73,74,2008-06-11,"2200 West 113th Street, Chicago, IL 60643, USA",CULEX RESTUANS,22,W 113TH ST,T086,"2200 W 113TH ST, Chicago, IL",41.688324,-87.676709,8
74,75,2008-06-11,"2200 West 113th Street, Chicago, IL 60643, USA",CULEX PIPIENS,22,W 113TH ST,T086,"2200 W 113TH ST, Chicago, IL",41.688324,-87.676709,8
75,76,2008-06-11,"2200 West 113th Street, Chicago, IL 60643, USA",CULEX SALINARIUS,22,W 113TH ST,T086,"2200 W 113TH ST, Chicago, IL",41.688324,-87.676709,8
76,77,2008-06-11,"2200 West 113th Street, Chicago, IL 60643, USA",CULEX TERRITANS,22,W 113TH ST,T086,"2200 W 113TH ST, Chicago, IL",41.688324,-87.676709,8
77,78,2008-06-11,"2200 West 113th Street, Chicago, IL 60643, USA",CULEX TARSALIS,22,W 113TH ST,T086,"2200 W 113TH ST, Chicago, IL",41.688324,-87.676709,8
78,79,2008-06-11,"2200 West 113th Street, Chicago, IL 60643, USA",UNSPECIFIED CULEX,22,W 113TH ST,T086,"2200 W 113TH ST, Chicago, IL",41.688324,-87.676709,8
79,80,2008-06-11,"2200 West 113th Street, Chicago, IL 60643, USA",CULEX ERRATICUS,22,W 113TH ST,T086,"2200 W 113TH ST, Chicago, IL",41.688324,-87.676709,8
80,81,2008-06-11,"1100 South Peoria Street, Chicago, IL 60608, USA",CULEX PIPIENS/RESTUANS,11,S PEORIA ST,T091,"1100 S PEORIA ST, Chicago, IL",41.862292,-87.648860,8
81,82,2008-06-11,"1100 South Peoria Street, Chicago, IL 60608, USA",CULEX RESTUANS,11,S PEORIA ST,T091,"1100 S PEORIA ST, Chicago, IL",41.862292,-87.648860,8
82,83,2008-06-11,"1100 South Peoria Street, Chicago, IL 60608, USA",CULEX PIPIENS,11,S PEORIA ST,T091,"1100 S PEORIA ST, Chicago, IL",41.862292,-87.648860,8
83,84,2008-06-11,"1100 South Peoria Street, Chicago, IL 60608, USA",CULEX SALINARIUS,11,S PEORIA ST,T091,"1100 S PEORIA ST, Chicago, IL",41.862292,-87.648860,8
84,85,2008-06-11,"1100 South Peoria Street, Chicago, IL 60608, USA",CULEX TERRITANS,11,S PEORIA ST,T091,"1100 S PEORIA ST, Chicago, IL",41.862292,-87.648860,8
85,86,2008-06-11,"1100 South Peoria Street, Chicago, IL 60608, USA",CULEX TARSALIS,11,S PEORIA ST,T091,"1100 S PEORIA ST, Chicago, IL",41.862292,-87.648860,8
86,87,2008-06-11,"1100 South Peoria Street, Chicago, IL 60608, USA",UNSPECIFIED CULEX,11,S PEORIA ST,T091,"1100 S PEORIA ST, Chicago, IL",41.862292,-87.648860,8
87,88,2008-06-11,"1100 South Peoria Street, Chicago, IL 60608, USA",CULEX ERRATICUS,11,S PEORIA ST,T091,"1100 S PEORIA ST, Chicago, IL",41.862292,-87.648860,8
88,89,2008-06-11,"1700 West 95th Street, Chicago, IL 60643, USA",CULEX PIPIENS/RESTUANS,17,W 95TH ST,T094,"1700 W 95TH ST, Chicago, IL",41.720848,-87.666014,9
89,90,2008-06-11,"1700 West 95th Street, Chicago, IL 60643, USA",CULEX RESTUANS,17,W 95TH ST,T094,"1700 W 95TH ST, Chicago, IL",41.720848,-87.666014,9
90,91,2008-06-11,"1700 West 95th Street, Chicago, IL 60643, USA",CULEX PIPIENS,17,W 95TH ST,T094,"1700 W 95TH ST, Chicago, IL",41.720848,-87.666014,9
91,92,2008-06-11,"1700 West 95th Street, Chicago, IL 60643, USA",CULEX SALINARIUS,17,W 95TH ST,T094,"1700 W 95TH ST, Chicago, IL",41.720848,-87.666014,9
92,93,2008-06-11,"1700 West 95th Street, Chicago, IL 60643, USA",CULEX TERRITANS,17,W 95TH ST,T094,"1700 W 95TH ST, Chicago, IL",41.720848,-87.666014,9
93,94,2008-06-11,"1700 West 95th Street, Chicago, IL 60643, USA",CULEX TARSALIS,17,W 95TH ST,T094,"1700 W 95TH ST, Chicago, IL",41.720848,-87.666014,9
94,95,2008-06-11,"1700 West 95th Street, Chicago, IL 60643, USA",UNSPECIFIED CULEX,17,W 95TH ST,T094,"1700 W 95TH ST, Chicago, IL",41.720848,-87.666014,9
95,96,2008-06-11,"1700 West 95th Street, Chicago, IL 60643, USA",CULEX ERRATICUS,17,W 95TH ST,T094,"1700 W 95TH ST, Chicago, IL",41.720848,-87.666014,9
96,97,2008-06-11,"2200 West 89th Street, Chicago, IL 60643, USA",CULEX PIPIENS/RESTUANS,22,W 89TH ST,T096,"2200 W 89TH ST, Chicago, IL",41.731922,-87.677512,8
97,98,2008-06-11,"2200 West 89th Street, Chicago, IL 60643, USA",CULEX RESTUANS,22,W 89TH ST,T096,"2200 W 89TH ST, Chicago, IL",41.731922,-87.677512,8
98,99,2008-06-11,"2200 West 89th Street, Chicago, IL 60643, USA",CULEX PIPIENS,22,W 89TH ST,T096,"2200 W 89TH ST, Chicago, IL",41.731922,-87.677512,8
99,100,2008-06-11,"2200 West 89th Street, Chicago, IL 60643, USA",CULEX SALINARIUS,22,W 89TH ST,T096,"2200 W 89TH ST, Chicago, IL",41.731922,-87.677512,8

In [6]:
train.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0

In [8]:
from datetime import timedelta #importing timedelta
observed=test_df.groupby(['Trap','Date']).agg({'Date':'count'}) # making the df by trap and date
observed.rename(columns={'Date':'Records'}, inplace=True) # renaming column
observed.reset_index(level=1, inplace=True) # making the date index a column
observed.Date=pd.to_datetime(observed.Date,infer_datetime_format=True) # converting to time so I can do timedelta

# starting the loop through each trap id
for trap in observed.index.unique():
    # making an empty data frame to store each trap since I'm making a new df for each trap
    df2 = pd.DataFrame(columns=['Date', 'Records', 'More'])
    
    # storing each trap in a data frame
    df = observed.loc[[trap]]
    
    # adding the more column
    df['More']=''
    
    #starting a loop from the end of the dataframe to the start
    for i in reversed(range(len(df))):
        #making sure we aren't looking at the first row (since we can't index from there)
        if i!=0:
            # making sure we loop through every preceding row
            for j in range(1,10):
                # and making sure we don't index negatively out of the index
                if i>j:
                    # comparing the j previous date to the current date to see if it's within the last 7 days
                    if df.iloc[i,0]-df.iloc[i-j,0]<=timedelta(days=7):
                        # if it is and the number of rows for that date is greater than one, make More 1
                        if df.iloc[i-j,1]>1:
                            df.iloc[i,2]=1
                    else:
                        # since we found a date outside of the last 7 days, we can move to the next row
                        break
    #appending what we found to the end of the df
    df2=df2.append(df)
    print df

/Users/natalie/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/natalie/anaconda/lib/python2.7/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

           Date  Records More
Trap
T001 2008-06-11        8
T001 2008-06-17        8
T001 2008-06-24        8    1
T001 2008-07-01        8    1
T001 2008-07-04        8    1
T001 2008-07-11        8    1
T001 2008-07-14        8    1
T001 2008-07-21        8    1
T001 2008-07-23        8    1
T001 2008-07-24        8    1
T001 2008-07-28        8    1
T001 2008-07-29        8    1
T001 2008-08-04        8    1
T001 2008-08-05        8    1
T001 2008-08-12        8    1
T001 2008-08-13        8    1
T001 2008-08-19        8    1
T001 2008-08-25        8    1
T001 2008-08-26        8    1
T001 2008-09-02        8    1
T001 2008-09-03        8    1
T001 2008-09-09        8    1
T001 2008-09-15        8    1
T001 2008-09-19        8    1
T001 2008-09-29        8
T001 2010-06-02        8
T001 2010-06-11        8
T001 2010-06-18        8    1
T001 2010-06-25        8    1
T001 2010-06-28        8    1
...         ...      ...  ...
T001 2012-08-09        8    1
T001 2012-08-10        8    1
T001 2012-08-16        8    1
T001 2012-08-17        8    1
T001 2012-08-23        8    1
T001 2012-08-24        8    1
T001 2012-08-30        8    1
T001 2012-08-31        8    1
T001 2012-09-10        8
T001 2012-09-13        8    1
T001 2012-09-20        8    1
T001 2012-09-28        8
T001 2014-06-05        8
T001 2014-06-12        8    1
T001 2014-06-19        8    1
T001 2014-06-26        8    1
T001 2014-07-03        8    1
T001 2014-07-10        8    1
T001 2014-07-17        8    1
T001 2014-07-24        8    1
T001 2014-07-31        8    1
T001 2014-08-07        8    1
T001 2014-08-14        8    1
T001 2014-08-21        8    1
T001 2014-08-28        8    1
T001 2014-09-05        8
T001 2014-09-11        8    1
T001 2014-09-18        8    1
T001 2014-09-25        8    1
T001 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T002 2008-06-11        8
T002 2008-06-17        8
T002 2008-06-24        8    1
T002 2008-07-01        8    1
T002 2008-07-04        8    1
T002 2008-07-11        8    1
T002 2008-07-14        8    1
T002 2008-07-21        8    1
T002 2008-07-23       11    1
T002 2008-07-24        8    1
T002 2008-07-28        8    1
T002 2008-07-29        8    1
T002 2008-08-04        8    1
T002 2008-08-05        8    1
T002 2008-08-12        8    1
T002 2008-08-13        8    1
T002 2008-08-19       14    1
T002 2008-08-25       11    1
T002 2008-08-26        8    1
T002 2008-09-02       15    1
T002 2008-09-03        8    1
T002 2008-09-09       17    1
T002 2008-09-15        8    1
T002 2008-09-19        8    1
T002 2008-09-29        8
T002 2010-06-02        8
T002 2010-06-11        8
T002 2010-06-18        8    1
T002 2010-06-25        8    1
T002 2010-06-28        8    1
...         ...      ...  ...
T002 2012-08-09        8    1
T002 2012-08-10        8    1
T002 2012-08-16        8    1
T002 2012-08-17        8    1
T002 2012-08-23        8    1
T002 2012-08-24        8    1
T002 2012-08-30        8    1
T002 2012-08-31        8    1
T002 2012-09-10        9
T002 2012-09-13        8    1
T002 2012-09-20        8    1
T002 2012-09-28        8
T002 2014-06-05        8
T002 2014-06-12        9    1
T002 2014-06-19       14    1
T002 2014-06-26        8    1
T002 2014-07-03       12    1
T002 2014-07-10       10    1
T002 2014-07-17        8    1
T002 2014-07-24        8    1
T002 2014-07-31       13    1
T002 2014-08-07       16    1
T002 2014-08-14       16    1
T002 2014-08-21       13    1
T002 2014-08-28       11    1
T002 2014-09-05        8
T002 2014-09-11        9    1
T002 2014-09-18        8    1
T002 2014-09-25        8    1
T002 2014-10-02        8    1

[95 rows x 3 columns]
            Date  Records More
Trap
T002A 2008-06-11        8
T002A 2008-06-17        8
T002A 2008-06-24        8    1
T002A 2008-07-01        8    1
T002A 2008-07-04        8    1
T002A 2008-07-11        8    1
T002A 2008-07-14        8    1
T002A 2008-07-21        8    1
T002A 2008-07-23        8    1
T002A 2008-07-24        8    1
T002A 2008-07-28        8    1
T002A 2008-07-29        8    1
T002A 2008-08-04        8    1
T002A 2008-08-05        8    1
T002A 2008-08-12        8    1
T002A 2008-08-13        8    1
T002A 2008-08-19        8    1
T002A 2008-08-25        8    1
T002A 2008-08-26        8    1
T002A 2008-09-02        8    1
T002A 2008-09-03        8    1
T002A 2008-09-09        8    1
T002A 2008-09-15        8    1
T002A 2008-09-19        8    1
T002A 2008-09-29        8
T002A 2010-06-02        8
T002A 2010-06-11        8
T002A 2010-06-18        8    1
T002A 2010-06-25        8    1
T002A 2010-06-28        8    1
...          ...      ...  ...
T002A 2012-08-09        8    1
T002A 2012-08-10        8    1
T002A 2012-08-16        8    1
T002A 2012-08-17        8    1
T002A 2012-08-23        8    1
T002A 2012-08-24        8    1
T002A 2012-08-30        8    1
T002A 2012-08-31        8    1
T002A 2012-09-10        8
T002A 2012-09-13        8    1
T002A 2012-09-20        8    1
T002A 2012-09-28        8
T002A 2014-06-05        8
T002A 2014-06-12        8    1
T002A 2014-06-19        8    1
T002A 2014-06-26        8    1
T002A 2014-07-03        8    1
T002A 2014-07-10        8    1
T002A 2014-07-17        8    1
T002A 2014-07-24        8    1
T002A 2014-07-31        8    1
T002A 2014-08-07        8    1
T002A 2014-08-14        8    1
T002A 2014-08-21        8    1
T002A 2014-08-28        8    1
T002A 2014-09-05        8
T002A 2014-09-11        8    1
T002A 2014-09-18        8    1
T002A 2014-09-25        8    1
T002A 2014-10-02        8    1

[95 rows x 3 columns]
            Date  Records More
Trap
T002B 2008-06-11        8
T002B 2008-06-17        8
T002B 2008-06-24        8    1
T002B 2008-07-01        8    1
T002B 2008-07-04        8    1
T002B 2008-07-11        8    1
T002B 2008-07-14        8    1
T002B 2008-07-21        8    1
T002B 2008-07-23        8    1
T002B 2008-07-24        8    1
T002B 2008-07-28        8    1
T002B 2008-07-29        8    1
T002B 2008-08-04        8    1
T002B 2008-08-05        8    1
T002B 2008-08-12        8    1
T002B 2008-08-13        8    1
T002B 2008-08-19        8    1
T002B 2008-08-25        8    1
T002B 2008-08-26        8    1
T002B 2008-09-02        8    1
T002B 2008-09-03        8    1
T002B 2008-09-09        8    1
T002B 2008-09-15        8    1
T002B 2008-09-19        8    1
T002B 2008-09-29        8
T002B 2010-06-02        8
T002B 2010-06-11        8
T002B 2010-06-18        8    1
T002B 2010-06-25        8    1
T002B 2010-06-28        8    1
...          ...      ...  ...
T002B 2012-08-09        8    1
T002B 2012-08-10        8    1
T002B 2012-08-16        8    1
T002B 2012-08-17        8    1
T002B 2012-08-23        8    1
T002B 2012-08-24        8    1
T002B 2012-08-30        8    1
T002B 2012-08-31        8    1
T002B 2012-09-10        8
T002B 2012-09-13        8    1
T002B 2012-09-20        8    1
T002B 2012-09-28        8
T002B 2014-06-05        8
T002B 2014-06-12        8    1
T002B 2014-06-19        8    1
T002B 2014-06-26        8    1
T002B 2014-07-03        8    1
T002B 2014-07-10        8    1
T002B 2014-07-17        8    1
T002B 2014-07-24        8    1
T002B 2014-07-31        8    1
T002B 2014-08-07        8    1
T002B 2014-08-14        8    1
T002B 2014-08-21        8    1
T002B 2014-08-28        8    1
T002B 2014-09-05        8
T002B 2014-09-11        8    1
T002B 2014-09-18        8    1
T002B 2014-09-25        8    1
T002B 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T003 2008-06-11        8
T003 2008-06-17        8
T003 2008-06-24        9    1
T003 2008-07-01        8    1
T003 2008-07-04        8    1
T003 2008-07-11        8    1
T003 2008-07-14        8    1
T003 2008-07-21        8    1
T003 2008-07-23        9    1
T003 2008-07-24        8    1
T003 2008-07-28        8    1
T003 2008-07-29        8    1
T003 2008-08-04        8    1
T003 2008-08-05        8    1
T003 2008-08-12        8    1
T003 2008-08-13        8    1
T003 2008-08-19        8    1
T003 2008-08-25       10    1
T003 2008-08-26        8    1
T003 2008-09-02       10    1
T003 2008-09-03        8    1
T003 2008-09-09        8    1
T003 2008-09-15        8    1
T003 2008-09-19        8    1
T003 2008-09-29        8
T003 2010-06-02        8
T003 2010-06-11        8
T003 2010-06-18        8    1
T003 2010-06-25        8    1
T003 2010-06-28        8    1
...         ...      ...  ...
T003 2012-08-09        8    1
T003 2012-08-10        8    1
T003 2012-08-16        8    1
T003 2012-08-17        8    1
T003 2012-08-23        8    1
T003 2012-08-24        8    1
T003 2012-08-30        8    1
T003 2012-08-31        8    1
T003 2012-09-10        8
T003 2012-09-13        8    1
T003 2012-09-20        8    1
T003 2012-09-28        8
T003 2014-06-05        8
T003 2014-06-12        8    1
T003 2014-06-19        8    1
T003 2014-06-26        8    1
T003 2014-07-03        8    1
T003 2014-07-10        8    1
T003 2014-07-17        8    1
T003 2014-07-24        8    1
T003 2014-07-31        8    1
T003 2014-08-07        9    1
T003 2014-08-14        8    1
T003 2014-08-21        8    1
T003 2014-08-28        8    1
T003 2014-09-05        8
T003 2014-09-11        8    1
T003 2014-09-18        8    1
T003 2014-09-25        8    1
T003 2014-10-02        8    1

[95 rows x 3 columns]

           Date  Records More
Trap
T004 2008-06-11        8
T004 2008-06-17        8
T004 2008-06-24        8    1
T004 2008-07-01        8    1
T004 2008-07-04        8    1
T004 2008-07-11        8    1
T004 2008-07-14        8    1
T004 2008-07-21        8    1
T004 2008-07-23        8    1
T004 2008-07-24        8    1
T004 2008-07-28        8    1
T004 2008-07-29        8    1
T004 2008-08-04        8    1
T004 2008-08-05        8    1
T004 2008-08-12        8    1
T004 2008-08-13        8    1
T004 2008-08-19        8    1
T004 2008-08-25        8    1
T004 2008-08-26        8    1
T004 2008-09-02        8    1
T004 2008-09-03        8    1
T004 2008-09-09        8    1
T004 2008-09-15        8    1
T004 2008-09-19        8    1
T004 2008-09-29        8
T004 2010-06-02        8
T004 2010-06-11        8
T004 2010-06-18        8    1
T004 2010-06-25        8    1
T004 2010-06-28        8    1
...         ...      ...  ...
T004 2012-08-09        8    1
T004 2012-08-10        8    1
T004 2012-08-16        8    1
T004 2012-08-17        8    1
T004 2012-08-23        8    1
T004 2012-08-24        8    1
T004 2012-08-30        8    1
T004 2012-08-31        8    1
T004 2012-09-10        8
T004 2012-09-13        8    1
T004 2012-09-20        8    1
T004 2012-09-28        8
T004 2014-06-05        8
T004 2014-06-12        8    1
T004 2014-06-19        8    1
T004 2014-06-26        8    1
T004 2014-07-03        8    1
T004 2014-07-10        8    1
T004 2014-07-17        8    1
T004 2014-07-24        8    1
T004 2014-07-31        8    1
T004 2014-08-07        8    1
T004 2014-08-14        8    1
T004 2014-08-21        8    1
T004 2014-08-28        8    1
T004 2014-09-05        8
T004 2014-09-11        8    1
T004 2014-09-18        8    1
T004 2014-09-25        8    1
T004 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T005 2008-06-11        8
T005 2008-06-17        8
T005 2008-06-24        8    1
T005 2008-07-01        8    1
T005 2008-07-04        8    1
T005 2008-07-11        8    1
T005 2008-07-14        8    1
T005 2008-07-21        8    1
T005 2008-07-23        8    1
T005 2008-07-24        8    1
T005 2008-07-28        8    1
T005 2008-07-29        8    1
T005 2008-08-04        8    1
T005 2008-08-05        8    1
T005 2008-08-12        8    1
T005 2008-08-13        8    1
T005 2008-08-19        8    1
T005 2008-08-25        8    1
T005 2008-08-26        8    1
T005 2008-09-02        8    1
T005 2008-09-03        8    1
T005 2008-09-09        8    1
T005 2008-09-15        8    1
T005 2008-09-19        8    1
T005 2008-09-29        8
T005 2010-06-02        8
T005 2010-06-11        8
T005 2010-06-18        8    1
T005 2010-06-25        8    1
T005 2010-06-28        8    1
...         ...      ...  ...
T005 2012-08-09        8    1
T005 2012-08-10        8    1
T005 2012-08-16        8    1
T005 2012-08-17        8    1
T005 2012-08-23        8    1
T005 2012-08-24        8    1
T005 2012-08-30        8    1
T005 2012-08-31        8    1
T005 2012-09-10        8
T005 2012-09-13        8    1
T005 2012-09-20        8    1
T005 2012-09-28        8
T005 2014-06-05        8
T005 2014-06-12        8    1
T005 2014-06-19        8    1
T005 2014-06-26        8    1
T005 2014-07-03        8    1
T005 2014-07-10        8    1
T005 2014-07-17        8    1
T005 2014-07-24        8    1
T005 2014-07-31        8    1
T005 2014-08-07        8    1
T005 2014-08-14        8    1
T005 2014-08-21        8    1
T005 2014-08-28        8    1
T005 2014-09-05        8
T005 2014-09-11        8    1
T005 2014-09-18        8    1
T005 2014-09-25        8    1
T005 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T006 2008-06-11        8
T006 2008-06-17        8
T006 2008-06-24        8    1
T006 2008-07-01        8    1
T006 2008-07-04        8    1
T006 2008-07-11        8    1
T006 2008-07-14        8    1
T006 2008-07-21        8    1
T006 2008-07-23        8    1
T006 2008-07-24        8    1
T006 2008-07-28        8    1
T006 2008-07-29        8    1
T006 2008-08-04        8    1
T006 2008-08-05        8    1
T006 2008-08-12        8    1
T006 2008-08-13        8    1
T006 2008-08-19        8    1
T006 2008-08-25        8    1
T006 2008-08-26        8    1
T006 2008-09-02        8    1
T006 2008-09-03        8    1
T006 2008-09-09        8    1
T006 2008-09-15        8    1
T006 2008-09-19        8    1
T006 2008-09-29        8
T006 2010-06-02        8
T006 2010-06-11        8
T006 2010-06-18        8    1
T006 2010-06-25        8    1
T006 2010-06-28        8    1
...         ...      ...  ...
T006 2012-08-09        8    1
T006 2012-08-10        8    1
T006 2012-08-16        8    1
T006 2012-08-17        8    1
T006 2012-08-23        8    1
T006 2012-08-24        8    1
T006 2012-08-30        8    1
T006 2012-08-31        8    1
T006 2012-09-10        8
T006 2012-09-13        8    1
T006 2012-09-20        8    1
T006 2012-09-28        8
T006 2014-06-05        8
T006 2014-06-12        8    1
T006 2014-06-19        8    1
T006 2014-06-26        8    1
T006 2014-07-03        8    1
T006 2014-07-10        8    1
T006 2014-07-17        8    1
T006 2014-07-24        8    1
T006 2014-07-31        8    1
T006 2014-08-07        8    1
T006 2014-08-14        8    1
T006 2014-08-21        8    1
T006 2014-08-28        8    1
T006 2014-09-05        8
T006 2014-09-11        8    1
T006 2014-09-18        8    1
T006 2014-09-25        8    1
T006 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T007 2008-06-11        8
T007 2008-06-17        8
T007 2008-06-24        8    1
T007 2008-07-01        8    1
T007 2008-07-04        8    1
T007 2008-07-11        8    1
T007 2008-07-14        8    1
T007 2008-07-21        8    1
T007 2008-07-23        8    1
T007 2008-07-24        8    1
T007 2008-07-28        8    1
T007 2008-07-29        8    1
T007 2008-08-04        8    1
T007 2008-08-05        8    1
T007 2008-08-12        8    1
T007 2008-08-13        8    1
T007 2008-08-19        8    1
T007 2008-08-25        8    1
T007 2008-08-26        8    1
T007 2008-09-02        8    1
T007 2008-09-03        8    1
T007 2008-09-09        8    1
T007 2008-09-15        8    1
T007 2008-09-19        8    1
T007 2008-09-29        8
T007 2010-06-02        8
T007 2010-06-11        8
T007 2010-06-18        8    1
T007 2010-06-25        8    1
T007 2010-06-28        8    1
...         ...      ...  ...
T007 2012-08-09        8    1
T007 2012-08-10        8    1
T007 2012-08-16        8    1
T007 2012-08-17        8    1
T007 2012-08-23        8    1
T007 2012-08-24        8    1
T007 2012-08-30        8    1
T007 2012-08-31        8    1
T007 2012-09-10        8
T007 2012-09-13        8    1
T007 2012-09-20        8    1
T007 2012-09-28        8
T007 2014-06-05        8
T007 2014-06-12        8    1
T007 2014-06-19        8    1
T007 2014-06-26        8    1
T007 2014-07-03        8    1
T007 2014-07-10        8    1
T007 2014-07-17        8    1
T007 2014-07-24        8    1
T007 2014-07-31        8    1
T007 2014-08-07        8    1
T007 2014-08-14        8    1
T007 2014-08-21        8    1
T007 2014-08-28        8    1
T007 2014-09-05        8
T007 2014-09-11        8    1
T007 2014-09-18        8    1
T007 2014-09-25        8    1
T007 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T008 2008-06-11        8
T008 2008-06-17        8
T008 2008-06-24        8    1
T008 2008-07-01        8    1
T008 2008-07-04        8    1
T008 2008-07-11        8    1
T008 2008-07-14        8    1
T008 2008-07-21        8    1
T008 2008-07-23        8    1
T008 2008-07-24       11    1
T008 2008-07-28        8    1
T008 2008-07-29        8    1
T008 2008-08-04        9    1
T008 2008-08-05        8    1
T008 2008-08-12        8    1
T008 2008-08-13        8    1
T008 2008-08-19        9    1
T008 2008-08-25       10    1
T008 2008-08-26        8    1
T008 2008-09-02       10    1
T008 2008-09-03        8    1
T008 2008-09-09        9    1
T008 2008-09-15       10    1
T008 2008-09-19        8    1
T008 2008-09-29        8
T008 2010-06-02        8
T008 2010-06-11        8
T008 2010-06-18        8    1
T008 2010-06-25        8    1
T008 2010-06-28        8    1
...         ...      ...  ...
T008 2012-08-09        9    1
T008 2012-08-10        8    1
T008 2012-08-16        8    1
T008 2012-08-17        8    1
T008 2012-08-23        8    1
T008 2012-08-24        8    1
T008 2012-08-30        8    1
T008 2012-08-31        8    1
T008 2012-09-10        8
T008 2012-09-13        8    1
T008 2012-09-20        8    1
T008 2012-09-28        8
T008 2014-06-05        8
T008 2014-06-12        8    1
T008 2014-06-19        9    1
T008 2014-06-26        8    1
T008 2014-07-03        8    1
T008 2014-07-10        8    1
T008 2014-07-17        8    1
T008 2014-07-24        8    1
T008 2014-07-31        9    1
T008 2014-08-07        9    1
T008 2014-08-14       11    1
T008 2014-08-21       11    1
T008 2014-08-28        8    1
T008 2014-09-05        8
T008 2014-09-11        8    1
T008 2014-09-18        8    1
T008 2014-09-25        8    1
T008 2014-10-02        8    1

[95 rows x 3 columns]

           Date  Records More
Trap
T009 2008-06-11       16
T009 2008-06-17       16
T009 2008-06-24       16    1
T009 2008-07-01       16    1
T009 2008-07-04       16    1
T009 2008-07-11       16    1
T009 2008-07-14       16    1
T009 2008-07-21       16    1
T009 2008-07-23       16    1
T009 2008-07-24       16    1
T009 2008-07-28       16    1
T009 2008-07-29       16    1
T009 2008-08-04       16    1
T009 2008-08-05       16    1
T009 2008-08-12       16    1
T009 2008-08-13       16    1
T009 2008-08-19       16    1
T009 2008-08-25       16    1
T009 2008-08-26       16    1
T009 2008-09-02       16    1
T009 2008-09-03       16    1
T009 2008-09-09       16    1
T009 2008-09-15       16    1
T009 2008-09-19       16    1
T009 2008-09-29       16
T009 2010-06-02       16
T009 2010-06-11       16
T009 2010-06-18       16    1
T009 2010-06-25       16    1
T009 2010-06-28       16    1
...         ...      ...  ...
T009 2012-08-09       16    1
T009 2012-08-10       16    1
T009 2012-08-16       16    1
T009 2012-08-17       16    1
T009 2012-08-23       16    1
T009 2012-08-24       16    1
T009 2012-08-30       16    1
T009 2012-08-31       16    1
T009 2012-09-10       16
T009 2012-09-13       16    1
T009 2012-09-20       16    1
T009 2012-09-28       16
T009 2014-06-05       16
T009 2014-06-12       17    1
T009 2014-06-19       17    1
T009 2014-06-26       16    1
T009 2014-07-03       16    1
T009 2014-07-10       16    1
T009 2014-07-17       16    1
T009 2014-07-24       16    1
T009 2014-07-31       16    1
T009 2014-08-07       17    1
T009 2014-08-14       17    1
T009 2014-08-21       16    1
T009 2014-08-28       16    1
T009 2014-09-05       16
T009 2014-09-11       16    1
T009 2014-09-18       16    1
T009 2014-09-25       16    1
T009 2014-10-02       16    1

[95 rows x 3 columns]
           Date  Records More
Trap
T011 2008-06-11        8
T011 2008-06-17        8
T011 2008-06-24        8    1
T011 2008-07-01        8    1
T011 2008-07-04        8    1
T011 2008-07-11        8    1
T011 2008-07-14        8    1
T011 2008-07-21        8    1
T011 2008-07-23        8    1
T011 2008-07-24        8    1
T011 2008-07-28        8    1
T011 2008-07-29        8    1
T011 2008-08-04        8    1
T011 2008-08-05        8    1
T011 2008-08-12        8    1
T011 2008-08-13        8    1
T011 2008-08-19        8    1
T011 2008-08-25        8    1
T011 2008-08-26        8    1
T011 2008-09-02        8    1
T011 2008-09-03        8    1
T011 2008-09-09        8    1
T011 2008-09-15        9    1
T011 2008-09-19        8    1
T011 2008-09-29        8
T011 2010-06-02        8
T011 2010-06-11        8
T011 2010-06-18        8    1
T011 2010-06-25        8    1
T011 2010-06-28        8    1
...         ...      ...  ...
T011 2012-08-09        8    1
T011 2012-08-10        8    1
T011 2012-08-16       11    1
T011 2012-08-17        8    1
T011 2012-08-23        8    1
T011 2012-08-24        8    1
T011 2012-08-30        8    1
T011 2012-08-31        8    1
T011 2012-09-10        8
T011 2012-09-13        8    1
T011 2012-09-20        8    1
T011 2012-09-28        8
T011 2014-06-05        8
T011 2014-06-12        8    1
T011 2014-06-19        8    1
T011 2014-06-26        8    1
T011 2014-07-03        8    1
T011 2014-07-10        9    1
T011 2014-07-17        8    1
T011 2014-07-24        8    1
T011 2014-07-31        9    1
T011 2014-08-07       13    1
T011 2014-08-14       14    1
T011 2014-08-21       11    1
T011 2014-08-28        9    1
T011 2014-09-05        8
T011 2014-09-11        8    1
T011 2014-09-18        8    1
T011 2014-09-25        8    1
T011 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T012 2008-06-11        8
T012 2008-06-17        8
T012 2008-06-24        8    1
T012 2008-07-01        8    1
T012 2008-07-04        8    1
T012 2008-07-11        8    1
T012 2008-07-14        8    1
T012 2008-07-21        8    1
T012 2008-07-23        8    1
T012 2008-07-24        8    1
T012 2008-07-28        8    1
T012 2008-07-29        8    1
T012 2008-08-04        8    1
T012 2008-08-05        8    1
T012 2008-08-12        8    1
T012 2008-08-13        8    1
T012 2008-08-19        8    1
T012 2008-08-25        8    1
T012 2008-08-26        8    1
T012 2008-09-02        8    1
T012 2008-09-03        8    1
T012 2008-09-09        8    1
T012 2008-09-15        8    1
T012 2008-09-19        8    1
T012 2008-09-29        8
T012 2010-06-02        8
T012 2010-06-11        8
T012 2010-06-18        8    1
T012 2010-06-25        8    1
T012 2010-06-28        8    1
...         ...      ...  ...
T012 2012-08-09        8    1
T012 2012-08-10        8    1
T012 2012-08-16        8    1
T012 2012-08-17        8    1
T012 2012-08-23        8    1
T012 2012-08-24        8    1
T012 2012-08-30        8    1
T012 2012-08-31        8    1
T012 2012-09-10        8
T012 2012-09-13        8    1
T012 2012-09-20        8    1
T012 2012-09-28        8
T012 2014-06-05        9
T012 2014-06-12        9    1
T012 2014-06-19       13    1
T012 2014-06-26        9    1
T012 2014-07-03        8    1
T012 2014-07-10        9    1
T012 2014-07-17        9    1
T012 2014-07-24        8    1
T012 2014-07-31       12    1
T012 2014-08-07        9    1
T012 2014-08-14       11    1
T012 2014-08-21       10    1
T012 2014-08-28        8    1
T012 2014-09-05        8
T012 2014-09-11        8    1
T012 2014-09-18        8    1
T012 2014-09-25        8    1
T012 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T013 2008-06-11        8
T013 2008-06-17        8
T013 2008-06-24        8    1
T013 2008-07-01        8    1
T013 2008-07-04        8    1
T013 2008-07-11        8    1
T013 2008-07-14        8    1
T013 2008-07-21        8    1
T013 2008-07-23        8    1
T013 2008-07-24        8    1
T013 2008-07-28        8    1
T013 2008-07-29        8    1
T013 2008-08-04        8    1
T013 2008-08-05        8    1
T013 2008-08-12        8    1
T013 2008-08-13        8    1
T013 2008-08-19        8    1
T013 2008-08-25        8    1
T013 2008-08-26        8    1
T013 2008-09-02        8    1
T013 2008-09-03        8    1
T013 2008-09-09        8    1
T013 2008-09-15        8    1
T013 2008-09-19        8    1
T013 2008-09-29        8
T013 2010-06-02        8
T013 2010-06-11        8
T013 2010-06-18        8    1
T013 2010-06-25        8    1
T013 2010-06-28        8    1
...         ...      ...  ...
T013 2012-08-09        8    1
T013 2012-08-10        8    1
T013 2012-08-16       10    1
T013 2012-08-17        8    1
T013 2012-08-23        8    1
T013 2012-08-24        8    1
T013 2012-08-30        8    1
T013 2012-08-31        8    1
T013 2012-09-10        9
T013 2012-09-13        8    1
T013 2012-09-20        8    1
T013 2012-09-28        8
T013 2014-06-05        8
T013 2014-06-12        8    1
T013 2014-06-19        8    1
T013 2014-06-26        8    1
T013 2014-07-03        8    1
T013 2014-07-10        8    1
T013 2014-07-17        8    1
T013 2014-07-24        8    1
T013 2014-07-31        8    1
T013 2014-08-07        8    1
T013 2014-08-14        9    1
T013 2014-08-21        8    1
T013 2014-08-28        8    1
T013 2014-09-05        8
T013 2014-09-11        8    1
T013 2014-09-18        8    1
T013 2014-09-25        8    1
T013 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T014 2008-06-11        8
T014 2008-06-17        8
T014 2008-06-24        8    1
T014 2008-07-01        8    1
T014 2008-07-04        8    1
T014 2008-07-11        8    1
T014 2008-07-14        8    1
T014 2008-07-21        8    1
T014 2008-07-23        8    1
T014 2008-07-24        8    1
T014 2008-07-28        8    1
T014 2008-07-29        8    1
T014 2008-08-04        8    1
T014 2008-08-05        8    1
T014 2008-08-12        8    1
T014 2008-08-13        8    1
T014 2008-08-19        8    1
T014 2008-08-25       10    1
T014 2008-08-26        8    1
T014 2008-09-02        8    1
T014 2008-09-03        8    1
T014 2008-09-09        8    1
T014 2008-09-15        8    1
T014 2008-09-19        8    1
T014 2008-09-29        8
T014 2010-06-02        8
T014 2010-06-11        8
T014 2010-06-18        8    1
T014 2010-06-25        8    1
T014 2010-06-28        8    1
...         ...      ...  ...
T014 2012-08-09        8    1
T014 2012-08-10        8    1
T014 2012-08-16        8    1
T014 2012-08-17        8    1
T014 2012-08-23        8    1
T014 2012-08-24        8    1
T014 2012-08-30        8    1
T014 2012-08-31        8    1
T014 2012-09-10        8
T014 2012-09-13        8    1
T014 2012-09-20        8    1
T014 2012-09-28        8
T014 2014-06-05        8
T014 2014-06-12        8    1
T014 2014-06-19        8    1
T014 2014-06-26        8    1
T014 2014-07-03        8    1
T014 2014-07-10        8    1
T014 2014-07-17        8    1
T014 2014-07-24        8    1
T014 2014-07-31        8    1
T014 2014-08-07        8    1
T014 2014-08-14        8    1
T014 2014-08-21        8    1
T014 2014-08-28        8    1
T014 2014-09-05        8
T014 2014-09-11        8    1
T014 2014-09-18        8    1
T014 2014-09-25        8    1
T014 2014-10-02        8    1

[95 rows x 3 columns]

           Date  Records More
Trap
T015 2008-06-11        8
T015 2008-06-17        8
T015 2008-06-24        8    1
T015 2008-07-01        8    1
T015 2008-07-04        8    1
T015 2008-07-11        8    1
T015 2008-07-14        8    1
T015 2008-07-21        8    1
T015 2008-07-23        8    1
T015 2008-07-24        8    1
T015 2008-07-28        8    1
T015 2008-07-29        8    1
T015 2008-08-04        8    1
T015 2008-08-05        8    1
T015 2008-08-12        8    1
T015 2008-08-13        8    1
T015 2008-08-19        8    1
T015 2008-08-25        8    1
T015 2008-08-26        8    1
T015 2008-09-02        8    1
T015 2008-09-03        8    1
T015 2008-09-09        8    1
T015 2008-09-15        8    1
T015 2008-09-19        8    1
T015 2008-09-29        8
T015 2010-06-02        8
T015 2010-06-11        8
T015 2010-06-18        8    1
T015 2010-06-25        8    1
T015 2010-06-28        8    1
...         ...      ...  ...
T015 2012-08-09        8    1
T015 2012-08-10        8    1
T015 2012-08-16        8    1
T015 2012-08-17        8    1
T015 2012-08-23        8    1
T015 2012-08-24        8    1
T015 2012-08-30        8    1
T015 2012-08-31        8    1
T015 2012-09-10        8
T015 2012-09-13        8    1
T015 2012-09-20        8    1
T015 2012-09-28        8
T015 2014-06-05        8
T015 2014-06-12        8    1
T015 2014-06-19        8    1
T015 2014-06-26        8    1
T015 2014-07-03        8    1
T015 2014-07-10        8    1
T015 2014-07-17        8    1
T015 2014-07-24        8    1
T015 2014-07-31        8    1
T015 2014-08-07        8    1
T015 2014-08-14        8    1
T015 2014-08-21        8    1
T015 2014-08-28        8    1
T015 2014-09-05        8
T015 2014-09-11        8    1
T015 2014-09-18        8    1
T015 2014-09-25        8    1
T015 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T016 2008-06-11        8
T016 2008-06-17        8
T016 2008-06-24        8    1
T016 2008-07-01        8    1
T016 2008-07-04        8    1
T016 2008-07-11        8    1
T016 2008-07-14        8    1
T016 2008-07-21        8    1
T016 2008-07-23        8    1
T016 2008-07-24        9    1
T016 2008-07-28        8    1
T016 2008-07-29        8    1
T016 2008-08-04       10    1
T016 2008-08-05        8    1
T016 2008-08-12        8    1
T016 2008-08-13        8    1
T016 2008-08-19        8    1
T016 2008-08-25        8    1
T016 2008-08-26        8    1
T016 2008-09-02       14    1
T016 2008-09-03        8    1
T016 2008-09-09       14    1
T016 2008-09-15        8    1
T016 2008-09-19        8    1
T016 2008-09-29        8
T016 2010-06-02        8
T016 2010-06-11        8
T016 2010-06-18        8    1
T016 2010-06-25        8    1
T016 2010-06-28        8    1
...         ...      ...  ...
T016 2012-08-09        8    1
T016 2012-08-10        8    1
T016 2012-08-16        8    1
T016 2012-08-17        8    1
T016 2012-08-23        8    1
T016 2012-08-24        8    1
T016 2012-08-30        8    1
T016 2012-08-31        8    1
T016 2012-09-10        8
T016 2012-09-13        8    1
T016 2012-09-20        8    1
T016 2012-09-28        8
T016 2014-06-05        8
T016 2014-06-12        8    1
T016 2014-06-19        8    1
T016 2014-06-26        8    1
T016 2014-07-03        8    1
T016 2014-07-10        8    1
T016 2014-07-17        8    1
T016 2014-07-24        8    1
T016 2014-07-31        8    1
T016 2014-08-07        8    1
T016 2014-08-14        8    1
T016 2014-08-21        8    1
T016 2014-08-28        8    1
T016 2014-09-05        8
T016 2014-09-11        8    1
T016 2014-09-18        8    1
T016 2014-09-25        8    1
T016 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T017 2008-06-11        8
T017 2008-06-17        8
T017 2008-06-24        8    1
T017 2008-07-01        8    1
T017 2008-07-04        8    1
T017 2008-07-11        8    1
T017 2008-07-14        8    1
T017 2008-07-21        8    1
T017 2008-07-23        8    1
T017 2008-07-24        8    1
T017 2008-07-28        8    1
T017 2008-07-29        8    1
T017 2008-08-04        8    1
T017 2008-08-05        8    1
T017 2008-08-12        8    1
T017 2008-08-13        8    1
T017 2008-08-19        8    1
T017 2008-08-25        8    1
T017 2008-08-26        8    1
T017 2008-09-02        8    1
T017 2008-09-03        8    1
T017 2008-09-09        8    1
T017 2008-09-15        8    1
T017 2008-09-19        8    1
T017 2008-09-29        8
T017 2010-06-02        8
T017 2010-06-11        8
T017 2010-06-18        8    1
T017 2010-06-25        8    1
T017 2010-06-28        8    1
...         ...      ...  ...
T017 2012-08-09        8    1
T017 2012-08-10        8    1
T017 2012-08-16        8    1
T017 2012-08-17        8    1
T017 2012-08-23        8    1
T017 2012-08-24        8    1
T017 2012-08-30        8    1
T017 2012-08-31        8    1
T017 2012-09-10        8
T017 2012-09-13        8    1
T017 2012-09-20        8    1
T017 2012-09-28        8
T017 2014-06-05        8
T017 2014-06-12        8    1
T017 2014-06-19        8    1
T017 2014-06-26        8    1
T017 2014-07-03        8    1
T017 2014-07-10        8    1
T017 2014-07-17        8    1
T017 2014-07-24        8    1
T017 2014-07-31        8    1
T017 2014-08-07        8    1
T017 2014-08-14        8    1
T017 2014-08-21        8    1
T017 2014-08-28        8    1
T017 2014-09-05        8
T017 2014-09-11        8    1
T017 2014-09-18        8    1
T017 2014-09-25        8    1
T017 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T018 2008-06-11        8
T018 2008-06-17        8
T018 2008-06-24        8    1
T018 2008-07-01        8    1
T018 2008-07-04        8    1
T018 2008-07-11        8    1
T018 2008-07-14        8    1
T018 2008-07-21        8    1
T018 2008-07-23        8    1
T018 2008-07-24        8    1
T018 2008-07-28        8    1
T018 2008-07-29        8    1
T018 2008-08-04        8    1
T018 2008-08-05        8    1
T018 2008-08-12        8    1
T018 2008-08-13        8    1
T018 2008-08-19        8    1
T018 2008-08-25        8    1
T018 2008-08-26        8    1
T018 2008-09-02        8    1
T018 2008-09-03        8    1
T018 2008-09-09        8    1
T018 2008-09-15        8    1
T018 2008-09-19        8    1
T018 2008-09-29        8
T018 2010-06-02        8
T018 2010-06-11        8
T018 2010-06-18        8    1
T018 2010-06-25        8    1
T018 2010-06-28        8    1
...         ...      ...  ...
T018 2012-08-09        8    1
T018 2012-08-10        8    1
T018 2012-08-16        8    1
T018 2012-08-17        8    1
T018 2012-08-23        8    1
T018 2012-08-24        8    1
T018 2012-08-30        8    1
T018 2012-08-31        8    1
T018 2012-09-10        8
T018 2012-09-13        8    1
T018 2012-09-20        8    1
T018 2012-09-28        8
T018 2014-06-05        8
T018 2014-06-12        8    1
T018 2014-06-19        8    1
T018 2014-06-26        8    1
T018 2014-07-03        8    1
T018 2014-07-10        8    1
T018 2014-07-17        8    1
T018 2014-07-24        8    1
T018 2014-07-31        8    1
T018 2014-08-07        8    1
T018 2014-08-14        8    1
T018 2014-08-21        8    1
T018 2014-08-28        8    1
T018 2014-09-05        8
T018 2014-09-11        8    1
T018 2014-09-18        8    1
T018 2014-09-25        8    1
T018 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T019 2008-06-11        8
T019 2008-06-17        8
T019 2008-06-24        8    1
T019 2008-07-01        8    1
T019 2008-07-04        8    1
T019 2008-07-11        8    1
T019 2008-07-14        8    1
T019 2008-07-21        8    1
T019 2008-07-23        8    1
T019 2008-07-24        8    1
T019 2008-07-28        8    1
T019 2008-07-29        8    1
T019 2008-08-04        8    1
T019 2008-08-05        8    1
T019 2008-08-12        8    1
T019 2008-08-13        8    1
T019 2008-08-19        8    1
T019 2008-08-25        8    1
T019 2008-08-26        8    1
T019 2008-09-02        8    1
T019 2008-09-03        8    1
T019 2008-09-09        8    1
T019 2008-09-15        8    1
T019 2008-09-19        8    1
T019 2008-09-29        8
T019 2010-06-02        8
T019 2010-06-11        8
T019 2010-06-18        8    1
T019 2010-06-25        8    1
T019 2010-06-28        8    1
...         ...      ...  ...
T019 2012-08-09        8    1
T019 2012-08-10        8    1
T019 2012-08-16        8    1
T019 2012-08-17        8    1
T019 2012-08-23        8    1
T019 2012-08-24        8    1
T019 2012-08-30        8    1
T019 2012-08-31        8    1
T019 2012-09-10        8
T019 2012-09-13        8    1
T019 2012-09-20        8    1
T019 2012-09-28        8
T019 2014-06-05        8
T019 2014-06-12        8    1
T019 2014-06-19        8    1
T019 2014-06-26        8    1
T019 2014-07-03        8    1
T019 2014-07-10        8    1
T019 2014-07-17        8    1
T019 2014-07-24        8    1
T019 2014-07-31        8    1
T019 2014-08-07        8    1
T019 2014-08-14        8    1
T019 2014-08-21        8    1
T019 2014-08-28        8    1
T019 2014-09-05        8
T019 2014-09-11        8    1
T019 2014-09-18        8    1
T019 2014-09-25        8    1
T019 2014-10-02        8    1

[95 rows x 3 columns]

           Date  Records More
Trap
T025 2008-06-11        8
T025 2008-06-17        8
T025 2008-06-24        8    1
T025 2008-07-01        8    1
T025 2008-07-04        8    1
T025 2008-07-11        8    1
T025 2008-07-14        8    1
T025 2008-07-21        8    1
T025 2008-07-23        8    1
T025 2008-07-24        8    1
T025 2008-07-28        8    1
T025 2008-07-29        8    1
T025 2008-08-04        8    1
T025 2008-08-05        8    1
T025 2008-08-12        8    1
T025 2008-08-13        8    1
T025 2008-08-19        8    1
T025 2008-08-25        8    1
T025 2008-08-26        8    1
T025 2008-09-02        8    1
T025 2008-09-03        8    1
T025 2008-09-09        8    1
T025 2008-09-15        8    1
T025 2008-09-19        8    1
T025 2008-09-29        8
T025 2010-06-02        8
T025 2010-06-11        8
T025 2010-06-18        8    1
T025 2010-06-25        8    1
T025 2010-06-28        8    1
...         ...      ...  ...
T025 2012-08-09        8    1
T025 2012-08-10        8    1
T025 2012-08-16        8    1
T025 2012-08-17        8    1
T025 2012-08-23        8    1
T025 2012-08-24        8    1
T025 2012-08-30        8    1
T025 2012-08-31        8    1
T025 2012-09-10        8
T025 2012-09-13        8    1
T025 2012-09-20        8    1
T025 2012-09-28        8
T025 2014-06-05        8
T025 2014-06-12        8    1
T025 2014-06-19        8    1
T025 2014-06-26        8    1
T025 2014-07-03        8    1
T025 2014-07-10        8    1
T025 2014-07-17        8    1
T025 2014-07-24        8    1
T025 2014-07-31        8    1
T025 2014-08-07        8    1
T025 2014-08-14        8    1
T025 2014-08-21        8    1
T025 2014-08-28        8    1
T025 2014-09-05        8
T025 2014-09-11        8    1
T025 2014-09-18        8    1
T025 2014-09-25        8    1
T025 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T027 2008-06-11        8
T027 2008-06-17        8
T027 2008-06-24        8    1
T027 2008-07-01        8    1
T027 2008-07-04        8    1
T027 2008-07-11        8    1
T027 2008-07-14        8    1
T027 2008-07-21        8    1
T027 2008-07-23        8    1
T027 2008-07-24        8    1
T027 2008-07-28        8    1
T027 2008-07-29        8    1
T027 2008-08-04        8    1
T027 2008-08-05        8    1
T027 2008-08-12       10    1
T027 2008-08-13        8    1
T027 2008-08-19        8    1
T027 2008-08-25        8    1
T027 2008-08-26        9    1
T027 2008-09-02        8    1
T027 2008-09-03        8    1
T027 2008-09-09        8    1
T027 2008-09-15        8    1
T027 2008-09-19        8    1
T027 2008-09-29        8
T027 2010-06-02        8
T027 2010-06-11        8
T027 2010-06-18        8    1
T027 2010-06-25        8    1
T027 2010-06-28        8    1
...         ...      ...  ...
T027 2012-08-09        9    1
T027 2012-08-10        8    1
T027 2012-08-16        8    1
T027 2012-08-17        8    1
T027 2012-08-23        8    1
T027 2012-08-24        8    1
T027 2012-08-30        8    1
T027 2012-08-31        8    1
T027 2012-09-10        8
T027 2012-09-13        8    1
T027 2012-09-20        8    1
T027 2012-09-28        8
T027 2014-06-05        8
T027 2014-06-12        8    1
T027 2014-06-19        8    1
T027 2014-06-26        8    1
T027 2014-07-03        9    1
T027 2014-07-10        8    1
T027 2014-07-17        9    1
T027 2014-07-24        8    1
T027 2014-07-31        8    1
T027 2014-08-07        8    1
T027 2014-08-14        8    1
T027 2014-08-21        8    1
T027 2014-08-28        8    1
T027 2014-09-05        8
T027 2014-09-11        8    1
T027 2014-09-18        8    1
T027 2014-09-25        8    1
T027 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T028 2008-06-11        8
T028 2008-06-17        8
T028 2008-06-24        8    1
T028 2008-07-01        8    1
T028 2008-07-04        8    1
T028 2008-07-11        8    1
T028 2008-07-14        8    1
T028 2008-07-21        8    1
T028 2008-07-23        8    1
T028 2008-07-24        8    1
T028 2008-07-28        8    1
T028 2008-07-29        8    1
T028 2008-08-04        8    1
T028 2008-08-05        8    1
T028 2008-08-12        8    1
T028 2008-08-13        8    1
T028 2008-08-19        8    1
T028 2008-08-25        9    1
T028 2008-08-26        8    1
T028 2008-09-02        8    1
T028 2008-09-03        8    1
T028 2008-09-09        9    1
T028 2008-09-15        8    1
T028 2008-09-19        8    1
T028 2008-09-29        8
T028 2010-06-02        8
T028 2010-06-11        8
T028 2010-06-18        8    1
T028 2010-06-25        8    1
T028 2010-06-28        8    1
...         ...      ...  ...
T028 2012-08-09        8    1
T028 2012-08-10        8    1
T028 2012-08-16        8    1
T028 2012-08-17        8    1
T028 2012-08-23        8    1
T028 2012-08-24        8    1
T028 2012-08-30        8    1
T028 2012-08-31        8    1
T028 2012-09-10        8
T028 2012-09-13        8    1
T028 2012-09-20        8    1
T028 2012-09-28        8
T028 2014-06-05        8
T028 2014-06-12        8    1
T028 2014-06-19        8    1
T028 2014-06-26        8    1
T028 2014-07-03        9    1
T028 2014-07-10        8    1
T028 2014-07-17        8    1
T028 2014-07-24        8    1
T028 2014-07-31        9    1
T028 2014-08-07        8    1
T028 2014-08-14        8    1
T028 2014-08-21        8    1
T028 2014-08-28        8    1
T028 2014-09-05        8
T028 2014-09-11        8    1
T028 2014-09-18        8    1
T028 2014-09-25        8    1
T028 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T030 2008-06-11        8
T030 2008-06-17        8
T030 2008-06-24        9    1
T030 2008-07-01        8    1
T030 2008-07-04        8    1
T030 2008-07-11        8    1
T030 2008-07-14        8    1
T030 2008-07-21        8    1
T030 2008-07-23        8    1
T030 2008-07-24        8    1
T030 2008-07-28        8    1
T030 2008-07-29        8    1
T030 2008-08-04        8    1
T030 2008-08-05        8    1
T030 2008-08-12        8    1
T030 2008-08-13        8    1
T030 2008-08-19        8    1
T030 2008-08-25        8    1
T030 2008-08-26        8    1
T030 2008-09-02        8    1
T030 2008-09-03        8    1
T030 2008-09-09       10    1
T030 2008-09-15        8    1
T030 2008-09-19        8    1
T030 2008-09-29        8
T030 2010-06-02        8
T030 2010-06-11        8
T030 2010-06-18        8    1
T030 2010-06-25        8    1
T030 2010-06-28        8    1
...         ...      ...  ...
T030 2012-08-09        8    1
T030 2012-08-10        8    1
T030 2012-08-16        8    1
T030 2012-08-17        8    1
T030 2012-08-23        8    1
T030 2012-08-24        8    1
T030 2012-08-30        8    1
T030 2012-08-31        8    1
T030 2012-09-10        8
T030 2012-09-13        8    1
T030 2012-09-20        8    1
T030 2012-09-28        8
T030 2014-06-05        8
T030 2014-06-12        9    1
T030 2014-06-19        8    1
T030 2014-06-26        8    1
T030 2014-07-03        8    1
T030 2014-07-10       10    1
T030 2014-07-17        8    1
T030 2014-07-24        8    1
T030 2014-07-31        9    1
T030 2014-08-07        8    1
T030 2014-08-14        8    1
T030 2014-08-21       10    1
T030 2014-08-28        9    1
T030 2014-09-05        9
T030 2014-09-11        8    1
T030 2014-09-18        8    1
T030 2014-09-25        8    1
T030 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T031 2008-06-11        8
T031 2008-06-17        8
T031 2008-06-24        8    1
T031 2008-07-01        8    1
T031 2008-07-04        8    1
T031 2008-07-11        8    1
T031 2008-07-14        8    1
T031 2008-07-21        8    1
T031 2008-07-23        8    1
T031 2008-07-24        8    1
T031 2008-07-28        8    1
T031 2008-07-29        8    1
T031 2008-08-04        8    1
T031 2008-08-05        8    1
T031 2008-08-12        9    1
T031 2008-08-13        8    1
T031 2008-08-19        8    1
T031 2008-08-25        8    1
T031 2008-08-26        9    1
T031 2008-09-02        8    1
T031 2008-09-03        8    1
T031 2008-09-09        8    1
T031 2008-09-15        8    1
T031 2008-09-19        8    1
T031 2008-09-29        8
T031 2010-06-02        8
T031 2010-06-11        8
T031 2010-06-18        8    1
T031 2010-06-25        8    1
T031 2010-06-28        8    1
...         ...      ...  ...
T031 2012-08-09        8    1
T031 2012-08-10        8    1
T031 2012-08-16        8    1
T031 2012-08-17        8    1
T031 2012-08-23        8    1
T031 2012-08-24        8    1
T031 2012-08-30        8    1
T031 2012-08-31        8    1
T031 2012-09-10        8
T031 2012-09-13        8    1
T031 2012-09-20        8    1
T031 2012-09-28        8
T031 2014-06-05        8
T031 2014-06-12        8    1
T031 2014-06-19        8    1
T031 2014-06-26        8    1
T031 2014-07-03        8    1
T031 2014-07-10        8    1
T031 2014-07-17        8    1
T031 2014-07-24        8    1
T031 2014-07-31        8    1
T031 2014-08-07        8    1
T031 2014-08-14        8    1
T031 2014-08-21        8    1
T031 2014-08-28        8    1
T031 2014-09-05        8
T031 2014-09-11        8    1
T031 2014-09-18        8    1
T031 2014-09-25        8    1
T031 2014-10-02        8    1

[95 rows x 3 columns]

           Date  Records More
Trap
T033 2008-06-11        8
T033 2008-06-17        8
T033 2008-06-24        8    1
T033 2008-07-01        8    1
T033 2008-07-04        8    1
T033 2008-07-11        8    1
T033 2008-07-14        8    1
T033 2008-07-21        8    1
T033 2008-07-23        8    1
T033 2008-07-24        8    1
T033 2008-07-28        8    1
T033 2008-07-29        8    1
T033 2008-08-04        8    1
T033 2008-08-05        8    1
T033 2008-08-12        8    1
T033 2008-08-13        8    1
T033 2008-08-19        8    1
T033 2008-08-25        8    1
T033 2008-08-26        8    1
T033 2008-09-02        8    1
T033 2008-09-03        8    1
T033 2008-09-09        8    1
T033 2008-09-15        8    1
T033 2008-09-19        8    1
T033 2008-09-29        8
T033 2010-06-02        8
T033 2010-06-11        8
T033 2010-06-18        8    1
T033 2010-06-25        8    1
T033 2010-06-28        8    1
...         ...      ...  ...
T033 2012-08-09        8    1
T033 2012-08-10        8    1
T033 2012-08-16        8    1
T033 2012-08-17        8    1
T033 2012-08-23        8    1
T033 2012-08-24        8    1
T033 2012-08-30        8    1
T033 2012-08-31        8    1
T033 2012-09-10        8
T033 2012-09-13        8    1
T033 2012-09-20        8    1
T033 2012-09-28        8
T033 2014-06-05        8
T033 2014-06-12        8    1
T033 2014-06-19        8    1
T033 2014-06-26        8    1
T033 2014-07-03        8    1
T033 2014-07-10        8    1
T033 2014-07-17        8    1
T033 2014-07-24        8    1
T033 2014-07-31        8    1
T033 2014-08-07        8    1
T033 2014-08-14        9    1
T033 2014-08-21        9    1
T033 2014-08-28        8    1
T033 2014-09-05        8
T033 2014-09-11        8    1
T033 2014-09-18        8    1
T033 2014-09-25        8    1
T033 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T034 2008-06-11        8
T034 2008-06-17        8
T034 2008-06-24        8    1
T034 2008-07-01        8    1
T034 2008-07-04        8    1
T034 2008-07-11        8    1
T034 2008-07-14        8    1
T034 2008-07-21        8    1
T034 2008-07-23        8    1
T034 2008-07-24        8    1
T034 2008-07-28        8    1
T034 2008-07-29        8    1
T034 2008-08-04        8    1
T034 2008-08-05        8    1
T034 2008-08-12        8    1
T034 2008-08-13        8    1
T034 2008-08-19        8    1
T034 2008-08-25        8    1
T034 2008-08-26        8    1
T034 2008-09-02        8    1
T034 2008-09-03        8    1
T034 2008-09-09        8    1
T034 2008-09-15        8    1
T034 2008-09-19        8    1
T034 2008-09-29        8
T034 2010-06-02        8
T034 2010-06-11        8
T034 2010-06-18        8    1
T034 2010-06-25        8    1
T034 2010-06-28        8    1
...         ...      ...  ...
T034 2012-08-09        8    1
T034 2012-08-10        8    1
T034 2012-08-16        8    1
T034 2012-08-17        8    1
T034 2012-08-23        8    1
T034 2012-08-24        8    1
T034 2012-08-30        8    1
T034 2012-08-31        8    1
T034 2012-09-10        8
T034 2012-09-13        8    1
T034 2012-09-20        8    1
T034 2012-09-28        8
T034 2014-06-05        8
T034 2014-06-12        8    1
T034 2014-06-19        8    1
T034 2014-06-26        8    1
T034 2014-07-03        8    1
T034 2014-07-10        8    1
T034 2014-07-17        8    1
T034 2014-07-24        8    1
T034 2014-07-31        8    1
T034 2014-08-07        8    1
T034 2014-08-14        8    1
T034 2014-08-21        8    1
T034 2014-08-28        8    1
T034 2014-09-05        8
T034 2014-09-11        8    1
T034 2014-09-18        8    1
T034 2014-09-25        8    1
T034 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T035 2008-06-11       16
T035 2008-06-17       16
T035 2008-06-24       16    1
T035 2008-07-01       16    1
T035 2008-07-04       16    1
T035 2008-07-11       16    1
T035 2008-07-14       16    1
T035 2008-07-21       16    1
T035 2008-07-23       16    1
T035 2008-07-24       16    1
T035 2008-07-28       16    1
T035 2008-07-29       16    1
T035 2008-08-04       16    1
T035 2008-08-05       16    1
T035 2008-08-12       16    1
T035 2008-08-13       16    1
T035 2008-08-19       16    1
T035 2008-08-25       16    1
T035 2008-08-26       16    1
T035 2008-09-02       16    1
T035 2008-09-03       16    1
T035 2008-09-09       16    1
T035 2008-09-15       16    1
T035 2008-09-19       16    1
T035 2008-09-29       16
T035 2010-06-02       16
T035 2010-06-11       16
T035 2010-06-18       16    1
T035 2010-06-25       16    1
T035 2010-06-28       16    1
...         ...      ...  ...
T035 2012-08-09       16    1
T035 2012-08-10       16    1
T035 2012-08-16       16    1
T035 2012-08-17       16    1
T035 2012-08-23       16    1
T035 2012-08-24       16    1
T035 2012-08-30       16    1
T035 2012-08-31       16    1
T035 2012-09-10       16
T035 2012-09-13       16    1
T035 2012-09-20       16    1
T035 2012-09-28       16
T035 2014-06-05       16
T035 2014-06-12       16    1
T035 2014-06-19       16    1
T035 2014-06-26       16    1
T035 2014-07-03       16    1
T035 2014-07-10       16    1
T035 2014-07-17       16    1
T035 2014-07-24       16    1
T035 2014-07-31       16    1
T035 2014-08-07       16    1
T035 2014-08-14       16    1
T035 2014-08-21       16    1
T035 2014-08-28       16    1
T035 2014-09-05       16
T035 2014-09-11       16    1
T035 2014-09-18       16    1
T035 2014-09-25       16    1
T035 2014-10-02       16    1

[95 rows x 3 columns]
           Date  Records More
Trap
T036 2008-06-11        8
T036 2008-06-17        8
T036 2008-06-24        8    1
T036 2008-07-01        8    1
T036 2008-07-04        8    1
T036 2008-07-11        8    1
T036 2008-07-14        8    1
T036 2008-07-21        8    1
T036 2008-07-23        8    1
T036 2008-07-24        8    1
T036 2008-07-28        8    1
T036 2008-07-29        8    1
T036 2008-08-04        8    1
T036 2008-08-05        8    1
T036 2008-08-12        8    1
T036 2008-08-13        8    1
T036 2008-08-19        8    1
T036 2008-08-25        8    1
T036 2008-08-26        8    1
T036 2008-09-02        8    1
T036 2008-09-03        8    1
T036 2008-09-09        8    1
T036 2008-09-15        8    1
T036 2008-09-19        8    1
T036 2008-09-29        8
T036 2010-06-02        8
T036 2010-06-11        8
T036 2010-06-18        8    1
T036 2010-06-25        8    1
T036 2010-06-28        8    1
...         ...      ...  ...
T036 2012-08-09        8    1
T036 2012-08-10        8    1
T036 2012-08-16        8    1
T036 2012-08-17        8    1
T036 2012-08-23        8    1
T036 2012-08-24        8    1
T036 2012-08-30        8    1
T036 2012-08-31        8    1
T036 2012-09-10        8
T036 2012-09-13        8    1
T036 2012-09-20        8    1
T036 2012-09-28        8
T036 2014-06-05        8
T036 2014-06-12        8    1
T036 2014-06-19        8    1
T036 2014-06-26        8    1
T036 2014-07-03        8    1
T036 2014-07-10        8    1
T036 2014-07-17        8    1
T036 2014-07-24        8    1
T036 2014-07-31        8    1
T036 2014-08-07        8    1
T036 2014-08-14        8    1
T036 2014-08-21        8    1
T036 2014-08-28        8    1
T036 2014-09-05        8
T036 2014-09-11        8    1
T036 2014-09-18        8    1
T036 2014-09-25        8    1
T036 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T037 2008-06-11        8
T037 2008-06-17        8
T037 2008-06-24        8    1
T037 2008-07-01        8    1
T037 2008-07-04        8    1
T037 2008-07-11        8    1
T037 2008-07-14        8    1
T037 2008-07-21        8    1
T037 2008-07-23        8    1
T037 2008-07-24        8    1
T037 2008-07-28        8    1
T037 2008-07-29        8    1
T037 2008-08-04        8    1
T037 2008-08-05        8    1
T037 2008-08-12        8    1
T037 2008-08-13        8    1
T037 2008-08-19        8    1
T037 2008-08-25        8    1
T037 2008-08-26        8    1
T037 2008-09-02        8    1
T037 2008-09-03        8    1
T037 2008-09-09        8    1
T037 2008-09-15        8    1
T037 2008-09-19        8    1
T037 2008-09-29        8
T037 2010-06-02        8
T037 2010-06-11        8
T037 2010-06-18        8    1
T037 2010-06-25        8    1
T037 2010-06-28        8    1
...         ...      ...  ...
T037 2012-08-09        8    1
T037 2012-08-10        8    1
T037 2012-08-16        8    1
T037 2012-08-17        8    1
T037 2012-08-23        8    1
T037 2012-08-24        8    1
T037 2012-08-30        8    1
T037 2012-08-31        8    1
T037 2012-09-10        8
T037 2012-09-13        8    1
T037 2012-09-20        8    1
T037 2012-09-28        8
T037 2014-06-05        8
T037 2014-06-12        8    1
T037 2014-06-19        8    1
T037 2014-06-26        8    1
T037 2014-07-03        8    1
T037 2014-07-10        8    1
T037 2014-07-17        8    1
T037 2014-07-24        8    1
T037 2014-07-31        8    1
T037 2014-08-07        8    1
T037 2014-08-14        8    1
T037 2014-08-21        8    1
T037 2014-08-28        8    1
T037 2014-09-05        8
T037 2014-09-11        8    1
T037 2014-09-18        8    1
T037 2014-09-25        8    1
T037 2014-10-02        8    1

[95 rows x 3 columns]

           Date  Records More
Trap
T039 2008-06-11        8
T039 2008-06-17        8
T039 2008-06-24        8    1
T039 2008-07-01        8    1
T039 2008-07-04        8    1
T039 2008-07-11        8    1
T039 2008-07-14        8    1
T039 2008-07-21        8    1
T039 2008-07-23        8    1
T039 2008-07-24        8    1
T039 2008-07-28        8    1
T039 2008-07-29        8    1
T039 2008-08-04        8    1
T039 2008-08-05        8    1
T039 2008-08-12        8    1
T039 2008-08-13        8    1
T039 2008-08-19        8    1
T039 2008-08-25        8    1
T039 2008-08-26        8    1
T039 2008-09-02        8    1
T039 2008-09-03        8    1
T039 2008-09-09        8    1
T039 2008-09-15        8    1
T039 2008-09-19        8    1
T039 2008-09-29        8
T039 2010-06-02        8
T039 2010-06-11        8
T039 2010-06-18        8    1
T039 2010-06-25        8    1
T039 2010-06-28        8    1
...         ...      ...  ...
T039 2012-08-09        8    1
T039 2012-08-10        8    1
T039 2012-08-16        8    1
T039 2012-08-17        8    1
T039 2012-08-23        8    1
T039 2012-08-24        8    1
T039 2012-08-30        8    1
T039 2012-08-31        8    1
T039 2012-09-10        8
T039 2012-09-13        8    1
T039 2012-09-20        8    1
T039 2012-09-28        8
T039 2014-06-05        8
T039 2014-06-12        8    1
T039 2014-06-19        8    1
T039 2014-06-26        8    1
T039 2014-07-03        8    1
T039 2014-07-10        8    1
T039 2014-07-17        8    1
T039 2014-07-24        8    1
T039 2014-07-31        8    1
T039 2014-08-07        8    1
T039 2014-08-14        8    1
T039 2014-08-21        8    1
T039 2014-08-28        8    1
T039 2014-09-05        8
T039 2014-09-11        8    1
T039 2014-09-18        8    1
T039 2014-09-25        8    1
T039 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T040 2008-06-11        8
T040 2008-06-17        8
T040 2008-06-24        8    1
T040 2008-07-01        8    1
T040 2008-07-04        8    1
T040 2008-07-11        8    1
T040 2008-07-14        8    1
T040 2008-07-21        8    1
T040 2008-07-23        8    1
T040 2008-07-24        8    1
T040 2008-07-28        8    1
T040 2008-07-29        8    1
T040 2008-08-04        8    1
T040 2008-08-05        8    1
T040 2008-08-12        8    1
T040 2008-08-13        8    1
T040 2008-08-19        8    1
T040 2008-08-25        8    1
T040 2008-08-26        8    1
T040 2008-09-02        8    1
T040 2008-09-03        8    1
T040 2008-09-09        8    1
T040 2008-09-15        8    1
T040 2008-09-19        8    1
T040 2008-09-29        8
T040 2010-06-02        8
T040 2010-06-11        8
T040 2010-06-18        8    1
T040 2010-06-25        8    1
T040 2010-06-28        8    1
...         ...      ...  ...
T040 2012-08-09        8    1
T040 2012-08-10        8    1
T040 2012-08-16        8    1
T040 2012-08-17        8    1
T040 2012-08-23        8    1
T040 2012-08-24        8    1
T040 2012-08-30        8    1
T040 2012-08-31        8    1
T040 2012-09-10        8
T040 2012-09-13        8    1
T040 2012-09-20        8    1
T040 2012-09-28        8
T040 2014-06-05        8
T040 2014-06-12        8    1
T040 2014-06-19        8    1
T040 2014-06-26        8    1
T040 2014-07-03        8    1
T040 2014-07-10        8    1
T040 2014-07-17        8    1
T040 2014-07-24        8    1
T040 2014-07-31        8    1
T040 2014-08-07        8    1
T040 2014-08-14        8    1
T040 2014-08-21        8    1
T040 2014-08-28        8    1
T040 2014-09-05        8
T040 2014-09-11        8    1
T040 2014-09-18        8    1
T040 2014-09-25        8    1
T040 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T043 2008-06-11        8
T043 2008-06-17        8
T043 2008-06-24        8    1
T043 2008-07-01        8    1
T043 2008-07-04        8    1
T043 2008-07-11        8    1
T043 2008-07-14        8    1
T043 2008-07-21        8    1
T043 2008-07-23        8    1
T043 2008-07-24        8    1
T043 2008-07-28        8    1
T043 2008-07-29        8    1
T043 2008-08-04        8    1
T043 2008-08-05        8    1
T043 2008-08-12        8    1
T043 2008-08-13        8    1
T043 2008-08-19        8    1
T043 2008-08-25        8    1
T043 2008-08-26        8    1
T043 2008-09-02        8    1
T043 2008-09-03        8    1
T043 2008-09-09        8    1
T043 2008-09-15        8    1
T043 2008-09-19        8    1
T043 2008-09-29        8
T043 2010-06-02        8
T043 2010-06-11        8
T043 2010-06-18        8    1
T043 2010-06-25        8    1
T043 2010-06-28        8    1
...         ...      ...  ...
T043 2012-08-09        8    1
T043 2012-08-10        8    1
T043 2012-08-16        8    1
T043 2012-08-17        8    1
T043 2012-08-23        8    1
T043 2012-08-24        8    1
T043 2012-08-30        8    1
T043 2012-08-31        8    1
T043 2012-09-10        8
T043 2012-09-13        8    1
T043 2012-09-20        8    1
T043 2012-09-28        8
T043 2014-06-05        8
T043 2014-06-12        8    1
T043 2014-06-19        8    1
T043 2014-06-26        8    1
T043 2014-07-03        8    1
T043 2014-07-10        8    1
T043 2014-07-17        8    1
T043 2014-07-24        8    1
T043 2014-07-31        8    1
T043 2014-08-07        8    1
T043 2014-08-14        8    1
T043 2014-08-21        8    1
T043 2014-08-28        8    1
T043 2014-09-05        8
T043 2014-09-11        8    1
T043 2014-09-18        8    1
T043 2014-09-25        8    1
T043 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T044 2008-06-11        8
T044 2008-06-17        8
T044 2008-06-24        8    1
T044 2008-07-01        8    1
T044 2008-07-04        8    1
T044 2008-07-11        8    1
T044 2008-07-14        8    1
T044 2008-07-21        8    1
T044 2008-07-23        8    1
T044 2008-07-24        8    1
T044 2008-07-28        8    1
T044 2008-07-29        8    1
T044 2008-08-04        8    1
T044 2008-08-05        8    1
T044 2008-08-12        8    1
T044 2008-08-13        8    1
T044 2008-08-19        8    1
T044 2008-08-25        8    1
T044 2008-08-26        8    1
T044 2008-09-02        8    1
T044 2008-09-03        8    1
T044 2008-09-09        8    1
T044 2008-09-15        8    1
T044 2008-09-19        8    1
T044 2008-09-29        8
T044 2010-06-02        8
T044 2010-06-11        8
T044 2010-06-18        8    1
T044 2010-06-25        8    1
T044 2010-06-28        8    1
...         ...      ...  ...
T044 2012-08-09        8    1
T044 2012-08-10        8    1
T044 2012-08-16        8    1
T044 2012-08-17        8    1
T044 2012-08-23        8    1
T044 2012-08-24        8    1
T044 2012-08-30        8    1
T044 2012-08-31        8    1
T044 2012-09-10        8
T044 2012-09-13        8    1
T044 2012-09-20        8    1
T044 2012-09-28        8
T044 2014-06-05        8
T044 2014-06-12        8    1
T044 2014-06-19        8    1
T044 2014-06-26        8    1
T044 2014-07-03        8    1
T044 2014-07-10        8    1
T044 2014-07-17        8    1
T044 2014-07-24        8    1
T044 2014-07-31        8    1
T044 2014-08-07        8    1
T044 2014-08-14        8    1
T044 2014-08-21        8    1
T044 2014-08-28        8    1
T044 2014-09-05        8
T044 2014-09-11        8    1
T044 2014-09-18        8    1
T044 2014-09-25        8    1
T044 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T045 2008-06-11        8
T045 2008-06-17        8
T045 2008-06-24        8    1
T045 2008-07-01        8    1
T045 2008-07-04        8    1
T045 2008-07-11        8    1
T045 2008-07-14        8    1
T045 2008-07-21        8    1
T045 2008-07-23        8    1
T045 2008-07-24        8    1
T045 2008-07-28        8    1
T045 2008-07-29        8    1
T045 2008-08-04        8    1
T045 2008-08-05        8    1
T045 2008-08-12        8    1
T045 2008-08-13        8    1
T045 2008-08-19        8    1
T045 2008-08-25        8    1
T045 2008-08-26        9    1
T045 2008-09-02        8    1
T045 2008-09-03        8    1
T045 2008-09-09        9    1
T045 2008-09-15        8    1
T045 2008-09-19        8    1
T045 2008-09-29        8
T045 2010-06-02        8
T045 2010-06-11        8
T045 2010-06-18        8    1
T045 2010-06-25        8    1
T045 2010-06-28        8    1
...         ...      ...  ...
T045 2012-08-09        8    1
T045 2012-08-10        8    1
T045 2012-08-16        8    1
T045 2012-08-17        8    1
T045 2012-08-23        8    1
T045 2012-08-24        8    1
T045 2012-08-30        8    1
T045 2012-08-31        8    1
T045 2012-09-10        8
T045 2012-09-13        8    1
T045 2012-09-20        8    1
T045 2012-09-28        8
T045 2014-06-05        8
T045 2014-06-12        8    1
T045 2014-06-19        8    1
T045 2014-06-26        8    1
T045 2014-07-03        8    1
T045 2014-07-10        8    1
T045 2014-07-17        8    1
T045 2014-07-24        8    1
T045 2014-07-31        8    1
T045 2014-08-07        8    1
T045 2014-08-14        8    1
T045 2014-08-21        8    1
T045 2014-08-28        8    1
T045 2014-09-05        8
T045 2014-09-11        8    1
T045 2014-09-18        8    1
T045 2014-09-25        8    1
T045 2014-10-02        8    1

[95 rows x 3 columns]

           Date  Records More
Trap
T046 2008-06-11        8
T046 2008-06-17        8
T046 2008-06-24        8    1
T046 2008-07-01        8    1
T046 2008-07-04        8    1
T046 2008-07-11        8    1
T046 2008-07-14        8    1
T046 2008-07-21        8    1
T046 2008-07-23        8    1
T046 2008-07-24        8    1
T046 2008-07-28        8    1
T046 2008-07-29        8    1
T046 2008-08-04        8    1
T046 2008-08-05        8    1
T046 2008-08-12        8    1
T046 2008-08-13        8    1
T046 2008-08-19        8    1
T046 2008-08-25        8    1
T046 2008-08-26        8    1
T046 2008-09-02        8    1
T046 2008-09-03        8    1
T046 2008-09-09        8    1
T046 2008-09-15        8    1
T046 2008-09-19        8    1
T046 2008-09-29        8
T046 2010-06-02        8
T046 2010-06-11        8
T046 2010-06-18        8    1
T046 2010-06-25        8    1
T046 2010-06-28        8    1
...         ...      ...  ...
T046 2012-08-09        8    1
T046 2012-08-10        8    1
T046 2012-08-16        8    1
T046 2012-08-17        8    1
T046 2012-08-23        8    1
T046 2012-08-24        8    1
T046 2012-08-30        8    1
T046 2012-08-31        8    1
T046 2012-09-10        8
T046 2012-09-13        8    1
T046 2012-09-20        8    1
T046 2012-09-28        8
T046 2014-06-05        8
T046 2014-06-12        8    1
T046 2014-06-19        8    1
T046 2014-06-26        8    1
T046 2014-07-03        8    1
T046 2014-07-10        8    1
T046 2014-07-17        8    1
T046 2014-07-24        8    1
T046 2014-07-31        8    1
T046 2014-08-07        8    1
T046 2014-08-14        8    1
T046 2014-08-21        9    1
T046 2014-08-28        8    1
T046 2014-09-05        8
T046 2014-09-11        8    1
T046 2014-09-18        8    1
T046 2014-09-25        8    1
T046 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T047 2008-06-11        8
T047 2008-06-17        8
T047 2008-06-24        8    1
T047 2008-07-01        8    1
T047 2008-07-04        8    1
T047 2008-07-11        8    1
T047 2008-07-14        8    1
T047 2008-07-21        8    1
T047 2008-07-23        8    1
T047 2008-07-24        8    1
T047 2008-07-28        8    1
T047 2008-07-29        8    1
T047 2008-08-04        8    1
T047 2008-08-05        8    1
T047 2008-08-12        8    1
T047 2008-08-13        8    1
T047 2008-08-19        8    1
T047 2008-08-25        8    1
T047 2008-08-26        8    1
T047 2008-09-02        8    1
T047 2008-09-03        8    1
T047 2008-09-09        8    1
T047 2008-09-15        8    1
T047 2008-09-19        8    1
T047 2008-09-29        8
T047 2010-06-02        8
T047 2010-06-11        8
T047 2010-06-18        8    1
T047 2010-06-25        8    1
T047 2010-06-28        8    1
...         ...      ...  ...
T047 2012-08-09        8    1
T047 2012-08-10        8    1
T047 2012-08-16        8    1
T047 2012-08-17        8    1
T047 2012-08-23        8    1
T047 2012-08-24        8    1
T047 2012-08-30        8    1
T047 2012-08-31        8    1
T047 2012-09-10        8
T047 2012-09-13        8    1
T047 2012-09-20        8    1
T047 2012-09-28        8
T047 2014-06-05        8
T047 2014-06-12        8    1
T047 2014-06-19        9    1
T047 2014-06-26        8    1
T047 2014-07-03        8    1
T047 2014-07-10        8    1
T047 2014-07-17        8    1
T047 2014-07-24        8    1
T047 2014-07-31       10    1
T047 2014-08-07        8    1
T047 2014-08-14        8    1
T047 2014-08-21        8    1
T047 2014-08-28        8    1
T047 2014-09-05        8
T047 2014-09-11        8    1
T047 2014-09-18        8    1
T047 2014-09-25        8    1
T047 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T048 2008-06-11        8
T048 2008-06-17        8
T048 2008-06-24        8    1
T048 2008-07-01        8    1
T048 2008-07-04        8    1
T048 2008-07-11        8    1
T048 2008-07-14        8    1
T048 2008-07-21        8    1
T048 2008-07-23        8    1
T048 2008-07-24        8    1
T048 2008-07-28        8    1
T048 2008-07-29        8    1
T048 2008-08-04        8    1
T048 2008-08-05        8    1
T048 2008-08-12        8    1
T048 2008-08-13        8    1
T048 2008-08-19        8    1
T048 2008-08-25        8    1
T048 2008-08-26        8    1
T048 2008-09-02        8    1
T048 2008-09-03        9    1
T048 2008-09-09        8    1
T048 2008-09-15        8    1
T048 2008-09-19        8    1
T048 2008-09-29        8
T048 2010-06-02        8
T048 2010-06-11        8
T048 2010-06-18        8    1
T048 2010-06-25        8    1
T048 2010-06-28        8    1
...         ...      ...  ...
T048 2012-08-09        8    1
T048 2012-08-10        8    1
T048 2012-08-16        8    1
T048 2012-08-17        8    1
T048 2012-08-23        8    1
T048 2012-08-24        8    1
T048 2012-08-30        8    1
T048 2012-08-31        8    1
T048 2012-09-10        8
T048 2012-09-13        8    1
T048 2012-09-20        8    1
T048 2012-09-28        8
T048 2014-06-05        8
T048 2014-06-12        8    1
T048 2014-06-19        8    1
T048 2014-06-26        8    1
T048 2014-07-03        8    1
T048 2014-07-10        9    1
T048 2014-07-17        8    1
T048 2014-07-24        8    1
T048 2014-07-31        9    1
T048 2014-08-07        8    1
T048 2014-08-14        8    1
T048 2014-08-21        8    1
T048 2014-08-28        8    1
T048 2014-09-05        8
T048 2014-09-11        8    1
T048 2014-09-18        8    1
T048 2014-09-25        8    1
T048 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T049 2008-06-11        8
T049 2008-06-17        8
T049 2008-06-24        8    1
T049 2008-07-01        8    1
T049 2008-07-04        8    1
T049 2008-07-11        8    1
T049 2008-07-14        8    1
T049 2008-07-21        8    1
T049 2008-07-23        8    1
T049 2008-07-24        8    1
T049 2008-07-28        8    1
T049 2008-07-29        8    1
T049 2008-08-04        8    1
T049 2008-08-05        8    1
T049 2008-08-12        8    1
T049 2008-08-13        8    1
T049 2008-08-19        8    1
T049 2008-08-25        8    1
T049 2008-08-26        8    1
T049 2008-09-02        8    1
T049 2008-09-03        8    1
T049 2008-09-09        8    1
T049 2008-09-15        8    1
T049 2008-09-19        8    1
T049 2008-09-29        8
T049 2010-06-02        8
T049 2010-06-11        8
T049 2010-06-18        8    1
T049 2010-06-25        8    1
T049 2010-06-28        8    1
...         ...      ...  ...
T049 2012-08-09        8    1
T049 2012-08-10        8    1
T049 2012-08-16        8    1
T049 2012-08-17        8    1
T049 2012-08-23        8    1
T049 2012-08-24        8    1
T049 2012-08-30        8    1
T049 2012-08-31        8    1
T049 2012-09-10        8
T049 2012-09-13        8    1
T049 2012-09-20        8    1
T049 2012-09-28        8
T049 2014-06-05        8
T049 2014-06-12        8    1
T049 2014-06-19        8    1
T049 2014-06-26        8    1
T049 2014-07-03        8    1
T049 2014-07-10        8    1
T049 2014-07-17        8    1
T049 2014-07-24        8    1
T049 2014-07-31        8    1
T049 2014-08-07        8    1
T049 2014-08-14        8    1
T049 2014-08-21        8    1
T049 2014-08-28        8    1
T049 2014-09-05        8
T049 2014-09-11        8    1
T049 2014-09-18        8    1
T049 2014-09-25        8    1
T049 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T050 2008-06-11        8
T050 2008-06-17        8
T050 2008-06-24        8    1
T050 2008-07-01        8    1
T050 2008-07-04        8    1
T050 2008-07-11        8    1
T050 2008-07-14        8    1
T050 2008-07-21        8    1
T050 2008-07-23        8    1
T050 2008-07-24        8    1
T050 2008-07-28        8    1
T050 2008-07-29        8    1
T050 2008-08-04        8    1
T050 2008-08-05        8    1
T050 2008-08-12        8    1
T050 2008-08-13        8    1
T050 2008-08-19        8    1
T050 2008-08-25        8    1
T050 2008-08-26        8    1
T050 2008-09-02        8    1
T050 2008-09-03        8    1
T050 2008-09-09        8    1
T050 2008-09-15        8    1
T050 2008-09-19        8    1
T050 2008-09-29        8
T050 2010-06-02        8
T050 2010-06-11        8
T050 2010-06-18        8    1
T050 2010-06-25        8    1
T050 2010-06-28        8    1
...         ...      ...  ...
T050 2012-08-09        8    1
T050 2012-08-10        8    1
T050 2012-08-16        8    1
T050 2012-08-17        8    1
T050 2012-08-23        8    1
T050 2012-08-24        8    1
T050 2012-08-30        8    1
T050 2012-08-31        8    1
T050 2012-09-10        8
T050 2012-09-13        8    1
T050 2012-09-20        8    1
T050 2012-09-28        8
T050 2014-06-05        8
T050 2014-06-12        8    1
T050 2014-06-19        8    1
T050 2014-06-26        8    1
T050 2014-07-03        8    1
T050 2014-07-10        8    1
T050 2014-07-17        8    1
T050 2014-07-24        8    1
T050 2014-07-31        8    1
T050 2014-08-07        8    1
T050 2014-08-14        8    1
T050 2014-08-21        8    1
T050 2014-08-28        8    1
T050 2014-09-05        8
T050 2014-09-11        8    1
T050 2014-09-18        8    1
T050 2014-09-25        8    1
T050 2014-10-02        8    1

[95 rows x 3 columns]

           Date  Records More
Trap
T051 2008-06-11        8
T051 2008-06-17        8
T051 2008-06-24        8    1
T051 2008-07-01        8    1
T051 2008-07-04        8    1
T051 2008-07-11        8    1
T051 2008-07-14        8    1
T051 2008-07-21        8    1
T051 2008-07-23        8    1
T051 2008-07-24        8    1
T051 2008-07-28        8    1
T051 2008-07-29        8    1
T051 2008-08-04        8    1
T051 2008-08-05        8    1
T051 2008-08-12        8    1
T051 2008-08-13        8    1
T051 2008-08-19        8    1
T051 2008-08-25        8    1
T051 2008-08-26        8    1
T051 2008-09-02        8    1
T051 2008-09-03        8    1
T051 2008-09-09        8    1
T051 2008-09-15        8    1
T051 2008-09-19        8    1
T051 2008-09-29        8
T051 2010-06-02        8
T051 2010-06-11        8
T051 2010-06-18        8    1
T051 2010-06-25        8    1
T051 2010-06-28        8    1
...         ...      ...  ...
T051 2012-08-09        8    1
T051 2012-08-10        8    1
T051 2012-08-16        8    1
T051 2012-08-17        8    1
T051 2012-08-23        8    1
T051 2012-08-24        8    1
T051 2012-08-30        8    1
T051 2012-08-31        8    1
T051 2012-09-10        8
T051 2012-09-13        8    1
T051 2012-09-20        8    1
T051 2012-09-28        8
T051 2014-06-05        8
T051 2014-06-12        8    1
T051 2014-06-19        8    1
T051 2014-06-26        8    1
T051 2014-07-03        8    1
T051 2014-07-10        8    1
T051 2014-07-17        8    1
T051 2014-07-24        8    1
T051 2014-07-31        8    1
T051 2014-08-07        8    1
T051 2014-08-14        8    1
T051 2014-08-21        8    1
T051 2014-08-28        8    1
T051 2014-09-05        8
T051 2014-09-11        8    1
T051 2014-09-18        8    1
T051 2014-09-25        8    1
T051 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T054 2008-06-11        8
T054 2008-06-17        8
T054 2008-06-24        8    1
T054 2008-07-01        8    1
T054 2008-07-04        8    1
T054 2008-07-11        8    1
T054 2008-07-14        8    1
T054 2008-07-21        8    1
T054 2008-07-23        8    1
T054 2008-07-24        8    1
T054 2008-07-28        8    1
T054 2008-07-29        8    1
T054 2008-08-04        8    1
T054 2008-08-05        8    1
T054 2008-08-12        8    1
T054 2008-08-13        8    1
T054 2008-08-19        8    1
T054 2008-08-25        8    1
T054 2008-08-26        8    1
T054 2008-09-02        8    1
T054 2008-09-03        8    1
T054 2008-09-09        8    1
T054 2008-09-15        8    1
T054 2008-09-19        8    1
T054 2008-09-29        8
T054 2010-06-02        8
T054 2010-06-11        8
T054 2010-06-18        8    1
T054 2010-06-25        9    1
T054 2010-06-28        8    1
...         ...      ...  ...
T054 2012-08-09        9    1
T054 2012-08-10        8    1
T054 2012-08-16        9    1
T054 2012-08-17        8    1
T054 2012-08-23        8    1
T054 2012-08-24        8    1
T054 2012-08-30        8    1
T054 2012-08-31        8    1
T054 2012-09-10        8
T054 2012-09-13        8    1
T054 2012-09-20        9    1
T054 2012-09-28        8
T054 2014-06-05        8
T054 2014-06-12        9    1
T054 2014-06-19        9    1
T054 2014-06-26        8    1
T054 2014-07-03       10    1
T054 2014-07-10        9    1
T054 2014-07-17        9    1
T054 2014-07-24        8    1
T054 2014-07-31       10    1
T054 2014-08-07        9    1
T054 2014-08-14       10    1
T054 2014-08-21       10    1
T054 2014-08-28        9    1
T054 2014-09-05        8
T054 2014-09-11        8    1
T054 2014-09-18        8    1
T054 2014-09-25        8    1
T054 2014-10-02        8    1

[95 rows x 3 columns]
            Date  Records More
Trap
T054C 2008-06-11        8
T054C 2008-06-17        8
T054C 2008-06-24        8    1
T054C 2008-07-01        8    1
T054C 2008-07-04        8    1
T054C 2008-07-11        8    1
T054C 2008-07-14        8    1
T054C 2008-07-21        8    1
T054C 2008-07-23        8    1
T054C 2008-07-24        8    1
T054C 2008-07-28        8    1
T054C 2008-07-29        8    1
T054C 2008-08-04        8    1
T054C 2008-08-05        8    1
T054C 2008-08-12        8    1
T054C 2008-08-13        8    1
T054C 2008-08-19        8    1
T054C 2008-08-25        8    1
T054C 2008-08-26        8    1
T054C 2008-09-02        8    1
T054C 2008-09-03        8    1
T054C 2008-09-09        8    1
T054C 2008-09-15        8    1
T054C 2008-09-19        8    1
T054C 2008-09-29        8
T054C 2010-06-02        8
T054C 2010-06-11        8
T054C 2010-06-18        8    1
T054C 2010-06-25        8    1
T054C 2010-06-28        8    1
...          ...      ...  ...
T054C 2012-08-09        8    1
T054C 2012-08-10        8    1
T054C 2012-08-16        8    1
T054C 2012-08-17        8    1
T054C 2012-08-23        8    1
T054C 2012-08-24        8    1
T054C 2012-08-30        8    1
T054C 2012-08-31        8    1
T054C 2012-09-10        8
T054C 2012-09-13        8    1
T054C 2012-09-20        8    1
T054C 2012-09-28        8
T054C 2014-06-05        8
T054C 2014-06-12        8    1
T054C 2014-06-19        8    1
T054C 2014-06-26        8    1
T054C 2014-07-03        8    1
T054C 2014-07-10        8    1
T054C 2014-07-17        8    1
T054C 2014-07-24        8    1
T054C 2014-07-31        8    1
T054C 2014-08-07        8    1
T054C 2014-08-14        8    1
T054C 2014-08-21        8    1
T054C 2014-08-28        8    1
T054C 2014-09-05        8
T054C 2014-09-11        8    1
T054C 2014-09-18        8    1
T054C 2014-09-25        8    1
T054C 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T060 2008-06-11        8
T060 2008-06-17        8
T060 2008-06-24        8    1
T060 2008-07-01        8    1
T060 2008-07-04        8    1
T060 2008-07-11        8    1
T060 2008-07-14        8    1
T060 2008-07-21        8    1
T060 2008-07-23        8    1
T060 2008-07-24        8    1
T060 2008-07-28        8    1
T060 2008-07-29        8    1
T060 2008-08-04        8    1
T060 2008-08-05        8    1
T060 2008-08-12        8    1
T060 2008-08-13        8    1
T060 2008-08-19        8    1
T060 2008-08-25        8    1
T060 2008-08-26        8    1
T060 2008-09-02        8    1
T060 2008-09-03        8    1
T060 2008-09-09        8    1
T060 2008-09-15        8    1
T060 2008-09-19        8    1
T060 2008-09-29        8
T060 2010-06-02        8
T060 2010-06-11        8
T060 2010-06-18        8    1
T060 2010-06-25        8    1
T060 2010-06-28        8    1
...         ...      ...  ...
T060 2012-08-09        8    1
T060 2012-08-10        8    1
T060 2012-08-16        8    1
T060 2012-08-17        8    1
T060 2012-08-23        8    1
T060 2012-08-24        8    1
T060 2012-08-30        8    1
T060 2012-08-31        8    1
T060 2012-09-10        8
T060 2012-09-13        8    1
T060 2012-09-20        8    1
T060 2012-09-28        8
T060 2014-06-05        8
T060 2014-06-12        8    1
T060 2014-06-19        8    1
T060 2014-06-26        8    1
T060 2014-07-03        8    1
T060 2014-07-10        8    1
T060 2014-07-17        8    1
T060 2014-07-24        8    1
T060 2014-07-31        8    1
T060 2014-08-07        8    1
T060 2014-08-14        8    1
T060 2014-08-21        8    1
T060 2014-08-28        8    1
T060 2014-09-05        8
T060 2014-09-11        8    1
T060 2014-09-18        8    1
T060 2014-09-25        8    1
T060 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T061 2008-06-11        8
T061 2008-06-17        8
T061 2008-06-24        8    1
T061 2008-07-01        8    1
T061 2008-07-04        8    1
T061 2008-07-11        8    1
T061 2008-07-14        8    1
T061 2008-07-21        8    1
T061 2008-07-23        8    1
T061 2008-07-24        8    1
T061 2008-07-28        8    1
T061 2008-07-29        8    1
T061 2008-08-04        8    1
T061 2008-08-05        8    1
T061 2008-08-12        8    1
T061 2008-08-13        8    1
T061 2008-08-19        8    1
T061 2008-08-25        8    1
T061 2008-08-26        8    1
T061 2008-09-02        8    1
T061 2008-09-03        8    1
T061 2008-09-09        8    1
T061 2008-09-15        8    1
T061 2008-09-19        8    1
T061 2008-09-29        8
T061 2010-06-02        8
T061 2010-06-11        8
T061 2010-06-18        8    1
T061 2010-06-25        8    1
T061 2010-06-28        8    1
...         ...      ...  ...
T061 2012-08-09        9    1
T061 2012-08-10        8    1
T061 2012-08-16        8    1
T061 2012-08-17        8    1
T061 2012-08-23        8    1
T061 2012-08-24        8    1
T061 2012-08-30        8    1
T061 2012-08-31        8    1
T061 2012-09-10        8
T061 2012-09-13        8    1
T061 2012-09-20        8    1
T061 2012-09-28        8
T061 2014-06-05        8
T061 2014-06-12        8    1
T061 2014-06-19        8    1
T061 2014-06-26        8    1
T061 2014-07-03        8    1
T061 2014-07-10        8    1
T061 2014-07-17        8    1
T061 2014-07-24        8    1
T061 2014-07-31        8    1
T061 2014-08-07        8    1
T061 2014-08-14        8    1
T061 2014-08-21        8    1
T061 2014-08-28        8    1
T061 2014-09-05        8
T061 2014-09-11        8    1
T061 2014-09-18        8    1
T061 2014-09-25        8    1
T061 2014-10-02        8    1

[95 rows x 3 columns]

           Date  Records More
Trap
T062 2008-06-11        8
T062 2008-06-17        8
T062 2008-06-24        8    1
T062 2008-07-01        8    1
T062 2008-07-04        8    1
T062 2008-07-11        8    1
T062 2008-07-14        8    1
T062 2008-07-21        8    1
T062 2008-07-23        8    1
T062 2008-07-24        8    1
T062 2008-07-28        8    1
T062 2008-07-29        8    1
T062 2008-08-04        8    1
T062 2008-08-05        8    1
T062 2008-08-12        8    1
T062 2008-08-13        8    1
T062 2008-08-19        8    1
T062 2008-08-25        8    1
T062 2008-08-26        8    1
T062 2008-09-02        8    1
T062 2008-09-03        8    1
T062 2008-09-09        8    1
T062 2008-09-15        8    1
T062 2008-09-19        8    1
T062 2008-09-29        8
T062 2010-06-02        8
T062 2010-06-11        8
T062 2010-06-18        8    1
T062 2010-06-25        8    1
T062 2010-06-28        8    1
...         ...      ...  ...
T062 2012-08-09        8    1
T062 2012-08-10        8    1
T062 2012-08-16        8    1
T062 2012-08-17        8    1
T062 2012-08-23        8    1
T062 2012-08-24        8    1
T062 2012-08-30        8    1
T062 2012-08-31        8    1
T062 2012-09-10        8
T062 2012-09-13        8    1
T062 2012-09-20        8    1
T062 2012-09-28        8
T062 2014-06-05        8
T062 2014-06-12        8    1
T062 2014-06-19        8    1
T062 2014-06-26        8    1
T062 2014-07-03        8    1
T062 2014-07-10        8    1
T062 2014-07-17        8    1
T062 2014-07-24        8    1
T062 2014-07-31        8    1
T062 2014-08-07        9    1
T062 2014-08-14        8    1
T062 2014-08-21        8    1
T062 2014-08-28        8    1
T062 2014-09-05        8
T062 2014-09-11        8    1
T062 2014-09-18        8    1
T062 2014-09-25        8    1
T062 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T063 2008-06-11        8
T063 2008-06-17        8
T063 2008-06-24        8    1
T063 2008-07-01        8    1
T063 2008-07-04        8    1
T063 2008-07-11        8    1
T063 2008-07-14        8    1
T063 2008-07-21        8    1
T063 2008-07-23        8    1
T063 2008-07-24        8    1
T063 2008-07-28        8    1
T063 2008-07-29        8    1
T063 2008-08-04        8    1
T063 2008-08-05        8    1
T063 2008-08-12        8    1
T063 2008-08-13        8    1
T063 2008-08-19        8    1
T063 2008-08-25        8    1
T063 2008-08-26        8    1
T063 2008-09-02        8    1
T063 2008-09-03        8    1
T063 2008-09-09        8    1
T063 2008-09-15        8    1
T063 2008-09-19        8    1
T063 2008-09-29        8
T063 2010-06-02        8
T063 2010-06-11        8
T063 2010-06-18        8    1
T063 2010-06-25        8    1
T063 2010-06-28        8    1
...         ...      ...  ...
T063 2012-08-09        9    1
T063 2012-08-10        8    1
T063 2012-08-16        8    1
T063 2012-08-17        8    1
T063 2012-08-23        8    1
T063 2012-08-24        8    1
T063 2012-08-30        8    1
T063 2012-08-31        8    1
T063 2012-09-10        8
T063 2012-09-13        8    1
T063 2012-09-20        8    1
T063 2012-09-28        8
T063 2014-06-05        8
T063 2014-06-12        8    1
T063 2014-06-19        9    1
T063 2014-06-26        8    1
T063 2014-07-03        8    1
T063 2014-07-10        9    1
T063 2014-07-17        8    1
T063 2014-07-24        8    1
T063 2014-07-31        8    1
T063 2014-08-07        8    1
T063 2014-08-14        8    1
T063 2014-08-21        8    1
T063 2014-08-28        8    1
T063 2014-09-05        8
T063 2014-09-11        8    1
T063 2014-09-18        8    1
T063 2014-09-25        8    1
T063 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T065 2008-06-11        8
T065 2008-06-17        8
T065 2008-06-24        8    1
T065 2008-07-01        8    1
T065 2008-07-04        8    1
T065 2008-07-11        8    1
T065 2008-07-14        8    1
T065 2008-07-21        8    1
T065 2008-07-23        8    1
T065 2008-07-24        8    1
T065 2008-07-28        8    1
T065 2008-07-29        8    1
T065 2008-08-04        8    1
T065 2008-08-05        8    1
T065 2008-08-12        8    1
T065 2008-08-13        8    1
T065 2008-08-19        8    1
T065 2008-08-25        8    1
T065 2008-08-26        8    1
T065 2008-09-02        8    1
T065 2008-09-03        8    1
T065 2008-09-09        8    1
T065 2008-09-15        8    1
T065 2008-09-19        8    1
T065 2008-09-29        8
T065 2010-06-02        8
T065 2010-06-11        8
T065 2010-06-18        8    1
T065 2010-06-25        8    1
T065 2010-06-28        8    1
...         ...      ...  ...
T065 2012-08-09        8    1
T065 2012-08-10        8    1
T065 2012-08-16        8    1
T065 2012-08-17        8    1
T065 2012-08-23        8    1
T065 2012-08-24        8    1
T065 2012-08-30        8    1
T065 2012-08-31        8    1
T065 2012-09-10        8
T065 2012-09-13        8    1
T065 2012-09-20        8    1
T065 2012-09-28        8
T065 2014-06-05        8
T065 2014-06-12        8    1
T065 2014-06-19        8    1
T065 2014-06-26        8    1
T065 2014-07-03        8    1
T065 2014-07-10        8    1
T065 2014-07-17        8    1
T065 2014-07-24        8    1
T065 2014-07-31        8    1
T065 2014-08-07        8    1
T065 2014-08-14        8    1
T065 2014-08-21        8    1
T065 2014-08-28        8    1
T065 2014-09-05        8
T065 2014-09-11        8    1
T065 2014-09-18        8    1
T065 2014-09-25        8    1
T065 2014-10-02        8    1

[95 rows x 3 columns]
            Date  Records More
Trap
T065A 2008-06-11        8
T065A 2008-06-17        8
T065A 2008-06-24        8    1
T065A 2008-07-01        8    1
T065A 2008-07-04        8    1
T065A 2008-07-11        8    1
T065A 2008-07-14        8    1
T065A 2008-07-21        8    1
T065A 2008-07-23        8    1
T065A 2008-07-24        8    1
T065A 2008-07-28        8    1
T065A 2008-07-29        8    1
T065A 2008-08-04        8    1
T065A 2008-08-05        8    1
T065A 2008-08-12        8    1
T065A 2008-08-13        8    1
T065A 2008-08-19        8    1
T065A 2008-08-25        8    1
T065A 2008-08-26        8    1
T065A 2008-09-02        8    1
T065A 2008-09-03        8    1
T065A 2008-09-09        8    1
T065A 2008-09-15        8    1
T065A 2008-09-19        8    1
T065A 2008-09-29        8
T065A 2010-06-02        8
T065A 2010-06-11        8
T065A 2010-06-18        8    1
T065A 2010-06-25        8    1
T065A 2010-06-28        8    1
...          ...      ...  ...
T065A 2012-08-09        8    1
T065A 2012-08-10       10    1
T065A 2012-08-16        8    1
T065A 2012-08-17        8    1
T065A 2012-08-23        8    1
T065A 2012-08-24        8    1
T065A 2012-08-30        8    1
T065A 2012-08-31        8    1
T065A 2012-09-10        8
T065A 2012-09-13        8    1
T065A 2012-09-20        8    1
T065A 2012-09-28        8
T065A 2014-06-05        8
T065A 2014-06-12        8    1
T065A 2014-06-19        8    1
T065A 2014-06-26        8    1
T065A 2014-07-03        8    1
T065A 2014-07-10        8    1
T065A 2014-07-17        8    1
T065A 2014-07-24        8    1
T065A 2014-07-31        8    1
T065A 2014-08-07        8    1
T065A 2014-08-14        8    1
T065A 2014-08-21        8    1
T065A 2014-08-28        8    1
T065A 2014-09-05        8
T065A 2014-09-11        8    1
T065A 2014-09-18        8    1
T065A 2014-09-25        8    1
T065A 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T066 2008-06-11        8
T066 2008-06-17        8
T066 2008-06-24        8    1
T066 2008-07-01        8    1
T066 2008-07-04        8    1
T066 2008-07-11        8    1
T066 2008-07-14        8    1
T066 2008-07-21        8    1
T066 2008-07-23        9    1
T066 2008-07-24        8    1
T066 2008-07-28        8    1
T066 2008-07-29        8    1
T066 2008-08-04        8    1
T066 2008-08-05        8    1
T066 2008-08-12        9    1
T066 2008-08-13        8    1
T066 2008-08-19        8    1
T066 2008-08-25        8    1
T066 2008-08-26        8    1
T066 2008-09-02        8    1
T066 2008-09-03        8    1
T066 2008-09-09        8    1
T066 2008-09-15        8    1
T066 2008-09-19        8    1
T066 2008-09-29        8
T066 2010-06-02        8
T066 2010-06-11        8
T066 2010-06-18        8    1
T066 2010-06-25        8    1
T066 2010-06-28        8    1
...         ...      ...  ...
T066 2012-08-09        8    1
T066 2012-08-10        8    1
T066 2012-08-16        8    1
T066 2012-08-17        8    1
T066 2012-08-23        8    1
T066 2012-08-24        8    1
T066 2012-08-30        8    1
T066 2012-08-31        8    1
T066 2012-09-10        8
T066 2012-09-13        8    1
T066 2012-09-20        8    1
T066 2012-09-28        8
T066 2014-06-05        8
T066 2014-06-12        8    1
T066 2014-06-19        8    1
T066 2014-06-26        8    1
T066 2014-07-03        8    1
T066 2014-07-10        8    1
T066 2014-07-17        8    1
T066 2014-07-24        8    1
T066 2014-07-31        8    1
T066 2014-08-07        8    1
T066 2014-08-14        8    1
T066 2014-08-21        8    1
T066 2014-08-28        8    1
T066 2014-09-05        8
T066 2014-09-11        8    1
T066 2014-09-18        8    1
T066 2014-09-25        8    1
T066 2014-10-02        8    1

[95 rows x 3 columns]

           Date  Records More
Trap
T067 2008-06-11        8
T067 2008-06-17        8
T067 2008-06-24        8    1
T067 2008-07-01        8    1
T067 2008-07-04        8    1
T067 2008-07-11        8    1
T067 2008-07-14        8    1
T067 2008-07-21        8    1
T067 2008-07-23        8    1
T067 2008-07-24        8    1
T067 2008-07-28        8    1
T067 2008-07-29        8    1
T067 2008-08-04        8    1
T067 2008-08-05        8    1
T067 2008-08-12        8    1
T067 2008-08-13        8    1
T067 2008-08-19        8    1
T067 2008-08-25        8    1
T067 2008-08-26        8    1
T067 2008-09-02        8    1
T067 2008-09-03        8    1
T067 2008-09-09        8    1
T067 2008-09-15        8    1
T067 2008-09-19        8    1
T067 2008-09-29        8
T067 2010-06-02        8
T067 2010-06-11        8
T067 2010-06-18        8    1
T067 2010-06-25        8    1
T067 2010-06-28        8    1
...         ...      ...  ...
T067 2012-08-09        8    1
T067 2012-08-10        8    1
T067 2012-08-16        8    1
T067 2012-08-17        8    1
T067 2012-08-23        8    1
T067 2012-08-24        8    1
T067 2012-08-30        8    1
T067 2012-08-31        8    1
T067 2012-09-10        8
T067 2012-09-13        8    1
T067 2012-09-20        8    1
T067 2012-09-28        8
T067 2014-06-05        8
T067 2014-06-12        8    1
T067 2014-06-19        8    1
T067 2014-06-26        8    1
T067 2014-07-03        8    1
T067 2014-07-10        8    1
T067 2014-07-17        8    1
T067 2014-07-24        8    1
T067 2014-07-31        8    1
T067 2014-08-07        8    1
T067 2014-08-14        8    1
T067 2014-08-21        8    1
T067 2014-08-28        8    1
T067 2014-09-05        8
T067 2014-09-11        8    1
T067 2014-09-18        8    1
T067 2014-09-25        8    1
T067 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T069 2008-06-11        8
T069 2008-06-17        8
T069 2008-06-24        8    1
T069 2008-07-01        8    1
T069 2008-07-04        8    1
T069 2008-07-11        8    1
T069 2008-07-14        8    1
T069 2008-07-21        8    1
T069 2008-07-23        8    1
T069 2008-07-24        8    1
T069 2008-07-28        8    1
T069 2008-07-29        8    1
T069 2008-08-04        8    1
T069 2008-08-05        8    1
T069 2008-08-12        8    1
T069 2008-08-13        8    1
T069 2008-08-19        8    1
T069 2008-08-25        8    1
T069 2008-08-26        8    1
T069 2008-09-02        8    1
T069 2008-09-03        9    1
T069 2008-09-09        8    1
T069 2008-09-15        8    1
T069 2008-09-19        8    1
T069 2008-09-29        8
T069 2010-06-02        8
T069 2010-06-11        8
T069 2010-06-18        8    1
T069 2010-06-25        8    1
T069 2010-06-28        8    1
...         ...      ...  ...
T069 2012-08-09        8    1
T069 2012-08-10        8    1
T069 2012-08-16        8    1
T069 2012-08-17        8    1
T069 2012-08-23        8    1
T069 2012-08-24        8    1
T069 2012-08-30        8    1
T069 2012-08-31        8    1
T069 2012-09-10        8
T069 2012-09-13        8    1
T069 2012-09-20        8    1
T069 2012-09-28        8
T069 2014-06-05        8
T069 2014-06-12        8    1
T069 2014-06-19        8    1
T069 2014-06-26        8    1
T069 2014-07-03        8    1
T069 2014-07-10        8    1
T069 2014-07-17        8    1
T069 2014-07-24        8    1
T069 2014-07-31        8    1
T069 2014-08-07        8    1
T069 2014-08-14        8    1
T069 2014-08-21        8    1
T069 2014-08-28        8    1
T069 2014-09-05        8
T069 2014-09-11        8    1
T069 2014-09-18        8    1
T069 2014-09-25        8    1
T069 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T070 2008-06-11        8
T070 2008-06-17        8
T070 2008-06-24        8    1
T070 2008-07-01        8    1
T070 2008-07-04        8    1
T070 2008-07-11        8    1
T070 2008-07-14        8    1
T070 2008-07-21        8    1
T070 2008-07-23        8    1
T070 2008-07-24        8    1
T070 2008-07-28        8    1
T070 2008-07-29        8    1
T070 2008-08-04        8    1
T070 2008-08-05        8    1
T070 2008-08-12        8    1
T070 2008-08-13        8    1
T070 2008-08-19        8    1
T070 2008-08-25        8    1
T070 2008-08-26        8    1
T070 2008-09-02        8    1
T070 2008-09-03        8    1
T070 2008-09-09        8    1
T070 2008-09-15        8    1
T070 2008-09-19        8    1
T070 2008-09-29        8
T070 2010-06-02        8
T070 2010-06-11        8
T070 2010-06-18        8    1
T070 2010-06-25        8    1
T070 2010-06-28        8    1
...         ...      ...  ...
T070 2012-08-09        8    1
T070 2012-08-10        8    1
T070 2012-08-16        8    1
T070 2012-08-17        8    1
T070 2012-08-23        8    1
T070 2012-08-24        8    1
T070 2012-08-30        8    1
T070 2012-08-31        8    1
T070 2012-09-10        8
T070 2012-09-13        8    1
T070 2012-09-20        8    1
T070 2012-09-28        8
T070 2014-06-05        8
T070 2014-06-12        8    1
T070 2014-06-19        8    1
T070 2014-06-26        8    1
T070 2014-07-03        8    1
T070 2014-07-10        8    1
T070 2014-07-17        8    1
T070 2014-07-24        8    1
T070 2014-07-31        8    1
T070 2014-08-07        8    1
T070 2014-08-14        8    1
T070 2014-08-21        8    1
T070 2014-08-28        8    1
T070 2014-09-05        8
T070 2014-09-11        8    1
T070 2014-09-18        8    1
T070 2014-09-25        8    1
T070 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T071 2008-06-11        8
T071 2008-06-17        8
T071 2008-06-24        8    1
T071 2008-07-01        8    1
T071 2008-07-04        8    1
T071 2008-07-11        8    1
T071 2008-07-14        8    1
T071 2008-07-21        8    1
T071 2008-07-23        8    1
T071 2008-07-24        8    1
T071 2008-07-28        8    1
T071 2008-07-29        8    1
T071 2008-08-04        8    1
T071 2008-08-05        8    1
T071 2008-08-12        8    1
T071 2008-08-13        8    1
T071 2008-08-19        8    1
T071 2008-08-25        8    1
T071 2008-08-26        8    1
T071 2008-09-02        8    1
T071 2008-09-03        8    1
T071 2008-09-09        8    1
T071 2008-09-15        8    1
T071 2008-09-19        8    1
T071 2008-09-29        8
T071 2010-06-02        8
T071 2010-06-11        8
T071 2010-06-18        8    1
T071 2010-06-25        8    1
T071 2010-06-28        8    1
...         ...      ...  ...
T071 2012-08-09        8    1
T071 2012-08-10        8    1
T071 2012-08-16        8    1
T071 2012-08-17        8    1
T071 2012-08-23        8    1
T071 2012-08-24        8    1
T071 2012-08-30        8    1
T071 2012-08-31        8    1
T071 2012-09-10        8
T071 2012-09-13        8    1
T071 2012-09-20        8    1
T071 2012-09-28        8
T071 2014-06-05        8
T071 2014-06-12        8    1
T071 2014-06-19        8    1
T071 2014-06-26        8    1
T071 2014-07-03        8    1
T071 2014-07-10        8    1
T071 2014-07-17        8    1
T071 2014-07-24        8    1
T071 2014-07-31        8    1
T071 2014-08-07        8    1
T071 2014-08-14        8    1
T071 2014-08-21        8    1
T071 2014-08-28        8    1
T071 2014-09-05        8
T071 2014-09-11        8    1
T071 2014-09-18        8    1
T071 2014-09-25        8    1
T071 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T072 2008-06-11        8
T072 2008-06-17        8
T072 2008-06-24        8    1
T072 2008-07-01        8    1
T072 2008-07-04        8    1
T072 2008-07-11        8    1
T072 2008-07-14        8    1
T072 2008-07-21        8    1
T072 2008-07-23        8    1
T072 2008-07-24        8    1
T072 2008-07-28        8    1
T072 2008-07-29        8    1
T072 2008-08-04        8    1
T072 2008-08-05        8    1
T072 2008-08-12        8    1
T072 2008-08-13        8    1
T072 2008-08-19        8    1
T072 2008-08-25        8    1
T072 2008-08-26        8    1
T072 2008-09-02        8    1
T072 2008-09-03        8    1
T072 2008-09-09        8    1
T072 2008-09-15        8    1
T072 2008-09-19        8    1
T072 2008-09-29        8
T072 2010-06-02        8
T072 2010-06-11        8
T072 2010-06-18        8    1
T072 2010-06-25        8    1
T072 2010-06-28        8    1
...         ...      ...  ...
T072 2012-08-09        8    1
T072 2012-08-10        8    1
T072 2012-08-16        8    1
T072 2012-08-17        8    1
T072 2012-08-23        8    1
T072 2012-08-24        8    1
T072 2012-08-30        8    1
T072 2012-08-31        8    1
T072 2012-09-10        8
T072 2012-09-13        8    1
T072 2012-09-20        8    1
T072 2012-09-28        8
T072 2014-06-05        8
T072 2014-06-12        8    1
T072 2014-06-19        8    1
T072 2014-06-26        8    1
T072 2014-07-03        8    1
T072 2014-07-10        8    1
T072 2014-07-17        8    1
T072 2014-07-24        8    1
T072 2014-07-31        8    1
T072 2014-08-07        8    1
T072 2014-08-14        8    1
T072 2014-08-21        8    1
T072 2014-08-28        8    1
T072 2014-09-05        8
T072 2014-09-11        8    1
T072 2014-09-18        8    1
T072 2014-09-25        8    1
T072 2014-10-02        8    1

[95 rows x 3 columns]

           Date  Records More
Trap
T073 2008-06-11        8
T073 2008-06-17        8
T073 2008-06-24        8    1
T073 2008-07-01        8    1
T073 2008-07-04        8    1
T073 2008-07-11        8    1
T073 2008-07-14        8    1
T073 2008-07-21        8    1
T073 2008-07-23        8    1
T073 2008-07-24        8    1
T073 2008-07-28        8    1
T073 2008-07-29        8    1
T073 2008-08-04        8    1
T073 2008-08-05        8    1
T073 2008-08-12        8    1
T073 2008-08-13        8    1
T073 2008-08-19        8    1
T073 2008-08-25        8    1
T073 2008-08-26        8    1
T073 2008-09-02        8    1
T073 2008-09-03        8    1
T073 2008-09-09        8    1
T073 2008-09-15        8    1
T073 2008-09-19        8    1
T073 2008-09-29        8
T073 2010-06-02        8
T073 2010-06-11        8
T073 2010-06-18        8    1
T073 2010-06-25        8    1
T073 2010-06-28        8    1
...         ...      ...  ...
T073 2012-08-09        8    1
T073 2012-08-10        9    1
T073 2012-08-16        8    1
T073 2012-08-17        8    1
T073 2012-08-23        8    1
T073 2012-08-24        8    1
T073 2012-08-30        8    1
T073 2012-08-31        8    1
T073 2012-09-10        8
T073 2012-09-13        8    1
T073 2012-09-20        8    1
T073 2012-09-28        8
T073 2014-06-05        8
T073 2014-06-12       10    1
T073 2014-06-19        8    1
T073 2014-06-26        8    1
T073 2014-07-03       11    1
T073 2014-07-10        9    1
T073 2014-07-17        8    1
T073 2014-07-24        8    1
T073 2014-07-31        8    1
T073 2014-08-07        9    1
T073 2014-08-14        8    1
T073 2014-08-21       11    1
T073 2014-08-28        8    1
T073 2014-09-05        8
T073 2014-09-11        8    1
T073 2014-09-18        8    1
T073 2014-09-25        8    1
T073 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T074 2008-06-11        8
T074 2008-06-17        8
T074 2008-06-24        8    1
T074 2008-07-01        8    1
T074 2008-07-04        8    1
T074 2008-07-11        8    1
T074 2008-07-14        8    1
T074 2008-07-21        8    1
T074 2008-07-23        8    1
T074 2008-07-24        8    1
T074 2008-07-28        9    1
T074 2008-07-29        8    1
T074 2008-08-04        8    1
T074 2008-08-05        8    1
T074 2008-08-12        8    1
T074 2008-08-13        8    1
T074 2008-08-19        8    1
T074 2008-08-25        8    1
T074 2008-08-26       10    1
T074 2008-09-02        8    1
T074 2008-09-03        8    1
T074 2008-09-09        8    1
T074 2008-09-15        8    1
T074 2008-09-19        8    1
T074 2008-09-29        8
T074 2010-06-02        8
T074 2010-06-11        8
T074 2010-06-18        8    1
T074 2010-06-25        8    1
T074 2010-06-28        8    1
...         ...      ...  ...
T074 2012-08-09        8    1
T074 2012-08-10        8    1
T074 2012-08-16        8    1
T074 2012-08-17        8    1
T074 2012-08-23        8    1
T074 2012-08-24        8    1
T074 2012-08-30        8    1
T074 2012-08-31        8    1
T074 2012-09-10        8
T074 2012-09-13        8    1
T074 2012-09-20        8    1
T074 2012-09-28        8
T074 2014-06-05        8
T074 2014-06-12        8    1
T074 2014-06-19        8    1
T074 2014-06-26        8    1
T074 2014-07-03        8    1
T074 2014-07-10        8    1
T074 2014-07-17        8    1
T074 2014-07-24        8    1
T074 2014-07-31        8    1
T074 2014-08-07        8    1
T074 2014-08-14        8    1
T074 2014-08-21        8    1
T074 2014-08-28        9    1
T074 2014-09-05        8
T074 2014-09-11        8    1
T074 2014-09-18        8    1
T074 2014-09-25        8    1
T074 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T075 2008-06-11        8
T075 2008-06-17        8
T075 2008-06-24        8    1
T075 2008-07-01        8    1
T075 2008-07-04        8    1
T075 2008-07-11        8    1
T075 2008-07-14        8    1
T075 2008-07-21        8    1
T075 2008-07-23        8    1
T075 2008-07-24        8    1
T075 2008-07-28        8    1
T075 2008-07-29        8    1
T075 2008-08-04        8    1
T075 2008-08-05        8    1
T075 2008-08-12        8    1
T075 2008-08-13        8    1
T075 2008-08-19        8    1
T075 2008-08-25        8    1
T075 2008-08-26        8    1
T075 2008-09-02        8    1
T075 2008-09-03        8    1
T075 2008-09-09        8    1
T075 2008-09-15        8    1
T075 2008-09-19        8    1
T075 2008-09-29        8
T075 2010-06-02        8
T075 2010-06-11        8
T075 2010-06-18        8    1
T075 2010-06-25        8    1
T075 2010-06-28        8    1
...         ...      ...  ...
T075 2012-08-09        8    1
T075 2012-08-10        8    1
T075 2012-08-16        8    1
T075 2012-08-17        8    1
T075 2012-08-23        8    1
T075 2012-08-24        8    1
T075 2012-08-30        8    1
T075 2012-08-31        8    1
T075 2012-09-10        8
T075 2012-09-13        8    1
T075 2012-09-20        8    1
T075 2012-09-28        8
T075 2014-06-05        8
T075 2014-06-12        8    1
T075 2014-06-19        8    1
T075 2014-06-26        8    1
T075 2014-07-03        8    1
T075 2014-07-10        8    1
T075 2014-07-17        8    1
T075 2014-07-24        8    1
T075 2014-07-31        8    1
T075 2014-08-07        8    1
T075 2014-08-14        8    1
T075 2014-08-21        8    1
T075 2014-08-28        8    1
T075 2014-09-05        8
T075 2014-09-11        8    1
T075 2014-09-18        8    1
T075 2014-09-25        8    1
T075 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T076 2008-06-11        8
T076 2008-06-17        8
T076 2008-06-24        8    1
T076 2008-07-01        8    1
T076 2008-07-04        8    1
T076 2008-07-11        8    1
T076 2008-07-14        8    1
T076 2008-07-21        8    1
T076 2008-07-23        8    1
T076 2008-07-24        8    1
T076 2008-07-28        8    1
T076 2008-07-29        8    1
T076 2008-08-04        8    1
T076 2008-08-05        8    1
T076 2008-08-12        8    1
T076 2008-08-13        8    1
T076 2008-08-19        8    1
T076 2008-08-25        8    1
T076 2008-08-26        8    1
T076 2008-09-02        8    1
T076 2008-09-03        8    1
T076 2008-09-09        8    1
T076 2008-09-15        8    1
T076 2008-09-19        8    1
T076 2008-09-29        8
T076 2010-06-02        8
T076 2010-06-11        8
T076 2010-06-18        8    1
T076 2010-06-25        8    1
T076 2010-06-28        8    1
...         ...      ...  ...
T076 2012-08-09        8    1
T076 2012-08-10        8    1
T076 2012-08-16        8    1
T076 2012-08-17        8    1
T076 2012-08-23        8    1
T076 2012-08-24        8    1
T076 2012-08-30        8    1
T076 2012-08-31        8    1
T076 2012-09-10        8
T076 2012-09-13        8    1
T076 2012-09-20        8    1
T076 2012-09-28        8
T076 2014-06-05        8
T076 2014-06-12        8    1
T076 2014-06-19        8    1
T076 2014-06-26        8    1
T076 2014-07-03        8    1
T076 2014-07-10        8    1
T076 2014-07-17        8    1
T076 2014-07-24        8    1
T076 2014-07-31        8    1
T076 2014-08-07        8    1
T076 2014-08-14        8    1
T076 2014-08-21        8    1
T076 2014-08-28        8    1
T076 2014-09-05        8
T076 2014-09-11        8    1
T076 2014-09-18        8    1
T076 2014-09-25        8    1
T076 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T077 2008-06-11        8
T077 2008-06-17        8
T077 2008-06-24        8    1
T077 2008-07-01        8    1
T077 2008-07-04        8    1
T077 2008-07-11        8    1
T077 2008-07-14        8    1
T077 2008-07-21        8    1
T077 2008-07-23        8    1
T077 2008-07-24        8    1
T077 2008-07-28        8    1
T077 2008-07-29        8    1
T077 2008-08-04        8    1
T077 2008-08-05        8    1
T077 2008-08-12        8    1
T077 2008-08-13        8    1
T077 2008-08-19        8    1
T077 2008-08-25        8    1
T077 2008-08-26        8    1
T077 2008-09-02        8    1
T077 2008-09-03        8    1
T077 2008-09-09        8    1
T077 2008-09-15        8    1
T077 2008-09-19        8    1
T077 2008-09-29        8
T077 2010-06-02        8
T077 2010-06-11        8
T077 2010-06-18        8    1
T077 2010-06-25        8    1
T077 2010-06-28        8    1
...         ...      ...  ...
T077 2012-08-09        8    1
T077 2012-08-10        8    1
T077 2012-08-16        8    1
T077 2012-08-17        8    1
T077 2012-08-23        8    1
T077 2012-08-24        8    1
T077 2012-08-30        8    1
T077 2012-08-31        8    1
T077 2012-09-10        8
T077 2012-09-13        8    1
T077 2012-09-20        8    1
T077 2012-09-28        8
T077 2014-06-05        8
T077 2014-06-12        8    1
T077 2014-06-19        8    1
T077 2014-06-26        8    1
T077 2014-07-03        8    1
T077 2014-07-10        8    1
T077 2014-07-17        8    1
T077 2014-07-24        8    1
T077 2014-07-31        8    1
T077 2014-08-07        8    1
T077 2014-08-14        8    1
T077 2014-08-21        8    1
T077 2014-08-28        8    1
T077 2014-09-05        8
T077 2014-09-11        8    1
T077 2014-09-18        8    1
T077 2014-09-25        8    1
T077 2014-10-02        8    1

[95 rows x 3 columns]

           Date  Records More
Trap
T078 2008-06-11        8
T078 2008-06-17        8
T078 2008-06-24        8    1
T078 2008-07-01        8    1
T078 2008-07-04        8    1
T078 2008-07-11        8    1
T078 2008-07-14        8    1
T078 2008-07-21        8    1
T078 2008-07-23        8    1
T078 2008-07-24        8    1
T078 2008-07-28        8    1
T078 2008-07-29        8    1
T078 2008-08-04        8    1
T078 2008-08-05        8    1
T078 2008-08-12        8    1
T078 2008-08-13        8    1
T078 2008-08-19        8    1
T078 2008-08-25        8    1
T078 2008-08-26        8    1
T078 2008-09-02        8    1
T078 2008-09-03        8    1
T078 2008-09-09        8    1
T078 2008-09-15        8    1
T078 2008-09-19        8    1
T078 2008-09-29        8
T078 2010-06-02        8
T078 2010-06-11        8
T078 2010-06-18        8    1
T078 2010-06-25        8    1
T078 2010-06-28        8    1
...         ...      ...  ...
T078 2012-08-09        8    1
T078 2012-08-10        8    1
T078 2012-08-16        8    1
T078 2012-08-17        8    1
T078 2012-08-23        8    1
T078 2012-08-24        8    1
T078 2012-08-30        8    1
T078 2012-08-31        8    1
T078 2012-09-10        8
T078 2012-09-13        8    1
T078 2012-09-20        8    1
T078 2012-09-28        8
T078 2014-06-05        8
T078 2014-06-12        8    1
T078 2014-06-19        8    1
T078 2014-06-26        8    1
T078 2014-07-03        8    1
T078 2014-07-10        8    1
T078 2014-07-17        8    1
T078 2014-07-24        8    1
T078 2014-07-31        8    1
T078 2014-08-07        8    1
T078 2014-08-14        8    1
T078 2014-08-21        8    1
T078 2014-08-28        8    1
T078 2014-09-05        8
T078 2014-09-11        8    1
T078 2014-09-18        8    1
T078 2014-09-25        8    1
T078 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T079 2008-06-11        8
T079 2008-06-17        8
T079 2008-06-24        8    1
T079 2008-07-01        8    1
T079 2008-07-04        8    1
T079 2008-07-11        8    1
T079 2008-07-14        8    1
T079 2008-07-21        8    1
T079 2008-07-23        8    1
T079 2008-07-24        8    1
T079 2008-07-28        8    1
T079 2008-07-29        8    1
T079 2008-08-04        8    1
T079 2008-08-05        8    1
T079 2008-08-12        8    1
T079 2008-08-13        8    1
T079 2008-08-19        8    1
T079 2008-08-25        8    1
T079 2008-08-26        8    1
T079 2008-09-02        8    1
T079 2008-09-03        8    1
T079 2008-09-09        8    1
T079 2008-09-15        8    1
T079 2008-09-19        8    1
T079 2008-09-29        8
T079 2010-06-02        8
T079 2010-06-11        8
T079 2010-06-18        8    1
T079 2010-06-25        8    1
T079 2010-06-28        8    1
...         ...      ...  ...
T079 2012-08-09        8    1
T079 2012-08-10        8    1
T079 2012-08-16        8    1
T079 2012-08-17        8    1
T079 2012-08-23        8    1
T079 2012-08-24        8    1
T079 2012-08-30        8    1
T079 2012-08-31        8    1
T079 2012-09-10        8
T079 2012-09-13        8    1
T079 2012-09-20        8    1
T079 2012-09-28        8
T079 2014-06-05        8
T079 2014-06-12        8    1
T079 2014-06-19        8    1
T079 2014-06-26        8    1
T079 2014-07-03        8    1
T079 2014-07-10        8    1
T079 2014-07-17        8    1
T079 2014-07-24        8    1
T079 2014-07-31        8    1
T079 2014-08-07        8    1
T079 2014-08-14        8    1
T079 2014-08-21        8    1
T079 2014-08-28        8    1
T079 2014-09-05        8
T079 2014-09-11        8    1
T079 2014-09-18        8    1
T079 2014-09-25        8    1
T079 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T080 2008-06-11        8
T080 2008-06-17        8
T080 2008-06-24        8    1
T080 2008-07-01        8    1
T080 2008-07-04        8    1
T080 2008-07-11        8    1
T080 2008-07-14        8    1
T080 2008-07-21        8    1
T080 2008-07-23        8    1
T080 2008-07-24        8    1
T080 2008-07-28        8    1
T080 2008-07-29        8    1
T080 2008-08-04        8    1
T080 2008-08-05        8    1
T080 2008-08-12        8    1
T080 2008-08-13        8    1
T080 2008-08-19        8    1
T080 2008-08-25        8    1
T080 2008-08-26        8    1
T080 2008-09-02        8    1
T080 2008-09-03        8    1
T080 2008-09-09        8    1
T080 2008-09-15        8    1
T080 2008-09-19        8    1
T080 2008-09-29        8
T080 2010-06-02        8
T080 2010-06-11        8
T080 2010-06-18        8    1
T080 2010-06-25        8    1
T080 2010-06-28        8    1
...         ...      ...  ...
T080 2012-08-09        8    1
T080 2012-08-10        8    1
T080 2012-08-16        8    1
T080 2012-08-17        8    1
T080 2012-08-23        8    1
T080 2012-08-24        8    1
T080 2012-08-30        8    1
T080 2012-08-31        8    1
T080 2012-09-10        8
T080 2012-09-13        8    1
T080 2012-09-20        8    1
T080 2012-09-28        8
T080 2014-06-05        8
T080 2014-06-12        8    1
T080 2014-06-19        9    1
T080 2014-06-26        8    1
T080 2014-07-03        9    1
T080 2014-07-10        8    1
T080 2014-07-17        8    1
T080 2014-07-24        8    1
T080 2014-07-31       10    1
T080 2014-08-07        8    1
T080 2014-08-14        8    1
T080 2014-08-21        9    1
T080 2014-08-28        9    1
T080 2014-09-05        8
T080 2014-09-11        8    1
T080 2014-09-18        8    1
T080 2014-09-25        8    1
T080 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T081 2008-06-11        8
T081 2008-06-17        8
T081 2008-06-24        8    1
T081 2008-07-01        8    1
T081 2008-07-04        8    1
T081 2008-07-11        8    1
T081 2008-07-14        8    1
T081 2008-07-21        8    1
T081 2008-07-23        8    1
T081 2008-07-24        8    1
T081 2008-07-28        8    1
T081 2008-07-29        8    1
T081 2008-08-04        8    1
T081 2008-08-05        8    1
T081 2008-08-12        8    1
T081 2008-08-13        8    1
T081 2008-08-19        8    1
T081 2008-08-25        8    1
T081 2008-08-26        8    1
T081 2008-09-02        8    1
T081 2008-09-03        8    1
T081 2008-09-09        8    1
T081 2008-09-15        8    1
T081 2008-09-19        8    1
T081 2008-09-29        8
T081 2010-06-02        8
T081 2010-06-11        8
T081 2010-06-18        8    1
T081 2010-06-25        8    1
T081 2010-06-28        8    1
...         ...      ...  ...
T081 2012-08-09        8    1
T081 2012-08-10        8    1
T081 2012-08-16        8    1
T081 2012-08-17        8    1
T081 2012-08-23        8    1
T081 2012-08-24        8    1
T081 2012-08-30        8    1
T081 2012-08-31        8    1
T081 2012-09-10        8
T081 2012-09-13        8    1
T081 2012-09-20        8    1
T081 2012-09-28        8
T081 2014-06-05        8
T081 2014-06-12        8    1
T081 2014-06-19        8    1
T081 2014-06-26        8    1
T081 2014-07-03        8    1
T081 2014-07-10        8    1
T081 2014-07-17        8    1
T081 2014-07-24        8    1
T081 2014-07-31        8    1
T081 2014-08-07        8    1
T081 2014-08-14        8    1
T081 2014-08-21        8    1
T081 2014-08-28        8    1
T081 2014-09-05        8
T081 2014-09-11        8    1
T081 2014-09-18        8    1
T081 2014-09-25        8    1
T081 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T082 2008-06-11        8
T082 2008-06-17        8
T082 2008-06-24        8    1
T082 2008-07-01        8    1
T082 2008-07-04        8    1
T082 2008-07-11        8    1
T082 2008-07-14        8    1
T082 2008-07-21        8    1
T082 2008-07-23        8    1
T082 2008-07-24        8    1
T082 2008-07-28        8    1
T082 2008-07-29        8    1
T082 2008-08-04        8    1
T082 2008-08-05        8    1
T082 2008-08-12        8    1
T082 2008-08-13        8    1
T082 2008-08-19        8    1
T082 2008-08-25        8    1
T082 2008-08-26        8    1
T082 2008-09-02        8    1
T082 2008-09-03        8    1
T082 2008-09-09        8    1
T082 2008-09-15        8    1
T082 2008-09-19        8    1
T082 2008-09-29        8
T082 2010-06-02        8
T082 2010-06-11        8
T082 2010-06-18        8    1
T082 2010-06-25        8    1
T082 2010-06-28        8    1
...         ...      ...  ...
T082 2012-08-09        8    1
T082 2012-08-10        8    1
T082 2012-08-16        8    1
T082 2012-08-17        8    1
T082 2012-08-23        8    1
T082 2012-08-24        8    1
T082 2012-08-30        8    1
T082 2012-08-31        8    1
T082 2012-09-10        8
T082 2012-09-13        8    1
T082 2012-09-20        8    1
T082 2012-09-28        8
T082 2014-06-05        8
T082 2014-06-12        8    1
T082 2014-06-19        8    1
T082 2014-06-26        8    1
T082 2014-07-03        8    1
T082 2014-07-10        8    1
T082 2014-07-17        8    1
T082 2014-07-24        8    1
T082 2014-07-31        8    1
T082 2014-08-07        8    1
T082 2014-08-14        8    1
T082 2014-08-21        8    1
T082 2014-08-28       11    1
T082 2014-09-05        8
T082 2014-09-11        8    1
T082 2014-09-18        8    1
T082 2014-09-25        8    1
T082 2014-10-02        8    1

[95 rows x 3 columns]

           Date  Records More
Trap
T083 2008-06-11        8
T083 2008-06-17        8
T083 2008-06-24        8    1
T083 2008-07-01        8    1
T083 2008-07-04        8    1
T083 2008-07-11        8    1
T083 2008-07-14        8    1
T083 2008-07-21        8    1
T083 2008-07-23        8    1
T083 2008-07-24        8    1
T083 2008-07-28        8    1
T083 2008-07-29        8    1
T083 2008-08-04        8    1
T083 2008-08-05        8    1
T083 2008-08-12        8    1
T083 2008-08-13        8    1
T083 2008-08-19        8    1
T083 2008-08-25        8    1
T083 2008-08-26        8    1
T083 2008-09-02        8    1
T083 2008-09-03        8    1
T083 2008-09-09        8    1
T083 2008-09-15        8    1
T083 2008-09-19        8    1
T083 2008-09-29        8
T083 2010-06-02        8
T083 2010-06-11        8
T083 2010-06-18        8    1
T083 2010-06-25        8    1
T083 2010-06-28        8    1
...         ...      ...  ...
T083 2012-08-09        8    1
T083 2012-08-10        8    1
T083 2012-08-16        8    1
T083 2012-08-17        8    1
T083 2012-08-23        8    1
T083 2012-08-24        8    1
T083 2012-08-30        8    1
T083 2012-08-31        8    1
T083 2012-09-10        8
T083 2012-09-13        8    1
T083 2012-09-20        8    1
T083 2012-09-28        8
T083 2014-06-05        8
T083 2014-06-12        8    1
T083 2014-06-19        8    1
T083 2014-06-26        8    1
T083 2014-07-03        8    1
T083 2014-07-10        8    1
T083 2014-07-17        8    1
T083 2014-07-24        8    1
T083 2014-07-31        8    1
T083 2014-08-07        8    1
T083 2014-08-14        8    1
T083 2014-08-21        8    1
T083 2014-08-28        8    1
T083 2014-09-05        8
T083 2014-09-11        8    1
T083 2014-09-18        8    1
T083 2014-09-25        8    1
T083 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T084 2008-06-11        8
T084 2008-06-17        8
T084 2008-06-24        8    1
T084 2008-07-01        8    1
T084 2008-07-04        8    1
T084 2008-07-11        8    1
T084 2008-07-14        8    1
T084 2008-07-21        8    1
T084 2008-07-23        8    1
T084 2008-07-24        8    1
T084 2008-07-28        8    1
T084 2008-07-29        8    1
T084 2008-08-04        8    1
T084 2008-08-05        8    1
T084 2008-08-12        8    1
T084 2008-08-13        8    1
T084 2008-08-19        8    1
T084 2008-08-25        8    1
T084 2008-08-26        8    1
T084 2008-09-02        8    1
T084 2008-09-03        8    1
T084 2008-09-09        8    1
T084 2008-09-15        8    1
T084 2008-09-19        8    1
T084 2008-09-29        8
T084 2010-06-02        8
T084 2010-06-11        8
T084 2010-06-18        8    1
T084 2010-06-25        8    1
T084 2010-06-28        8    1
...         ...      ...  ...
T084 2012-08-09        8    1
T084 2012-08-10        8    1
T084 2012-08-16        8    1
T084 2012-08-17        8    1
T084 2012-08-23        8    1
T084 2012-08-24        8    1
T084 2012-08-30        8    1
T084 2012-08-31        8    1
T084 2012-09-10        8
T084 2012-09-13        8    1
T084 2012-09-20        8    1
T084 2012-09-28        8
T084 2014-06-05        8
T084 2014-06-12        8    1
T084 2014-06-19        8    1
T084 2014-06-26        8    1
T084 2014-07-03        8    1
T084 2014-07-10        8    1
T084 2014-07-17        8    1
T084 2014-07-24        8    1
T084 2014-07-31        8    1
T084 2014-08-07        8    1
T084 2014-08-14        8    1
T084 2014-08-21        8    1
T084 2014-08-28        8    1
T084 2014-09-05        8
T084 2014-09-11        8    1
T084 2014-09-18        8    1
T084 2014-09-25        8    1
T084 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T085 2008-06-11        8
T085 2008-06-17        8
T085 2008-06-24        8    1
T085 2008-07-01        8    1
T085 2008-07-04        8    1
T085 2008-07-11        8    1
T085 2008-07-14        8    1
T085 2008-07-21        8    1
T085 2008-07-23        8    1
T085 2008-07-24        8    1
T085 2008-07-28        8    1
T085 2008-07-29        8    1
T085 2008-08-04        8    1
T085 2008-08-05        8    1
T085 2008-08-12        8    1
T085 2008-08-13        8    1
T085 2008-08-19        8    1
T085 2008-08-25        8    1
T085 2008-08-26        8    1
T085 2008-09-02        8    1
T085 2008-09-03        8    1
T085 2008-09-09        8    1
T085 2008-09-15        8    1
T085 2008-09-19        8    1
T085 2008-09-29        8
T085 2010-06-02        8
T085 2010-06-11        8
T085 2010-06-18        8    1
T085 2010-06-25        8    1
T085 2010-06-28        8    1
...         ...      ...  ...
T085 2012-08-09        8    1
T085 2012-08-10        8    1
T085 2012-08-16        8    1
T085 2012-08-17        8    1
T085 2012-08-23        8    1
T085 2012-08-24        8    1
T085 2012-08-30        8    1
T085 2012-08-31        8    1
T085 2012-09-10        8
T085 2012-09-13        8    1
T085 2012-09-20        8    1
T085 2012-09-28        8
T085 2014-06-05        8
T085 2014-06-12        8    1
T085 2014-06-19        8    1
T085 2014-06-26        8    1
T085 2014-07-03        8    1
T085 2014-07-10        8    1
T085 2014-07-17        8    1
T085 2014-07-24        8    1
T085 2014-07-31        8    1
T085 2014-08-07        8    1
T085 2014-08-14        8    1
T085 2014-08-21        8    1
T085 2014-08-28        8    1
T085 2014-09-05        8
T085 2014-09-11        8    1
T085 2014-09-18        8    1
T085 2014-09-25        8    1
T085 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T086 2008-06-11        8
T086 2008-06-17        8
T086 2008-06-24        8    1
T086 2008-07-01        8    1
T086 2008-07-04        8    1
T086 2008-07-11        8    1
T086 2008-07-14        8    1
T086 2008-07-21        8    1
T086 2008-07-23        8    1
T086 2008-07-24        8    1
T086 2008-07-28        8    1
T086 2008-07-29        8    1
T086 2008-08-04        8    1
T086 2008-08-05        8    1
T086 2008-08-12        8    1
T086 2008-08-13        8    1
T086 2008-08-19        8    1
T086 2008-08-25        8    1
T086 2008-08-26        8    1
T086 2008-09-02        8    1
T086 2008-09-03        8    1
T086 2008-09-09        8    1
T086 2008-09-15        8    1
T086 2008-09-19        8    1
T086 2008-09-29        8
T086 2010-06-02        8
T086 2010-06-11        8
T086 2010-06-18        8    1
T086 2010-06-25        8    1
T086 2010-06-28        8    1
...         ...      ...  ...
T086 2012-08-09        8    1
T086 2012-08-10        8    1
T086 2012-08-16        8    1
T086 2012-08-17        8    1
T086 2012-08-23        8    1
T086 2012-08-24        8    1
T086 2012-08-30        8    1
T086 2012-08-31        8    1
T086 2012-09-10        8
T086 2012-09-13        8    1
T086 2012-09-20        8    1
T086 2012-09-28        8
T086 2014-06-05        8
T086 2014-06-12        8    1
T086 2014-06-19        8    1
T086 2014-06-26        8    1
T086 2014-07-03        8    1
T086 2014-07-10        8    1
T086 2014-07-17        8    1
T086 2014-07-24        8    1
T086 2014-07-31        8    1
T086 2014-08-07        8    1
T086 2014-08-14        8    1
T086 2014-08-21        8    1
T086 2014-08-28        8    1
T086 2014-09-05        8
T086 2014-09-11        8    1
T086 2014-09-18        8    1
T086 2014-09-25        8    1
T086 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T088 2008-06-11        8
T088 2008-06-17        8
T088 2008-06-24        8    1
T088 2008-07-01        8    1
T088 2008-07-04        8    1
T088 2008-07-11        8    1
T088 2008-07-14        8    1
T088 2008-07-21        8    1
T088 2008-07-23        8    1
T088 2008-07-24        8    1
T088 2008-07-28        8    1
T088 2008-07-29        8    1
T088 2008-08-04        8    1
T088 2008-08-05        8    1
T088 2008-08-12        8    1
T088 2008-08-13        8    1
T088 2008-08-19        8    1
T088 2008-08-25        8    1
T088 2008-08-26        8    1
T088 2008-09-02        8    1
T088 2008-09-03        8    1
T088 2008-09-09        8    1
T088 2008-09-15        8    1
T088 2008-09-19        8    1
T088 2008-09-29        8
T088 2010-06-02        8
T088 2010-06-11        8
T088 2010-06-18        8    1
T088 2010-06-25        8    1
T088 2010-06-28        8    1
...         ...      ...  ...
T088 2012-08-09        8    1
T088 2012-08-10        8    1
T088 2012-08-16        8    1
T088 2012-08-17        8    1
T088 2012-08-23        8    1
T088 2012-08-24        8    1
T088 2012-08-30        8    1
T088 2012-08-31        8    1
T088 2012-09-10        8
T088 2012-09-13        8    1
T088 2012-09-20        8    1
T088 2012-09-28        8
T088 2014-06-05        8
T088 2014-06-12        8    1
T088 2014-06-19        8    1
T088 2014-06-26        8    1
T088 2014-07-03        8    1
T088 2014-07-10        8    1
T088 2014-07-17        8    1
T088 2014-07-24        8    1
T088 2014-07-31        8    1
T088 2014-08-07        8    1
T088 2014-08-14        8    1
T088 2014-08-21        8    1
T088 2014-08-28        8    1
T088 2014-09-05        8
T088 2014-09-11        8    1
T088 2014-09-18        8    1
T088 2014-09-25        8    1
T088 2014-10-02        8    1

[95 rows x 3 columns]

           Date  Records More
Trap
T089 2008-06-11        8
T089 2008-06-17        8
T089 2008-06-24        8    1
T089 2008-07-01        8    1
T089 2008-07-04        8    1
T089 2008-07-11        8    1
T089 2008-07-14        8    1
T089 2008-07-21        8    1
T089 2008-07-23        8    1
T089 2008-07-24        8    1
T089 2008-07-28        8    1
T089 2008-07-29        8    1
T089 2008-08-04        8    1
T089 2008-08-05        8    1
T089 2008-08-12        8    1
T089 2008-08-13        8    1
T089 2008-08-19        8    1
T089 2008-08-25        8    1
T089 2008-08-26        8    1
T089 2008-09-02        8    1
T089 2008-09-03        8    1
T089 2008-09-09        8    1
T089 2008-09-15        8    1
T089 2008-09-19        8    1
T089 2008-09-29        8
T089 2010-06-02        8
T089 2010-06-11        8
T089 2010-06-18        8    1
T089 2010-06-25        9    1
T089 2010-06-28        8    1
...         ...      ...  ...
T089 2012-08-09        8    1
T089 2012-08-10        8    1
T089 2012-08-16        8    1
T089 2012-08-17        8    1
T089 2012-08-23        8    1
T089 2012-08-24        8    1
T089 2012-08-30        8    1
T089 2012-08-31        8    1
T089 2012-09-10        8
T089 2012-09-13        8    1
T089 2012-09-20        8    1
T089 2012-09-28        8
T089 2014-06-05        8
T089 2014-06-12        8    1
T089 2014-06-19        8    1
T089 2014-06-26        8    1
T089 2014-07-03        8    1
T089 2014-07-10        8    1
T089 2014-07-17        8    1
T089 2014-07-24        8    1
T089 2014-07-31        8    1
T089 2014-08-07        8    1
T089 2014-08-14        8    1
T089 2014-08-21        8    1
T089 2014-08-28        8    1
T089 2014-09-05        8
T089 2014-09-11        8    1
T089 2014-09-18        8    1
T089 2014-09-25        8    1
T089 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T090 2008-06-11        8
T090 2008-06-17        8
T090 2008-06-24        8    1
T090 2008-07-01        8    1
T090 2008-07-04        8    1
T090 2008-07-11        8    1
T090 2008-07-14        8    1
T090 2008-07-21        8    1
T090 2008-07-23        8    1
T090 2008-07-24        9    1
T090 2008-07-28        8    1
T090 2008-07-29        8    1
T090 2008-08-04        8    1
T090 2008-08-05        8    1
T090 2008-08-12        8    1
T090 2008-08-13        8    1
T090 2008-08-19        8    1
T090 2008-08-25        8    1
T090 2008-08-26        8    1
T090 2008-09-02        8    1
T090 2008-09-03        8    1
T090 2008-09-09        8    1
T090 2008-09-15        8    1
T090 2008-09-19        8    1
T090 2008-09-29        8
T090 2010-06-02        8
T090 2010-06-11        8
T090 2010-06-18        8    1
T090 2010-06-25        8    1
T090 2010-06-28        8    1
...         ...      ...  ...
T090 2012-08-09        8    1
T090 2012-08-10        8    1
T090 2012-08-16        8    1
T090 2012-08-17        8    1
T090 2012-08-23        8    1
T090 2012-08-24        8    1
T090 2012-08-30        8    1
T090 2012-08-31        8    1
T090 2012-09-10        8
T090 2012-09-13        8    1
T090 2012-09-20        8    1
T090 2012-09-28        8
T090 2014-06-05        8
T090 2014-06-12        8    1
T090 2014-06-19        8    1
T090 2014-06-26        8    1
T090 2014-07-03        8    1
T090 2014-07-10        8    1
T090 2014-07-17        8    1
T090 2014-07-24        8    1
T090 2014-07-31        8    1
T090 2014-08-07        8    1
T090 2014-08-14        8    1
T090 2014-08-21        8    1
T090 2014-08-28        9    1
T090 2014-09-05        8
T090 2014-09-11        8    1
T090 2014-09-18        8    1
T090 2014-09-25        8    1
T090 2014-10-02        8    1

[95 rows x 3 columns]
            Date  Records More
Trap
T090A 2008-06-11        8
T090A 2008-06-17        8
T090A 2008-06-24        8    1
T090A 2008-07-01        8    1
T090A 2008-07-04        8    1
T090A 2008-07-11        8    1
T090A 2008-07-14        8    1
T090A 2008-07-21        8    1
T090A 2008-07-23        8    1
T090A 2008-07-24        8    1
T090A 2008-07-28        8    1
T090A 2008-07-29        8    1
T090A 2008-08-04        8    1
T090A 2008-08-05        9    1
T090A 2008-08-12        8    1
T090A 2008-08-13       15    1
T090A 2008-08-19        8    1
T090A 2008-08-25        8    1
T090A 2008-08-26        8    1
T090A 2008-09-02        8    1
T090A 2008-09-03        8    1
T090A 2008-09-09        8    1
T090A 2008-09-15        8    1
T090A 2008-09-19        8    1
T090A 2008-09-29        8
T090A 2010-06-02        8
T090A 2010-06-11        8
T090A 2010-06-18        8    1
T090A 2010-06-25        8    1
T090A 2010-06-28        8    1
...          ...      ...  ...
T090A 2012-08-09        8    1
T090A 2012-08-10        8    1
T090A 2012-08-16        8    1
T090A 2012-08-17        8    1
T090A 2012-08-23        8    1
T090A 2012-08-24        8    1
T090A 2012-08-30        8    1
T090A 2012-08-31        8    1
T090A 2012-09-10        8
T090A 2012-09-13        8    1
T090A 2012-09-20        8    1
T090A 2012-09-28        8
T090A 2014-06-05        8
T090A 2014-06-12        8    1
T090A 2014-06-19        8    1
T090A 2014-06-26        8    1
T090A 2014-07-03        8    1
T090A 2014-07-10        8    1
T090A 2014-07-17        8    1
T090A 2014-07-24        8    1
T090A 2014-07-31        8    1
T090A 2014-08-07        8    1
T090A 2014-08-14        8    1
T090A 2014-08-21        8    1
T090A 2014-08-28        8    1
T090A 2014-09-05        8
T090A 2014-09-11        8    1
T090A 2014-09-18        8    1
T090A 2014-09-25        8    1
T090A 2014-10-02        8    1

[95 rows x 3 columns]
            Date  Records More
Trap
T090B 2008-06-11        8
T090B 2008-06-17        8
T090B 2008-06-24        8    1
T090B 2008-07-01        8    1
T090B 2008-07-04        8    1
T090B 2008-07-11        8    1
T090B 2008-07-14        8    1
T090B 2008-07-21        8    1
T090B 2008-07-23        8    1
T090B 2008-07-24        8    1
T090B 2008-07-28        8    1
T090B 2008-07-29        8    1
T090B 2008-08-04        8    1
T090B 2008-08-05        8    1
T090B 2008-08-12        8    1
T090B 2008-08-13        8    1
T090B 2008-08-19        8    1
T090B 2008-08-25        8    1
T090B 2008-08-26        8    1
T090B 2008-09-02        8    1
T090B 2008-09-03        8    1
T090B 2008-09-09        8    1
T090B 2008-09-15        8    1
T090B 2008-09-19        8    1
T090B 2008-09-29        8
T090B 2010-06-02        8
T090B 2010-06-11        8
T090B 2010-06-18        8    1
T090B 2010-06-25        8    1
T090B 2010-06-28        8    1
...          ...      ...  ...
T090B 2012-08-09        8    1
T090B 2012-08-10        8    1
T090B 2012-08-16        8    1
T090B 2012-08-17        8    1
T090B 2012-08-23        8    1
T090B 2012-08-24        8    1
T090B 2012-08-30        8    1
T090B 2012-08-31        8    1
T090B 2012-09-10        8
T090B 2012-09-13        8    1
T090B 2012-09-20        8    1
T090B 2012-09-28        8
T090B 2014-06-05        8
T090B 2014-06-12        8    1
T090B 2014-06-19        8    1
T090B 2014-06-26        8    1
T090B 2014-07-03        8    1
T090B 2014-07-10        8    1
T090B 2014-07-17        8    1
T090B 2014-07-24        8    1
T090B 2014-07-31        8    1
T090B 2014-08-07        8    1
T090B 2014-08-14        8    1
T090B 2014-08-21        8    1
T090B 2014-08-28        8    1
T090B 2014-09-05        8
T090B 2014-09-11        8    1
T090B 2014-09-18        8    1
T090B 2014-09-25        8    1
T090B 2014-10-02        8    1

[95 rows x 3 columns]
            Date  Records More
Trap
T090C 2008-06-11        8
T090C 2008-06-17        8
T090C 2008-06-24        8    1
T090C 2008-07-01        8    1
T090C 2008-07-04        8    1
T090C 2008-07-11        8    1
T090C 2008-07-14        8    1
T090C 2008-07-21        8    1
T090C 2008-07-23        8    1
T090C 2008-07-24        8    1
T090C 2008-07-28        8    1
T090C 2008-07-29        8    1
T090C 2008-08-04        8    1
T090C 2008-08-05        8    1
T090C 2008-08-12        8    1
T090C 2008-08-13        8    1
T090C 2008-08-19        8    1
T090C 2008-08-25        8    1
T090C 2008-08-26        8    1
T090C 2008-09-02        8    1
T090C 2008-09-03        8    1
T090C 2008-09-09        8    1
T090C 2008-09-15        8    1
T090C 2008-09-19        8    1
T090C 2008-09-29        8
T090C 2010-06-02        8
T090C 2010-06-11        8
T090C 2010-06-18        8    1
T090C 2010-06-25        8    1
T090C 2010-06-28        8    1
...          ...      ...  ...
T090C 2012-08-09        8    1
T090C 2012-08-10        8    1
T090C 2012-08-16        8    1
T090C 2012-08-17        8    1
T090C 2012-08-23        8    1
T090C 2012-08-24        8    1
T090C 2012-08-30        8    1
T090C 2012-08-31        8    1
T090C 2012-09-10        8
T090C 2012-09-13        8    1
T090C 2012-09-20        8    1
T090C 2012-09-28        8
T090C 2014-06-05        8
T090C 2014-06-12        8    1
T090C 2014-06-19        8    1
T090C 2014-06-26        8    1
T090C 2014-07-03        8    1
T090C 2014-07-10        8    1
T090C 2014-07-17        8    1
T090C 2014-07-24        8    1
T090C 2014-07-31        8    1
T090C 2014-08-07        8    1
T090C 2014-08-14        8    1
T090C 2014-08-21        8    1
T090C 2014-08-28        8    1
T090C 2014-09-05        8
T090C 2014-09-11        8    1
T090C 2014-09-18        8    1
T090C 2014-09-25        8    1
T090C 2014-10-02        8    1

[95 rows x 3 columns]

           Date  Records More
Trap
T091 2008-06-11        8
T091 2008-06-17        8
T091 2008-06-24        8    1
T091 2008-07-01        8    1
T091 2008-07-04        8    1
T091 2008-07-11        8    1
T091 2008-07-14        8    1
T091 2008-07-21        8    1
T091 2008-07-23        8    1
T091 2008-07-24        8    1
T091 2008-07-28        8    1
T091 2008-07-29        8    1
T091 2008-08-04        8    1
T091 2008-08-05        8    1
T091 2008-08-12        8    1
T091 2008-08-13        8    1
T091 2008-08-19        8    1
T091 2008-08-25        8    1
T091 2008-08-26        8    1
T091 2008-09-02        8    1
T091 2008-09-03        8    1
T091 2008-09-09        8    1
T091 2008-09-15        8    1
T091 2008-09-19        8    1
T091 2008-09-29        8
T091 2010-06-02        8
T091 2010-06-11        8
T091 2010-06-18        8    1
T091 2010-06-25        8    1
T091 2010-06-28        8    1
...         ...      ...  ...
T091 2012-08-09        8    1
T091 2012-08-10        8    1
T091 2012-08-16        8    1
T091 2012-08-17        8    1
T091 2012-08-23        8    1
T091 2012-08-24        8    1
T091 2012-08-30        8    1
T091 2012-08-31        8    1
T091 2012-09-10        8
T091 2012-09-13        8    1
T091 2012-09-20        8    1
T091 2012-09-28        8
T091 2014-06-05        8
T091 2014-06-12        8    1
T091 2014-06-19        8    1
T091 2014-06-26        8    1
T091 2014-07-03        8    1
T091 2014-07-10        8    1
T091 2014-07-17        8    1
T091 2014-07-24        8    1
T091 2014-07-31        8    1
T091 2014-08-07        8    1
T091 2014-08-14        8    1
T091 2014-08-21        8    1
T091 2014-08-28        8    1
T091 2014-09-05        8
T091 2014-09-11        8    1
T091 2014-09-18        8    1
T091 2014-09-25        8    1
T091 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T092 2008-06-11        8
T092 2008-06-17        8
T092 2008-06-24        8    1
T092 2008-07-01        8    1
T092 2008-07-04        8    1
T092 2008-07-11        8    1
T092 2008-07-14        8    1
T092 2008-07-21        8    1
T092 2008-07-23        8    1
T092 2008-07-24        8    1
T092 2008-07-28        8    1
T092 2008-07-29        8    1
T092 2008-08-04        8    1
T092 2008-08-05        8    1
T092 2008-08-12        8    1
T092 2008-08-13        8    1
T092 2008-08-19        8    1
T092 2008-08-25        8    1
T092 2008-08-26        8    1
T092 2008-09-02        8    1
T092 2008-09-03        8    1
T092 2008-09-09        8    1
T092 2008-09-15        8    1
T092 2008-09-19        8    1
T092 2008-09-29        8
T092 2010-06-02        8
T092 2010-06-11        8
T092 2010-06-18        8    1
T092 2010-06-25        8    1
T092 2010-06-28        8    1
...         ...      ...  ...
T092 2012-08-09        8    1
T092 2012-08-10        8    1
T092 2012-08-16        8    1
T092 2012-08-17        8    1
T092 2012-08-23        8    1
T092 2012-08-24        8    1
T092 2012-08-30        8    1
T092 2012-08-31        8    1
T092 2012-09-10        8
T092 2012-09-13        8    1
T092 2012-09-20        8    1
T092 2012-09-28        8
T092 2014-06-05        8
T092 2014-06-12        8    1
T092 2014-06-19        8    1
T092 2014-06-26        8    1
T092 2014-07-03        8    1
T092 2014-07-10        8    1
T092 2014-07-17        8    1
T092 2014-07-24        8    1
T092 2014-07-31        8    1
T092 2014-08-07        8    1
T092 2014-08-14        8    1
T092 2014-08-21        8    1
T092 2014-08-28        8    1
T092 2014-09-05        8
T092 2014-09-11        8    1
T092 2014-09-18        8    1
T092 2014-09-25        8    1
T092 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T094 2008-06-11        8
T094 2008-06-17        8
T094 2008-06-24        8    1
T094 2008-07-01        8    1
T094 2008-07-04        8    1
T094 2008-07-11        8    1
T094 2008-07-14        8    1
T094 2008-07-21        8    1
T094 2008-07-23        8    1
T094 2008-07-24        8    1
T094 2008-07-28        8    1
T094 2008-07-29        8    1
T094 2008-08-04        8    1
T094 2008-08-05        8    1
T094 2008-08-12        8    1
T094 2008-08-13        8    1
T094 2008-08-19        8    1
T094 2008-08-25        8    1
T094 2008-08-26        8    1
T094 2008-09-02        8    1
T094 2008-09-03        8    1
T094 2008-09-09        8    1
T094 2008-09-15        8    1
T094 2008-09-19        8    1
T094 2008-09-29        8
T094 2010-06-02        8
T094 2010-06-11        8
T094 2010-06-18        8    1
T094 2010-06-25        8    1
T094 2010-06-28        8    1
...         ...      ...  ...
T094 2012-08-09        8    1
T094 2012-08-10        8    1
T094 2012-08-16        8    1
T094 2012-08-17        8    1
T094 2012-08-23        8    1
T094 2012-08-24        8    1
T094 2012-08-30        8    1
T094 2012-08-31        8    1
T094 2012-09-10        8
T094 2012-09-13        8    1
T094 2012-09-20        8    1
T094 2012-09-28        8
T094 2014-06-05        8
T094 2014-06-12        8    1
T094 2014-06-19        8    1
T094 2014-06-26        8    1
T094 2014-07-03        8    1
T094 2014-07-10        8    1
T094 2014-07-17        8    1
T094 2014-07-24        8    1
T094 2014-07-31        8    1
T094 2014-08-07        8    1
T094 2014-08-14        8    1
T094 2014-08-21        8    1
T094 2014-08-28        9    1
T094 2014-09-05        8
T094 2014-09-11        8    1
T094 2014-09-18        8    1
T094 2014-09-25        8    1
T094 2014-10-02        8    1

[95 rows x 3 columns]
            Date  Records More
Trap
T094B 2008-06-11        8
T094B 2008-06-17        8
T094B 2008-06-24        8    1
T094B 2008-07-01        8    1
T094B 2008-07-04        8    1
T094B 2008-07-11        8    1
T094B 2008-07-14        8    1
T094B 2008-07-21        8    1
T094B 2008-07-23        8    1
T094B 2008-07-24        8    1
T094B 2008-07-28        8    1
T094B 2008-07-29        8    1
T094B 2008-08-04        8    1
T094B 2008-08-05        8    1
T094B 2008-08-12        8    1
T094B 2008-08-13        8    1
T094B 2008-08-19        8    1
T094B 2008-08-25        8    1
T094B 2008-08-26        8    1
T094B 2008-09-02        8    1
T094B 2008-09-03        8    1
T094B 2008-09-09        8    1
T094B 2008-09-15        8    1
T094B 2008-09-19        8    1
T094B 2008-09-29        8
T094B 2010-06-02        8
T094B 2010-06-11        8
T094B 2010-06-18        8    1
T094B 2010-06-25        8    1
T094B 2010-06-28        8    1
...          ...      ...  ...
T094B 2012-08-09        8    1
T094B 2012-08-10        8    1
T094B 2012-08-16        8    1
T094B 2012-08-17        8    1
T094B 2012-08-23        8    1
T094B 2012-08-24        8    1
T094B 2012-08-30        8    1
T094B 2012-08-31        8    1
T094B 2012-09-10        8
T094B 2012-09-13        8    1
T094B 2012-09-20        8    1
T094B 2012-09-28        8
T094B 2014-06-05        8
T094B 2014-06-12        8    1
T094B 2014-06-19        8    1
T094B 2014-06-26        8    1
T094B 2014-07-03        8    1
T094B 2014-07-10        8    1
T094B 2014-07-17        8    1
T094B 2014-07-24        8    1
T094B 2014-07-31        8    1
T094B 2014-08-07        8    1
T094B 2014-08-14        8    1
T094B 2014-08-21        8    1
T094B 2014-08-28        8    1
T094B 2014-09-05        8
T094B 2014-09-11        8    1
T094B 2014-09-18        8    1
T094B 2014-09-25        8    1
T094B 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T095 2008-06-11        8
T095 2008-06-17        8
T095 2008-06-24        8    1
T095 2008-07-01        8    1
T095 2008-07-04        8    1
T095 2008-07-11        8    1
T095 2008-07-14        8    1
T095 2008-07-21        8    1
T095 2008-07-23        8    1
T095 2008-07-24        8    1
T095 2008-07-28        8    1
T095 2008-07-29        8    1
T095 2008-08-04        8    1
T095 2008-08-05        8    1
T095 2008-08-12        8    1
T095 2008-08-13        8    1
T095 2008-08-19        8    1
T095 2008-08-25        8    1
T095 2008-08-26        8    1
T095 2008-09-02        8    1
T095 2008-09-03        8    1
T095 2008-09-09        8    1
T095 2008-09-15        8    1
T095 2008-09-19        8    1
T095 2008-09-29        8
T095 2010-06-02        8
T095 2010-06-11        8
T095 2010-06-18        8    1
T095 2010-06-25        8    1
T095 2010-06-28        8    1
...         ...      ...  ...
T095 2012-08-09        8    1
T095 2012-08-10        8    1
T095 2012-08-16        8    1
T095 2012-08-17        8    1
T095 2012-08-23        8    1
T095 2012-08-24        8    1
T095 2012-08-30        8    1
T095 2012-08-31        8    1
T095 2012-09-10        8
T095 2012-09-13        8    1
T095 2012-09-20        8    1
T095 2012-09-28        8
T095 2014-06-05        8
T095 2014-06-12        8    1
T095 2014-06-19        8    1
T095 2014-06-26        8    1
T095 2014-07-03        8    1
T095 2014-07-10        8    1
T095 2014-07-17        8    1
T095 2014-07-24        8    1
T095 2014-07-31        8    1
T095 2014-08-07        8    1
T095 2014-08-14        8    1
T095 2014-08-21        8    1
T095 2014-08-28        8    1
T095 2014-09-05        8
T095 2014-09-11        8    1
T095 2014-09-18        8    1
T095 2014-09-25        8    1
T095 2014-10-02        8    1

[95 rows x 3 columns]

           Date  Records More
Trap
T096 2008-06-11        8
T096 2008-06-17        8
T096 2008-06-24        8    1
T096 2008-07-01        8    1
T096 2008-07-04        8    1
T096 2008-07-11        8    1
T096 2008-07-14        8    1
T096 2008-07-21        8    1
T096 2008-07-23        8    1
T096 2008-07-24        8    1
T096 2008-07-28        8    1
T096 2008-07-29        8    1
T096 2008-08-04        8    1
T096 2008-08-05        8    1
T096 2008-08-12        8    1
T096 2008-08-13        8    1
T096 2008-08-19        8    1
T096 2008-08-25        8    1
T096 2008-08-26        8    1
T096 2008-09-02        8    1
T096 2008-09-03        8    1
T096 2008-09-09        8    1
T096 2008-09-15        8    1
T096 2008-09-19        8    1
T096 2008-09-29        8
T096 2010-06-02        8
T096 2010-06-11        8
T096 2010-06-18        8    1
T096 2010-06-25        8    1
T096 2010-06-28        8    1
...         ...      ...  ...
T096 2012-08-09        8    1
T096 2012-08-10        8    1
T096 2012-08-16        8    1
T096 2012-08-17        8    1
T096 2012-08-23        8    1
T096 2012-08-24        8    1
T096 2012-08-30        8    1
T096 2012-08-31        8    1
T096 2012-09-10        8
T096 2012-09-13        8    1
T096 2012-09-20        8    1
T096 2012-09-28        8
T096 2014-06-05        8
T096 2014-06-12        8    1
T096 2014-06-19        8    1
T096 2014-06-26        8    1
T096 2014-07-03        8    1
T096 2014-07-10        8    1
T096 2014-07-17        8    1
T096 2014-07-24        8    1
T096 2014-07-31        8    1
T096 2014-08-07        8    1
T096 2014-08-14        8    1
T096 2014-08-21        8    1
T096 2014-08-28        8    1
T096 2014-09-05        8
T096 2014-09-11        8    1
T096 2014-09-18        8    1
T096 2014-09-25        8    1
T096 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T097 2008-06-11        8
T097 2008-06-17        8
T097 2008-06-24        8    1
T097 2008-07-01        8    1
T097 2008-07-04        8    1
T097 2008-07-11        8    1
T097 2008-07-14        8    1
T097 2008-07-21        8    1
T097 2008-07-23        8    1
T097 2008-07-24        8    1
T097 2008-07-28        8    1
T097 2008-07-29        8    1
T097 2008-08-04        8    1
T097 2008-08-05        8    1
T097 2008-08-12        8    1
T097 2008-08-13        8    1
T097 2008-08-19        8    1
T097 2008-08-25        8    1
T097 2008-08-26        8    1
T097 2008-09-02        8    1
T097 2008-09-03        8    1
T097 2008-09-09        8    1
T097 2008-09-15        8    1
T097 2008-09-19        8    1
T097 2008-09-29        8
T097 2010-06-02        8
T097 2010-06-11        8
T097 2010-06-18        8    1
T097 2010-06-25        8    1
T097 2010-06-28        8    1
...         ...      ...  ...
T097 2012-08-09        8    1
T097 2012-08-10        8    1
T097 2012-08-16        8    1
T097 2012-08-17        8    1
T097 2012-08-23        8    1
T097 2012-08-24        8    1
T097 2012-08-30        8    1
T097 2012-08-31        8    1
T097 2012-09-10        8
T097 2012-09-13        8    1
T097 2012-09-20        8    1
T097 2012-09-28        8
T097 2014-06-05        8
T097 2014-06-12        8    1
T097 2014-06-19        8    1
T097 2014-06-26        8    1
T097 2014-07-03        8    1
T097 2014-07-10        8    1
T097 2014-07-17        8    1
T097 2014-07-24        8    1
T097 2014-07-31        8    1
T097 2014-08-07        8    1
T097 2014-08-14        8    1
T097 2014-08-21        8    1
T097 2014-08-28        8    1
T097 2014-09-05        8
T097 2014-09-11        8    1
T097 2014-09-18        8    1
T097 2014-09-25        8    1
T097 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T099 2008-06-11        8
T099 2008-06-17        8
T099 2008-06-24        8    1
T099 2008-07-01        8    1
T099 2008-07-04        8    1
T099 2008-07-11        8    1
T099 2008-07-14        8    1
T099 2008-07-21        8    1
T099 2008-07-23        8    1
T099 2008-07-24        8    1
T099 2008-07-28        8    1
T099 2008-07-29        8    1
T099 2008-08-04        8    1
T099 2008-08-05        8    1
T099 2008-08-12        8    1
T099 2008-08-13        8    1
T099 2008-08-19        8    1
T099 2008-08-25        8    1
T099 2008-08-26        8    1
T099 2008-09-02        8    1
T099 2008-09-03        8    1
T099 2008-09-09        8    1
T099 2008-09-15        8    1
T099 2008-09-19        8    1
T099 2008-09-29        8
T099 2010-06-02        8
T099 2010-06-11        8
T099 2010-06-18        8    1
T099 2010-06-25        8    1
T099 2010-06-28        8    1
...         ...      ...  ...
T099 2012-08-09        8    1
T099 2012-08-10        8    1
T099 2012-08-16        8    1
T099 2012-08-17        8    1
T099 2012-08-23        8    1
T099 2012-08-24        8    1
T099 2012-08-30        8    1
T099 2012-08-31        8    1
T099 2012-09-10        8
T099 2012-09-13        8    1
T099 2012-09-20        8    1
T099 2012-09-28        8
T099 2014-06-05        8
T099 2014-06-12        8    1
T099 2014-06-19        8    1
T099 2014-06-26        8    1
T099 2014-07-03        8    1
T099 2014-07-10        8    1
T099 2014-07-17        8    1
T099 2014-07-24        8    1
T099 2014-07-31        8    1
T099 2014-08-07        8    1
T099 2014-08-14        8    1
T099 2014-08-21        8    1
T099 2014-08-28        8    1
T099 2014-09-05        8
T099 2014-09-11        8    1
T099 2014-09-18        8    1
T099 2014-09-25        8    1
T099 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T100 2008-06-11        8
T100 2008-06-17        8
T100 2008-06-24        8    1
T100 2008-07-01        8    1
T100 2008-07-04        8    1
T100 2008-07-11        8    1
T100 2008-07-14        8    1
T100 2008-07-21        8    1
T100 2008-07-23        8    1
T100 2008-07-24        8    1
T100 2008-07-28        8    1
T100 2008-07-29        8    1
T100 2008-08-04        8    1
T100 2008-08-05        8    1
T100 2008-08-12        8    1
T100 2008-08-13        8    1
T100 2008-08-19        8    1
T100 2008-08-25        8    1
T100 2008-08-26        8    1
T100 2008-09-02        8    1
T100 2008-09-03        8    1
T100 2008-09-09        8    1
T100 2008-09-15        8    1
T100 2008-09-19        8    1
T100 2008-09-29        8
T100 2010-06-02        8
T100 2010-06-11        8
T100 2010-06-18        8    1
T100 2010-06-25        8    1
T100 2010-06-28        8    1
...         ...      ...  ...
T100 2012-08-09        8    1
T100 2012-08-10        8    1
T100 2012-08-16        8    1
T100 2012-08-17        8    1
T100 2012-08-23        8    1
T100 2012-08-24        8    1
T100 2012-08-30        8    1
T100 2012-08-31        8    1
T100 2012-09-10        8
T100 2012-09-13        8    1
T100 2012-09-20        8    1
T100 2012-09-28        8
T100 2014-06-05        8
T100 2014-06-12        8    1
T100 2014-06-19        8    1
T100 2014-06-26        8    1
T100 2014-07-03        8    1
T100 2014-07-10        8    1
T100 2014-07-17        8    1
T100 2014-07-24        8    1
T100 2014-07-31        8    1
T100 2014-08-07        8    1
T100 2014-08-14        8    1
T100 2014-08-21        8    1
T100 2014-08-28        8    1
T100 2014-09-05        8
T100 2014-09-11        8    1
T100 2014-09-18        8    1
T100 2014-09-25        8    1
T100 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T102 2008-06-11        8
T102 2008-06-17        8
T102 2008-06-24        8    1
T102 2008-07-01        8    1
T102 2008-07-04        8    1
T102 2008-07-11        9    1
T102 2008-07-14        8    1
T102 2008-07-21        8    1
T102 2008-07-23        8    1
T102 2008-07-24        8    1
T102 2008-07-28        8    1
T102 2008-07-29        8    1
T102 2008-08-04        8    1
T102 2008-08-05        8    1
T102 2008-08-12        8    1
T102 2008-08-13        8    1
T102 2008-08-19        9    1
T102 2008-08-25        8    1
T102 2008-08-26        9    1
T102 2008-09-02        8    1
T102 2008-09-03       10    1
T102 2008-09-09        9    1
T102 2008-09-15        8    1
T102 2008-09-19        8    1
T102 2008-09-29        8
T102 2010-06-02        8
T102 2010-06-11        8
T102 2010-06-18        8    1
T102 2010-06-25        8    1
T102 2010-06-28        8    1
...         ...      ...  ...
T102 2012-08-09        8    1
T102 2012-08-10        8    1
T102 2012-08-16        8    1
T102 2012-08-17        8    1
T102 2012-08-23        8    1
T102 2012-08-24        8    1
T102 2012-08-30        8    1
T102 2012-08-31        8    1
T102 2012-09-10        8
T102 2012-09-13        8    1
T102 2012-09-20        8    1
T102 2012-09-28        8
T102 2014-06-05        8
T102 2014-06-12        8    1
T102 2014-06-19        8    1
T102 2014-06-26        8    1
T102 2014-07-03        8    1
T102 2014-07-10        8    1
T102 2014-07-17        8    1
T102 2014-07-24        8    1
T102 2014-07-31        9    1
T102 2014-08-07       10    1
T102 2014-08-14        9    1
T102 2014-08-21       10    1
T102 2014-08-28        8    1
T102 2014-09-05        8
T102 2014-09-11        8    1
T102 2014-09-18        8    1
T102 2014-09-25        8    1
T102 2014-10-02        8    1

[95 rows x 3 columns]

           Date  Records More
Trap
T103 2008-06-11        8
T103 2008-06-17        8
T103 2008-06-24        8    1
T103 2008-07-01        8    1
T103 2008-07-04        8    1
T103 2008-07-11        8    1
T103 2008-07-14        8    1
T103 2008-07-21        8    1
T103 2008-07-23        8    1
T103 2008-07-24        8    1
T103 2008-07-28        8    1
T103 2008-07-29        8    1
T103 2008-08-04        8    1
T103 2008-08-05        8    1
T103 2008-08-12        8    1
T103 2008-08-13        8    1
T103 2008-08-19        8    1
T103 2008-08-25        8    1
T103 2008-08-26        8    1
T103 2008-09-02        8    1
T103 2008-09-03        8    1
T103 2008-09-09        8    1
T103 2008-09-15        8    1
T103 2008-09-19        8    1
T103 2008-09-29        8
T103 2010-06-02        8
T103 2010-06-11        8
T103 2010-06-18        8    1
T103 2010-06-25        8    1
T103 2010-06-28        8    1
...         ...      ...  ...
T103 2012-08-09        8    1
T103 2012-08-10        8    1
T103 2012-08-16        8    1
T103 2012-08-17        8    1
T103 2012-08-23        8    1
T103 2012-08-24        8    1
T103 2012-08-30        8    1
T103 2012-08-31        8    1
T103 2012-09-10        8
T103 2012-09-13        8    1
T103 2012-09-20        8    1
T103 2012-09-28        8
T103 2014-06-05        8
T103 2014-06-12        8    1
T103 2014-06-19        8    1
T103 2014-06-26        8    1
T103 2014-07-03        8    1
T103 2014-07-10        8    1
T103 2014-07-17        8    1
T103 2014-07-24        8    1
T103 2014-07-31        8    1
T103 2014-08-07        8    1
T103 2014-08-14        8    1
T103 2014-08-21        8    1
T103 2014-08-28        8    1
T103 2014-09-05        8
T103 2014-09-11        8    1
T103 2014-09-18        8    1
T103 2014-09-25        8    1
T103 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T107 2008-06-11        8
T107 2008-06-17        8
T107 2008-06-24        8    1
T107 2008-07-01        8    1
T107 2008-07-04        8    1
T107 2008-07-11        8    1
T107 2008-07-14        8    1
T107 2008-07-21        8    1
T107 2008-07-23        8    1
T107 2008-07-24        8    1
T107 2008-07-28        8    1
T107 2008-07-29        8    1
T107 2008-08-04        8    1
T107 2008-08-05        8    1
T107 2008-08-12        8    1
T107 2008-08-13        8    1
T107 2008-08-19        8    1
T107 2008-08-25        8    1
T107 2008-08-26        8    1
T107 2008-09-02        8    1
T107 2008-09-03        8    1
T107 2008-09-09        8    1
T107 2008-09-15        8    1
T107 2008-09-19        8    1
T107 2008-09-29        8
T107 2010-06-02        8
T107 2010-06-11        8
T107 2010-06-18        8    1
T107 2010-06-25        8    1
T107 2010-06-28        8    1
...         ...      ...  ...
T107 2012-08-09        8    1
T107 2012-08-10        8    1
T107 2012-08-16        8    1
T107 2012-08-17        8    1
T107 2012-08-23        8    1
T107 2012-08-24        8    1
T107 2012-08-30        8    1
T107 2012-08-31        8    1
T107 2012-09-10        8
T107 2012-09-13        8    1
T107 2012-09-20        8    1
T107 2012-09-28        8
T107 2014-06-05        8
T107 2014-06-12        8    1
T107 2014-06-19        8    1
T107 2014-06-26        8    1
T107 2014-07-03        8    1
T107 2014-07-10        8    1
T107 2014-07-17        8    1
T107 2014-07-24        8    1
T107 2014-07-31        8    1
T107 2014-08-07        8    1
T107 2014-08-14        8    1
T107 2014-08-21        8    1
T107 2014-08-28        8    1
T107 2014-09-05        8
T107 2014-09-11        8    1
T107 2014-09-18        8    1
T107 2014-09-25        8    1
T107 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T114 2008-06-11        8
T114 2008-06-17        8
T114 2008-06-24        8    1
T114 2008-07-01        8    1
T114 2008-07-04        8    1
T114 2008-07-11        8    1
T114 2008-07-14        8    1
T114 2008-07-21        8    1
T114 2008-07-23        8    1
T114 2008-07-24        8    1
T114 2008-07-28        8    1
T114 2008-07-29        8    1
T114 2008-08-04        8    1
T114 2008-08-05        8    1
T114 2008-08-12        9    1
T114 2008-08-13        8    1
T114 2008-08-19        8    1
T114 2008-08-25        9    1
T114 2008-08-26        8    1
T114 2008-09-02        8    1
T114 2008-09-03        8    1
T114 2008-09-09        8    1
T114 2008-09-15        8    1
T114 2008-09-19        8    1
T114 2008-09-29        8
T114 2010-06-02        8
T114 2010-06-11        8
T114 2010-06-18        8    1
T114 2010-06-25        8    1
T114 2010-06-28        8    1
...         ...      ...  ...
T114 2012-08-09        8    1
T114 2012-08-10        8    1
T114 2012-08-16        8    1
T114 2012-08-17       10    1
T114 2012-08-23        8    1
T114 2012-08-24        8    1
T114 2012-08-30        9    1
T114 2012-08-31        8    1
T114 2012-09-10        9
T114 2012-09-13        8    1
T114 2012-09-20        8    1
T114 2012-09-28        8
T114 2014-06-05        8
T114 2014-06-12        8    1
T114 2014-06-19        8    1
T114 2014-06-26        8    1
T114 2014-07-03        8    1
T114 2014-07-10        8    1
T114 2014-07-17        8    1
T114 2014-07-24        8    1
T114 2014-07-31        8    1
T114 2014-08-07        8    1
T114 2014-08-14        8    1
T114 2014-08-21        8    1
T114 2014-08-28        8    1
T114 2014-09-05        8
T114 2014-09-11        8    1
T114 2014-09-18        8    1
T114 2014-09-25        8    1
T114 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T115 2008-06-11        8
T115 2008-06-17        8
T115 2008-06-24        8    1
T115 2008-07-01        8    1
T115 2008-07-04        8    1
T115 2008-07-11        8    1
T115 2008-07-14        8    1
T115 2008-07-21        8    1
T115 2008-07-23        8    1
T115 2008-07-24       16    1
T115 2008-07-28        8    1
T115 2008-07-29        9    1
T115 2008-08-04        8    1
T115 2008-08-05        8    1
T115 2008-08-12        8    1
T115 2008-08-13        8    1
T115 2008-08-19        8    1
T115 2008-08-25        8    1
T115 2008-08-26        8    1
T115 2008-09-02        8    1
T115 2008-09-03        8    1
T115 2008-09-09        8    1
T115 2008-09-15        8    1
T115 2008-09-19        8    1
T115 2008-09-29        8
T115 2010-06-02        8
T115 2010-06-11        8
T115 2010-06-18        8    1
T115 2010-06-25        8    1
T115 2010-06-28        8    1
...         ...      ...  ...
T115 2012-08-09        8    1
T115 2012-08-10        8    1
T115 2012-08-16        8    1
T115 2012-08-17        8    1
T115 2012-08-23        8    1
T115 2012-08-24        8    1
T115 2012-08-30        8    1
T115 2012-08-31        8    1
T115 2012-09-10        8
T115 2012-09-13        8    1
T115 2012-09-20        9    1
T115 2012-09-28        8
T115 2014-06-05        8
T115 2014-06-12        8    1
T115 2014-06-19        8    1
T115 2014-06-26        8    1
T115 2014-07-03        9    1
T115 2014-07-10        9    1
T115 2014-07-17        8    1
T115 2014-07-24        8    1
T115 2014-07-31        8    1
T115 2014-08-07        9    1
T115 2014-08-14        8    1
T115 2014-08-21        9    1
T115 2014-08-28        8    1
T115 2014-09-05       10
T115 2014-09-11        8    1
T115 2014-09-18        8    1
T115 2014-09-25        8    1
T115 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T128 2008-06-11        8
T128 2008-06-17        8
T128 2008-06-24        8    1
T128 2008-07-01        8    1
T128 2008-07-04        8    1
T128 2008-07-11        8    1
T128 2008-07-14        8    1
T128 2008-07-21        8    1
T128 2008-07-23        8    1
T128 2008-07-24        8    1
T128 2008-07-28        8    1
T128 2008-07-29        8    1
T128 2008-08-04        8    1
T128 2008-08-05        8    1
T128 2008-08-12        8    1
T128 2008-08-13        8    1
T128 2008-08-19        8    1
T128 2008-08-25        8    1
T128 2008-08-26        8    1
T128 2008-09-02        8    1
T128 2008-09-03        8    1
T128 2008-09-09        8    1
T128 2008-09-15        8    1
T128 2008-09-19        8    1
T128 2008-09-29        8
T128 2010-06-02        8
T128 2010-06-11        8
T128 2010-06-18        8    1
T128 2010-06-25        8    1
T128 2010-06-28        8    1
...         ...      ...  ...
T128 2012-08-09        8    1
T128 2012-08-10        8    1
T128 2012-08-16        8    1
T128 2012-08-17       10    1
T128 2012-08-23        8    1
T128 2012-08-24       10    1
T128 2012-08-30        8    1
T128 2012-08-31        8    1
T128 2012-09-10        8
T128 2012-09-13        8    1
T128 2012-09-20        8    1
T128 2012-09-28        8
T128 2014-06-05        8
T128 2014-06-12        8    1
T128 2014-06-19        8    1
T128 2014-06-26        8    1
T128 2014-07-03        8    1
T128 2014-07-10        8    1
T128 2014-07-17        8    1
T128 2014-07-24        8    1
T128 2014-07-31        9    1
T128 2014-08-07        8    1
T128 2014-08-14        8    1
T128 2014-08-21        8    1
T128 2014-08-28        8    1
T128 2014-09-05       11
T128 2014-09-11        8    1
T128 2014-09-18        8    1
T128 2014-09-25        8    1
T128 2014-10-02        8    1

[95 rows x 3 columns]

            Date  Records More
Trap
T128A 2008-06-11        8
T128A 2008-06-17        8
T128A 2008-06-24        8    1
T128A 2008-07-01        8    1
T128A 2008-07-04        8    1
T128A 2008-07-11        8    1
T128A 2008-07-14        8    1
T128A 2008-07-21        8    1
T128A 2008-07-23        8    1
T128A 2008-07-24        8    1
T128A 2008-07-28        8    1
T128A 2008-07-29        8    1
T128A 2008-08-04        8    1
T128A 2008-08-05        8    1
T128A 2008-08-12        8    1
T128A 2008-08-13        8    1
T128A 2008-08-19        8    1
T128A 2008-08-25        8    1
T128A 2008-08-26        8    1
T128A 2008-09-02        8    1
T128A 2008-09-03        8    1
T128A 2008-09-09        8    1
T128A 2008-09-15        8    1
T128A 2008-09-19        8    1
T128A 2008-09-29        8
T128A 2010-06-02        8
T128A 2010-06-11        8
T128A 2010-06-18        8    1
T128A 2010-06-25        8    1
T128A 2010-06-28        8    1
...          ...      ...  ...
T128A 2012-08-09        8    1
T128A 2012-08-10        8    1
T128A 2012-08-16        8    1
T128A 2012-08-17        8    1
T128A 2012-08-23        8    1
T128A 2012-08-24        8    1
T128A 2012-08-30        8    1
T128A 2012-08-31        8    1
T128A 2012-09-10        8
T128A 2012-09-13        8    1
T128A 2012-09-20        8    1
T128A 2012-09-28        8
T128A 2014-06-05        8
T128A 2014-06-12        8    1
T128A 2014-06-19        8    1
T128A 2014-06-26        8    1
T128A 2014-07-03        8    1
T128A 2014-07-10        8    1
T128A 2014-07-17        8    1
T128A 2014-07-24        8    1
T128A 2014-07-31        8    1
T128A 2014-08-07        8    1
T128A 2014-08-14        8    1
T128A 2014-08-21        8    1
T128A 2014-08-28        8    1
T128A 2014-09-05        8
T128A 2014-09-11        8    1
T128A 2014-09-18        8    1
T128A 2014-09-25        8    1
T128A 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T129 2008-06-11        8
T129 2008-06-17        8
T129 2008-06-24        8    1
T129 2008-07-01        8    1
T129 2008-07-04        8    1
T129 2008-07-11        8    1
T129 2008-07-14        8    1
T129 2008-07-21        8    1
T129 2008-07-23        8    1
T129 2008-07-24        8    1
T129 2008-07-28        8    1
T129 2008-07-29        8    1
T129 2008-08-04        8    1
T129 2008-08-05        8    1
T129 2008-08-12        8    1
T129 2008-08-13        8    1
T129 2008-08-19        8    1
T129 2008-08-25        8    1
T129 2008-08-26        8    1
T129 2008-09-02        8    1
T129 2008-09-03        8    1
T129 2008-09-09        8    1
T129 2008-09-15        8    1
T129 2008-09-19        8    1
T129 2008-09-29        8
T129 2010-06-02        8
T129 2010-06-11        8
T129 2010-06-18        8    1
T129 2010-06-25        8    1
T129 2010-06-28        8    1
...         ...      ...  ...
T129 2012-08-09        8    1
T129 2012-08-10        8    1
T129 2012-08-16        8    1
T129 2012-08-17        8    1
T129 2012-08-23        8    1
T129 2012-08-24        8    1
T129 2012-08-30        8    1
T129 2012-08-31        8    1
T129 2012-09-10        8
T129 2012-09-13        8    1
T129 2012-09-20        8    1
T129 2012-09-28        8
T129 2014-06-05        8
T129 2014-06-12        8    1
T129 2014-06-19        8    1
T129 2014-06-26        8    1
T129 2014-07-03        8    1
T129 2014-07-10        8    1
T129 2014-07-17        8    1
T129 2014-07-24        8    1
T129 2014-07-31        8    1
T129 2014-08-07        8    1
T129 2014-08-14        8    1
T129 2014-08-21        8    1
T129 2014-08-28        8    1
T129 2014-09-05        8
T129 2014-09-11        8    1
T129 2014-09-18        8    1
T129 2014-09-25        8    1
T129 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T135 2008-06-11        8
T135 2008-06-17        8
T135 2008-06-24        8    1
T135 2008-07-01        8    1
T135 2008-07-04        8    1
T135 2008-07-11        8    1
T135 2008-07-14        8    1
T135 2008-07-21        8    1
T135 2008-07-23        8    1
T135 2008-07-24        8    1
T135 2008-07-28        8    1
T135 2008-07-29        8    1
T135 2008-08-04        8    1
T135 2008-08-05        8    1
T135 2008-08-12        8    1
T135 2008-08-13        8    1
T135 2008-08-19        8    1
T135 2008-08-25        8    1
T135 2008-08-26        8    1
T135 2008-09-02        8    1
T135 2008-09-03        8    1
T135 2008-09-09        8    1
T135 2008-09-15        8    1
T135 2008-09-19        8    1
T135 2008-09-29        8
T135 2010-06-02        8
T135 2010-06-11        8
T135 2010-06-18        8    1
T135 2010-06-25        8    1
T135 2010-06-28        8    1
...         ...      ...  ...
T135 2012-08-09        8    1
T135 2012-08-10        8    1
T135 2012-08-16        8    1
T135 2012-08-17        8    1
T135 2012-08-23        8    1
T135 2012-08-24        8    1
T135 2012-08-30        8    1
T135 2012-08-31        8    1
T135 2012-09-10        8
T135 2012-09-13        8    1
T135 2012-09-20        8    1
T135 2012-09-28        8
T135 2014-06-05        9
T135 2014-06-12       15    1
T135 2014-06-19       10    1
T135 2014-06-26        8    1
T135 2014-07-03        8    1
T135 2014-07-10        9    1
T135 2014-07-17        8    1
T135 2014-07-24        8    1
T135 2014-07-31        8    1
T135 2014-08-07        8    1
T135 2014-08-14        8    1
T135 2014-08-21        8    1
T135 2014-08-28        8    1
T135 2014-09-05        8
T135 2014-09-11        8    1
T135 2014-09-18        8    1
T135 2014-09-25        8    1
T135 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T138 2008-06-11        8
T138 2008-06-17        8
T138 2008-06-24        8    1
T138 2008-07-01        8    1
T138 2008-07-04        8    1
T138 2008-07-11        8    1
T138 2008-07-14        8    1
T138 2008-07-21        8    1
T138 2008-07-23        8    1
T138 2008-07-24        9    1
T138 2008-07-28        8    1
T138 2008-07-29        8    1
T138 2008-08-04        8    1
T138 2008-08-05        8    1
T138 2008-08-12        8    1
T138 2008-08-13       10    1
T138 2008-08-19        8    1
T138 2008-08-25        8    1
T138 2008-08-26        8    1
T138 2008-09-02        8    1
T138 2008-09-03        8    1
T138 2008-09-09        8    1
T138 2008-09-15        8    1
T138 2008-09-19        8    1
T138 2008-09-29        8
T138 2010-06-02        8
T138 2010-06-11        8
T138 2010-06-18        8    1
T138 2010-06-25        8    1
T138 2010-06-28        8    1
...         ...      ...  ...
T138 2012-08-09        8    1
T138 2012-08-10        8    1
T138 2012-08-16        8    1
T138 2012-08-17        8    1
T138 2012-08-23        8    1
T138 2012-08-24        8    1
T138 2012-08-30        8    1
T138 2012-08-31        8    1
T138 2012-09-10        8
T138 2012-09-13        8    1
T138 2012-09-20        8    1
T138 2012-09-28        8
T138 2014-06-05        8
T138 2014-06-12        8    1
T138 2014-06-19        8    1
T138 2014-06-26        8    1
T138 2014-07-03        8    1
T138 2014-07-10        8    1
T138 2014-07-17        8    1
T138 2014-07-24        8    1
T138 2014-07-31        8    1
T138 2014-08-07        8    1
T138 2014-08-14        8    1
T138 2014-08-21        8    1
T138 2014-08-28       10    1
T138 2014-09-05        9
T138 2014-09-11        8    1
T138 2014-09-18        8    1
T138 2014-09-25        8    1
T138 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T141 2008-06-11        8
T141 2008-06-17        8
T141 2008-06-24        8    1
T141 2008-07-01        8    1
T141 2008-07-04        8    1
T141 2008-07-11        8    1
T141 2008-07-14        8    1
T141 2008-07-21        8    1
T141 2008-07-23        8    1
T141 2008-07-24        8    1
T141 2008-07-28        8    1
T141 2008-07-29        8    1
T141 2008-08-04        8    1
T141 2008-08-05        8    1
T141 2008-08-12        8    1
T141 2008-08-13        8    1
T141 2008-08-19        8    1
T141 2008-08-25        8    1
T141 2008-08-26        8    1
T141 2008-09-02        8    1
T141 2008-09-03        8    1
T141 2008-09-09        8    1
T141 2008-09-15        8    1
T141 2008-09-19        8    1
T141 2008-09-29        8
T141 2010-06-02        8
T141 2010-06-11        8
T141 2010-06-18        8    1
T141 2010-06-25        8    1
T141 2010-06-28        8    1
...         ...      ...  ...
T141 2012-08-09        8    1
T141 2012-08-10        8    1
T141 2012-08-16        8    1
T141 2012-08-17        8    1
T141 2012-08-23        8    1
T141 2012-08-24        8    1
T141 2012-08-30        8    1
T141 2012-08-31        8    1
T141 2012-09-10        8
T141 2012-09-13        8    1
T141 2012-09-20        8    1
T141 2012-09-28        8
T141 2014-06-05        8
T141 2014-06-12        8    1
T141 2014-06-19        8    1
T141 2014-06-26        8    1
T141 2014-07-03        8    1
T141 2014-07-10        8    1
T141 2014-07-17        8    1
T141 2014-07-24        8    1
T141 2014-07-31        8    1
T141 2014-08-07        8    1
T141 2014-08-14        8    1
T141 2014-08-21        8    1
T141 2014-08-28        8    1
T141 2014-09-05        8
T141 2014-09-11        8    1
T141 2014-09-18        8    1
T141 2014-09-25        8    1
T141 2014-10-02        8    1

[95 rows x 3 columns]

           Date  Records More
Trap
T142 2008-06-11        8
T142 2008-06-17        8
T142 2008-06-24        8    1
T142 2008-07-01        8    1
T142 2008-07-04        8    1
T142 2008-07-11        8    1
T142 2008-07-14        8    1
T142 2008-07-21        8    1
T142 2008-07-23        8    1
T142 2008-07-24        8    1
T142 2008-07-28        8    1
T142 2008-07-29        8    1
T142 2008-08-04        8    1
T142 2008-08-05        8    1
T142 2008-08-12        8    1
T142 2008-08-13        8    1
T142 2008-08-19        8    1
T142 2008-08-25        8    1
T142 2008-08-26        8    1
T142 2008-09-02        8    1
T142 2008-09-03        8    1
T142 2008-09-09        8    1
T142 2008-09-15        8    1
T142 2008-09-19        8    1
T142 2008-09-29        8
T142 2010-06-02        8
T142 2010-06-11        8
T142 2010-06-18        8    1
T142 2010-06-25        8    1
T142 2010-06-28        8    1
...         ...      ...  ...
T142 2012-08-09        8    1
T142 2012-08-10        8    1
T142 2012-08-16        8    1
T142 2012-08-17        8    1
T142 2012-08-23        8    1
T142 2012-08-24        8    1
T142 2012-08-30        8    1
T142 2012-08-31        8    1
T142 2012-09-10        8
T142 2012-09-13        8    1
T142 2012-09-20        8    1
T142 2012-09-28        8
T142 2014-06-05        8
T142 2014-06-12        8    1
T142 2014-06-19        8    1
T142 2014-06-26        8    1
T142 2014-07-03        8    1
T142 2014-07-10        8    1
T142 2014-07-17        8    1
T142 2014-07-24        8    1
T142 2014-07-31        8    1
T142 2014-08-07        8    1
T142 2014-08-14        8    1
T142 2014-08-21        8    1
T142 2014-08-28        8    1
T142 2014-09-05        8
T142 2014-09-11        8    1
T142 2014-09-18        8    1
T142 2014-09-25        8    1
T142 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T143 2008-06-11        8
T143 2008-06-17        8
T143 2008-06-24        8    1
T143 2008-07-01        8    1
T143 2008-07-04        8    1
T143 2008-07-11        8    1
T143 2008-07-14        8    1
T143 2008-07-21        8    1
T143 2008-07-23        8    1
T143 2008-07-24        8    1
T143 2008-07-28        8    1
T143 2008-07-29        8    1
T143 2008-08-04        8    1
T143 2008-08-05        8    1
T143 2008-08-12        8    1
T143 2008-08-13        8    1
T143 2008-08-19        8    1
T143 2008-08-25        8    1
T143 2008-08-26        8    1
T143 2008-09-02        8    1
T143 2008-09-03        8    1
T143 2008-09-09        8    1
T143 2008-09-15        8    1
T143 2008-09-19        8    1
T143 2008-09-29        8
T143 2010-06-02        8
T143 2010-06-11        8
T143 2010-06-18        8    1
T143 2010-06-25        8    1
T143 2010-06-28        8    1
...         ...      ...  ...
T143 2012-08-09        8    1
T143 2012-08-10        8    1
T143 2012-08-16        8    1
T143 2012-08-17        8    1
T143 2012-08-23        8    1
T143 2012-08-24        8    1
T143 2012-08-30        8    1
T143 2012-08-31        8    1
T143 2012-09-10        8
T143 2012-09-13        8    1
T143 2012-09-20        8    1
T143 2012-09-28        8
T143 2014-06-05        8
T143 2014-06-12        8    1
T143 2014-06-19        8    1
T143 2014-06-26        8    1
T143 2014-07-03        8    1
T143 2014-07-10        8    1
T143 2014-07-17        8    1
T143 2014-07-24        8    1
T143 2014-07-31        8    1
T143 2014-08-07        8    1
T143 2014-08-14        8    1
T143 2014-08-21        8    1
T143 2014-08-28        8    1
T143 2014-09-05        8
T143 2014-09-11        8    1
T143 2014-09-18        8    1
T143 2014-09-25        8    1
T143 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T144 2008-06-11        8
T144 2008-06-17        8
T144 2008-06-24        8    1
T144 2008-07-01        8    1
T144 2008-07-04        8    1
T144 2008-07-11        8    1
T144 2008-07-14        8    1
T144 2008-07-21        8    1
T144 2008-07-23       10    1
T144 2008-07-24        8    1
T144 2008-07-28        8    1
T144 2008-07-29        8    1
T144 2008-08-04        9    1
T144 2008-08-05        8    1
T144 2008-08-12        8    1
T144 2008-08-13        8    1
T144 2008-08-19       10    1
T144 2008-08-25        8    1
T144 2008-08-26        8    1
T144 2008-09-02        8    1
T144 2008-09-03        8    1
T144 2008-09-09        8    1
T144 2008-09-15        8    1
T144 2008-09-19        8    1
T144 2008-09-29        8
T144 2010-06-02        8
T144 2010-06-11        8
T144 2010-06-18        8    1
T144 2010-06-25        8    1
T144 2010-06-28        8    1
...         ...      ...  ...
T144 2012-08-09        8    1
T144 2012-08-10        8    1
T144 2012-08-16        8    1
T144 2012-08-17        8    1
T144 2012-08-23        8    1
T144 2012-08-24        8    1
T144 2012-08-30        8    1
T144 2012-08-31        8    1
T144 2012-09-10        8
T144 2012-09-13        8    1
T144 2012-09-20        8    1
T144 2012-09-28        8
T144 2014-06-05        8
T144 2014-06-12        8    1
T144 2014-06-19        8    1
T144 2014-06-26        8    1
T144 2014-07-03        8    1
T144 2014-07-10        8    1
T144 2014-07-17        8    1
T144 2014-07-24        8    1
T144 2014-07-31        8    1
T144 2014-08-07        8    1
T144 2014-08-14        8    1
T144 2014-08-21        8    1
T144 2014-08-28        8    1
T144 2014-09-05        8
T144 2014-09-11        8    1
T144 2014-09-18        8    1
T144 2014-09-25        8    1
T144 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T145 2008-06-11        8
T145 2008-06-17        8
T145 2008-06-24        8    1
T145 2008-07-01        8    1
T145 2008-07-04        8    1
T145 2008-07-11        8    1
T145 2008-07-14        8    1
T145 2008-07-21        8    1
T145 2008-07-23        8    1
T145 2008-07-24        8    1
T145 2008-07-28        8    1
T145 2008-07-29        8    1
T145 2008-08-04        8    1
T145 2008-08-05        8    1
T145 2008-08-12        8    1
T145 2008-08-13        8    1
T145 2008-08-19        8    1
T145 2008-08-25        8    1
T145 2008-08-26        8    1
T145 2008-09-02        8    1
T145 2008-09-03        8    1
T145 2008-09-09        8    1
T145 2008-09-15        8    1
T145 2008-09-19        8    1
T145 2008-09-29        8
T145 2010-06-02        8
T145 2010-06-11        8
T145 2010-06-18        8    1
T145 2010-06-25        8    1
T145 2010-06-28        8    1
...         ...      ...  ...
T145 2012-08-09        8    1
T145 2012-08-10        8    1
T145 2012-08-16        8    1
T145 2012-08-17        8    1
T145 2012-08-23        8    1
T145 2012-08-24        8    1
T145 2012-08-30        8    1
T145 2012-08-31        8    1
T145 2012-09-10        8
T145 2012-09-13        8    1
T145 2012-09-20        8    1
T145 2012-09-28        8
T145 2014-06-05        8
T145 2014-06-12        8    1
T145 2014-06-19        8    1
T145 2014-06-26        9    1
T145 2014-07-03        8    1
T145 2014-07-10        8    1
T145 2014-07-17        8    1
T145 2014-07-24        8    1
T145 2014-07-31        8    1
T145 2014-08-07        8    1
T145 2014-08-14        8    1
T145 2014-08-21        8    1
T145 2014-08-28        9    1
T145 2014-09-05        8
T145 2014-09-11        8    1
T145 2014-09-18        8    1
T145 2014-09-25        8    1
T145 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T146 2008-06-11        8
T146 2008-06-17        8
T146 2008-06-24        8    1
T146 2008-07-01        8    1
T146 2008-07-04        8    1
T146 2008-07-11        8    1
T146 2008-07-14        8    1
T146 2008-07-21        8    1
T146 2008-07-23        8    1
T146 2008-07-24        8    1
T146 2008-07-28        8    1
T146 2008-07-29        8    1
T146 2008-08-04        8    1
T146 2008-08-05        8    1
T146 2008-08-12        8    1
T146 2008-08-13        8    1
T146 2008-08-19        8    1
T146 2008-08-25        8    1
T146 2008-08-26        8    1
T146 2008-09-02        8    1
T146 2008-09-03        8    1
T146 2008-09-09        8    1
T146 2008-09-15        8    1
T146 2008-09-19        8    1
T146 2008-09-29        8
T146 2010-06-02        8
T146 2010-06-11        8
T146 2010-06-18        8    1
T146 2010-06-25        8    1
T146 2010-06-28        8    1
...         ...      ...  ...
T146 2012-08-09        8    1
T146 2012-08-10        8    1
T146 2012-08-16        8    1
T146 2012-08-17        8    1
T146 2012-08-23        8    1
T146 2012-08-24        8    1
T146 2012-08-30        8    1
T146 2012-08-31        8    1
T146 2012-09-10        8
T146 2012-09-13        8    1
T146 2012-09-20        8    1
T146 2012-09-28        8
T146 2014-06-05        8
T146 2014-06-12        8    1
T146 2014-06-19        8    1
T146 2014-06-26        8    1
T146 2014-07-03        8    1
T146 2014-07-10        8    1
T146 2014-07-17        8    1
T146 2014-07-24        8    1
T146 2014-07-31        8    1
T146 2014-08-07        8    1
T146 2014-08-14        8    1
T146 2014-08-21        8    1
T146 2014-08-28        8    1
T146 2014-09-05        8
T146 2014-09-11        8    1
T146 2014-09-18        8    1
T146 2014-09-25        8    1
T146 2014-10-02        8    1

[95 rows x 3 columns]

           Date  Records More
Trap
T147 2008-06-11        8
T147 2008-06-17        8
T147 2008-06-24        8    1
T147 2008-07-01        8    1
T147 2008-07-04        8    1
T147 2008-07-11        8    1
T147 2008-07-14        8    1
T147 2008-07-21        8    1
T147 2008-07-23        8    1
T147 2008-07-24        8    1
T147 2008-07-28        8    1
T147 2008-07-29        8    1
T147 2008-08-04        8    1
T147 2008-08-05        8    1
T147 2008-08-12        8    1
T147 2008-08-13        8    1
T147 2008-08-19        8    1
T147 2008-08-25        8    1
T147 2008-08-26        8    1
T147 2008-09-02       10    1
T147 2008-09-03        8    1
T147 2008-09-09        8    1
T147 2008-09-15        8    1
T147 2008-09-19        8    1
T147 2008-09-29        8
T147 2010-06-02        8
T147 2010-06-11        8
T147 2010-06-18        8    1
T147 2010-06-25        8    1
T147 2010-06-28        8    1
...         ...      ...  ...
T147 2012-08-09        8    1
T147 2012-08-10        8    1
T147 2012-08-16        8    1
T147 2012-08-17        8    1
T147 2012-08-23        8    1
T147 2012-08-24        8    1
T147 2012-08-30        8    1
T147 2012-08-31        8    1
T147 2012-09-10        8
T147 2012-09-13        8    1
T147 2012-09-20        8    1
T147 2012-09-28        8
T147 2014-06-05        8
T147 2014-06-12        8    1
T147 2014-06-19        8    1
T147 2014-06-26        8    1
T147 2014-07-03        8    1
T147 2014-07-10        8    1
T147 2014-07-17        8    1
T147 2014-07-24        8    1
T147 2014-07-31        8    1
T147 2014-08-07        8    1
T147 2014-08-14        8    1
T147 2014-08-21        8    1
T147 2014-08-28        8    1
T147 2014-09-05        8
T147 2014-09-11        8    1
T147 2014-09-18        8    1
T147 2014-09-25        8    1
T147 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T148 2008-06-11        8
T148 2008-06-17        8
T148 2008-06-24        8    1
T148 2008-07-01        8    1
T148 2008-07-04        8    1
T148 2008-07-11        8    1
T148 2008-07-14        8    1
T148 2008-07-21        8    1
T148 2008-07-23        8    1
T148 2008-07-24        8    1
T148 2008-07-28        8    1
T148 2008-07-29        8    1
T148 2008-08-04        8    1
T148 2008-08-05        8    1
T148 2008-08-12        8    1
T148 2008-08-13        8    1
T148 2008-08-19        8    1
T148 2008-08-25        8    1
T148 2008-08-26        8    1
T148 2008-09-02        8    1
T148 2008-09-03        8    1
T148 2008-09-09        9    1
T148 2008-09-15        8    1
T148 2008-09-19        8    1
T148 2008-09-29        8
T148 2010-06-02        8
T148 2010-06-11        8
T148 2010-06-18        8    1
T148 2010-06-25        8    1
T148 2010-06-28        8    1
...         ...      ...  ...
T148 2012-08-09        8    1
T148 2012-08-10        8    1
T148 2012-08-16        8    1
T148 2012-08-17        8    1
T148 2012-08-23        8    1
T148 2012-08-24        8    1
T148 2012-08-30        8    1
T148 2012-08-31        8    1
T148 2012-09-10        8
T148 2012-09-13        8    1
T148 2012-09-20        8    1
T148 2012-09-28        8
T148 2014-06-05        8
T148 2014-06-12        8    1
T148 2014-06-19        8    1
T148 2014-06-26        8    1
T148 2014-07-03        8    1
T148 2014-07-10        8    1
T148 2014-07-17        8    1
T148 2014-07-24        8    1
T148 2014-07-31        8    1
T148 2014-08-07        8    1
T148 2014-08-14        8    1
T148 2014-08-21        8    1
T148 2014-08-28        8    1
T148 2014-09-05        8
T148 2014-09-11        8    1
T148 2014-09-18        8    1
T148 2014-09-25        8    1
T148 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T149 2008-06-11        8
T149 2008-06-17        8
T149 2008-06-24        8    1
T149 2008-07-01        8    1
T149 2008-07-04        8    1
T149 2008-07-11        8    1
T149 2008-07-14        8    1
T149 2008-07-21        8    1
T149 2008-07-23        8    1
T149 2008-07-24        8    1
T149 2008-07-28        8    1
T149 2008-07-29        8    1
T149 2008-08-04        8    1
T149 2008-08-05        8    1
T149 2008-08-12        8    1
T149 2008-08-13        8    1
T149 2008-08-19        8    1
T149 2008-08-25        8    1
T149 2008-08-26        8    1
T149 2008-09-02        8    1
T149 2008-09-03        8    1
T149 2008-09-09        8    1
T149 2008-09-15        8    1
T149 2008-09-19        8    1
T149 2008-09-29        8
T149 2010-06-02        8
T149 2010-06-11        8
T149 2010-06-18        8    1
T149 2010-06-25        8    1
T149 2010-06-28        8    1
...         ...      ...  ...
T149 2012-08-09        8    1
T149 2012-08-10        8    1
T149 2012-08-16        8    1
T149 2012-08-17        8    1
T149 2012-08-23        8    1
T149 2012-08-24        8    1
T149 2012-08-30        8    1
T149 2012-08-31        8    1
T149 2012-09-10        8
T149 2012-09-13        8    1
T149 2012-09-20        8    1
T149 2012-09-28        8
T149 2014-06-05        8
T149 2014-06-12        8    1
T149 2014-06-19        8    1
T149 2014-06-26        8    1
T149 2014-07-03        8    1
T149 2014-07-10        8    1
T149 2014-07-17        8    1
T149 2014-07-24        8    1
T149 2014-07-31        8    1
T149 2014-08-07        8    1
T149 2014-08-14        8    1
T149 2014-08-21        8    1
T149 2014-08-28        8    1
T149 2014-09-05        8
T149 2014-09-11        8    1
T149 2014-09-18        8    1
T149 2014-09-25        8    1
T149 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T150 2008-06-11        8
T150 2008-06-17        8
T150 2008-06-24        8    1
T150 2008-07-01        8    1
T150 2008-07-04        8    1
T150 2008-07-11        8    1
T150 2008-07-14        8    1
T150 2008-07-21        8    1
T150 2008-07-23        8    1
T150 2008-07-24        8    1
T150 2008-07-28        8    1
T150 2008-07-29        8    1
T150 2008-08-04        8    1
T150 2008-08-05        8    1
T150 2008-08-12        8    1
T150 2008-08-13        8    1
T150 2008-08-19        8    1
T150 2008-08-25        8    1
T150 2008-08-26        8    1
T150 2008-09-02        8    1
T150 2008-09-03        8    1
T150 2008-09-09        8    1
T150 2008-09-15        8    1
T150 2008-09-19        8    1
T150 2008-09-29        8
T150 2010-06-02        8
T150 2010-06-11        8
T150 2010-06-18        8    1
T150 2010-06-25        8    1
T150 2010-06-28        8    1
...         ...      ...  ...
T150 2012-08-09        8    1
T150 2012-08-10        8    1
T150 2012-08-16        8    1
T150 2012-08-17        8    1
T150 2012-08-23        8    1
T150 2012-08-24        8    1
T150 2012-08-30        8    1
T150 2012-08-31        8    1
T150 2012-09-10        8
T150 2012-09-13        8    1
T150 2012-09-20        8    1
T150 2012-09-28        8
T150 2014-06-05        8
T150 2014-06-12        8    1
T150 2014-06-19        8    1
T150 2014-06-26        8    1
T150 2014-07-03        8    1
T150 2014-07-10        8    1
T150 2014-07-17        8    1
T150 2014-07-24        8    1
T150 2014-07-31        8    1
T150 2014-08-07        8    1
T150 2014-08-14        8    1
T150 2014-08-21        8    1
T150 2014-08-28        8    1
T150 2014-09-05        8
T150 2014-09-11        8    1
T150 2014-09-18        8    1
T150 2014-09-25        8    1
T150 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T151 2008-06-11        8
T151 2008-06-17        8
T151 2008-06-24        8    1
T151 2008-07-01        8    1
T151 2008-07-04        8    1
T151 2008-07-11        8    1
T151 2008-07-14        8    1
T151 2008-07-21        8    1
T151 2008-07-23        8    1
T151 2008-07-24        8    1
T151 2008-07-28        8    1
T151 2008-07-29        8    1
T151 2008-08-04        9    1
T151 2008-08-05        8    1
T151 2008-08-12        8    1
T151 2008-08-13        8    1
T151 2008-08-19        8    1
T151 2008-08-25        8    1
T151 2008-08-26        8    1
T151 2008-09-02        8    1
T151 2008-09-03        8    1
T151 2008-09-09        8    1
T151 2008-09-15        8    1
T151 2008-09-19        8    1
T151 2008-09-29        8
T151 2010-06-02        8
T151 2010-06-11        8
T151 2010-06-18        8    1
T151 2010-06-25        8    1
T151 2010-06-28        8    1
...         ...      ...  ...
T151 2012-08-09        8    1
T151 2012-08-10        8    1
T151 2012-08-16       10    1
T151 2012-08-17        8    1
T151 2012-08-23        8    1
T151 2012-08-24        8    1
T151 2012-08-30        8    1
T151 2012-08-31        8    1
T151 2012-09-10        8
T151 2012-09-13        8    1
T151 2012-09-20        8    1
T151 2012-09-28        8
T151 2014-06-05        8
T151 2014-06-12        8    1
T151 2014-06-19        8    1
T151 2014-06-26        8    1
T151 2014-07-03        8    1
T151 2014-07-10        8    1
T151 2014-07-17        8    1
T151 2014-07-24        8    1
T151 2014-07-31        8    1
T151 2014-08-07        9    1
T151 2014-08-14        9    1
T151 2014-08-21        9    1
T151 2014-08-28        9    1
T151 2014-09-05        8
T151 2014-09-11        8    1
T151 2014-09-18        8    1
T151 2014-09-25        8    1
T151 2014-10-02        8    1

[95 rows x 3 columns]

           Date  Records More
Trap
T152 2008-06-11        8
T152 2008-06-17        8
T152 2008-06-24        8    1
T152 2008-07-01        8    1
T152 2008-07-04        8    1
T152 2008-07-11        8    1
T152 2008-07-14        8    1
T152 2008-07-21        8    1
T152 2008-07-23        8    1
T152 2008-07-24        8    1
T152 2008-07-28        8    1
T152 2008-07-29        8    1
T152 2008-08-04        8    1
T152 2008-08-05        8    1
T152 2008-08-12        9    1
T152 2008-08-13        8    1
T152 2008-08-19        8    1
T152 2008-08-25        8    1
T152 2008-08-26        8    1
T152 2008-09-02        8    1
T152 2008-09-03        8    1
T152 2008-09-09        9    1
T152 2008-09-15        8    1
T152 2008-09-19        8    1
T152 2008-09-29        9
T152 2010-06-02        8
T152 2010-06-11        8
T152 2010-06-18        8    1
T152 2010-06-25        8    1
T152 2010-06-28        8    1
...         ...      ...  ...
T152 2012-08-09        8    1
T152 2012-08-10        8    1
T152 2012-08-16        8    1
T152 2012-08-17        8    1
T152 2012-08-23        8    1
T152 2012-08-24        8    1
T152 2012-08-30        8    1
T152 2012-08-31        8    1
T152 2012-09-10        8
T152 2012-09-13        8    1
T152 2012-09-20        8    1
T152 2012-09-28        8
T152 2014-06-05        8
T152 2014-06-12        8    1
T152 2014-06-19        8    1
T152 2014-06-26        8    1
T152 2014-07-03        8    1
T152 2014-07-10        8    1
T152 2014-07-17        8    1
T152 2014-07-24        8    1
T152 2014-07-31        8    1
T152 2014-08-07        8    1
T152 2014-08-14        8    1
T152 2014-08-21        8    1
T152 2014-08-28        8    1
T152 2014-09-05        8
T152 2014-09-11        8    1
T152 2014-09-18        8    1
T152 2014-09-25        8    1
T152 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T153 2008-06-11        8
T153 2008-06-17        8
T153 2008-06-24        8    1
T153 2008-07-01        8    1
T153 2008-07-04        8    1
T153 2008-07-11        8    1
T153 2008-07-14        8    1
T153 2008-07-21        8    1
T153 2008-07-23        8    1
T153 2008-07-24        8    1
T153 2008-07-28        8    1
T153 2008-07-29        8    1
T153 2008-08-04        8    1
T153 2008-08-05        8    1
T153 2008-08-12        8    1
T153 2008-08-13        8    1
T153 2008-08-19        8    1
T153 2008-08-25        8    1
T153 2008-08-26        8    1
T153 2008-09-02        8    1
T153 2008-09-03        8    1
T153 2008-09-09        8    1
T153 2008-09-15        8    1
T153 2008-09-19        8    1
T153 2008-09-29        8
T153 2010-06-02        8
T153 2010-06-11        8
T153 2010-06-18        8    1
T153 2010-06-25        8    1
T153 2010-06-28        8    1
...         ...      ...  ...
T153 2012-08-09        8    1
T153 2012-08-10        8    1
T153 2012-08-16        8    1
T153 2012-08-17        8    1
T153 2012-08-23        8    1
T153 2012-08-24        8    1
T153 2012-08-30        8    1
T153 2012-08-31        8    1
T153 2012-09-10        8
T153 2012-09-13        8    1
T153 2012-09-20        8    1
T153 2012-09-28        8
T153 2014-06-05        8
T153 2014-06-12        8    1
T153 2014-06-19        8    1
T153 2014-06-26        8    1
T153 2014-07-03        8    1
T153 2014-07-10        8    1
T153 2014-07-17        8    1
T153 2014-07-24        8    1
T153 2014-07-31        8    1
T153 2014-08-07        8    1
T153 2014-08-14        8    1
T153 2014-08-21        8    1
T153 2014-08-28        8    1
T153 2014-09-05        8
T153 2014-09-11        8    1
T153 2014-09-18        8    1
T153 2014-09-25        8    1
T153 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T154 2008-06-11        8
T154 2008-06-17        8
T154 2008-06-24        8    1
T154 2008-07-01        8    1
T154 2008-07-04        8    1
T154 2008-07-11        8    1
T154 2008-07-14        8    1
T154 2008-07-21        8    1
T154 2008-07-23        8    1
T154 2008-07-24        8    1
T154 2008-07-28        8    1
T154 2008-07-29        8    1
T154 2008-08-04        8    1
T154 2008-08-05        8    1
T154 2008-08-12        8    1
T154 2008-08-13        8    1
T154 2008-08-19        8    1
T154 2008-08-25        8    1
T154 2008-08-26        8    1
T154 2008-09-02        8    1
T154 2008-09-03        8    1
T154 2008-09-09        8    1
T154 2008-09-15        8    1
T154 2008-09-19        8    1
T154 2008-09-29        8
T154 2010-06-02        8
T154 2010-06-11        8
T154 2010-06-18        8    1
T154 2010-06-25        8    1
T154 2010-06-28        8    1
...         ...      ...  ...
T154 2012-08-09        8    1
T154 2012-08-10        8    1
T154 2012-08-16        8    1
T154 2012-08-17        8    1
T154 2012-08-23        8    1
T154 2012-08-24        8    1
T154 2012-08-30        8    1
T154 2012-08-31        8    1
T154 2012-09-10        8
T154 2012-09-13        8    1
T154 2012-09-20        8    1
T154 2012-09-28        8
T154 2014-06-05        8
T154 2014-06-12        8    1
T154 2014-06-19        8    1
T154 2014-06-26        8    1
T154 2014-07-03        8    1
T154 2014-07-10        8    1
T154 2014-07-17        8    1
T154 2014-07-24        8    1
T154 2014-07-31        8    1
T154 2014-08-07        8    1
T154 2014-08-14        8    1
T154 2014-08-21        8    1
T154 2014-08-28        8    1
T154 2014-09-05        8
T154 2014-09-11        8    1
T154 2014-09-18        8    1
T154 2014-09-25        8    1
T154 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T155 2008-06-11        8
T155 2008-06-17        8
T155 2008-06-24        8    1
T155 2008-07-01        8    1
T155 2008-07-04        8    1
T155 2008-07-11        8    1
T155 2008-07-14        8    1
T155 2008-07-21        8    1
T155 2008-07-23        8    1
T155 2008-07-24        8    1
T155 2008-07-28        8    1
T155 2008-07-29        8    1
T155 2008-08-04        8    1
T155 2008-08-05        8    1
T155 2008-08-12        8    1
T155 2008-08-13        8    1
T155 2008-08-19        8    1
T155 2008-08-25        8    1
T155 2008-08-26        8    1
T155 2008-09-02        8    1
T155 2008-09-03        8    1
T155 2008-09-09        8    1
T155 2008-09-15        8    1
T155 2008-09-19        8    1
T155 2008-09-29        8
T155 2010-06-02        8
T155 2010-06-11        8
T155 2010-06-18        8    1
T155 2010-06-25        8    1
T155 2010-06-28        8    1
...         ...      ...  ...
T155 2012-08-09        8    1
T155 2012-08-10        8    1
T155 2012-08-16        8    1
T155 2012-08-17        8    1
T155 2012-08-23        8    1
T155 2012-08-24        8    1
T155 2012-08-30        8    1
T155 2012-08-31        8    1
T155 2012-09-10        8
T155 2012-09-13        8    1
T155 2012-09-20        8    1
T155 2012-09-28        8
T155 2014-06-05        8
T155 2014-06-12        8    1
T155 2014-06-19        8    1
T155 2014-06-26        8    1
T155 2014-07-03        8    1
T155 2014-07-10        8    1
T155 2014-07-17        8    1
T155 2014-07-24        8    1
T155 2014-07-31        8    1
T155 2014-08-07        8    1
T155 2014-08-14        8    1
T155 2014-08-21        8    1
T155 2014-08-28        8    1
T155 2014-09-05        8
T155 2014-09-11        8    1
T155 2014-09-18        8    1
T155 2014-09-25        8    1
T155 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T156 2008-06-11        8
T156 2008-06-17        8
T156 2008-06-24        8    1
T156 2008-07-01        8    1
T156 2008-07-04        8    1
T156 2008-07-11        8    1
T156 2008-07-14        8    1
T156 2008-07-21        8    1
T156 2008-07-23        8    1
T156 2008-07-24        8    1
T156 2008-07-28        8    1
T156 2008-07-29        8    1
T156 2008-08-04        8    1
T156 2008-08-05        8    1
T156 2008-08-12        8    1
T156 2008-08-13        8    1
T156 2008-08-19        8    1
T156 2008-08-25        8    1
T156 2008-08-26        8    1
T156 2008-09-02        8    1
T156 2008-09-03        8    1
T156 2008-09-09        8    1
T156 2008-09-15        8    1
T156 2008-09-19        8    1
T156 2008-09-29        8
T156 2010-06-02        8
T156 2010-06-11        8
T156 2010-06-18        8    1
T156 2010-06-25        8    1
T156 2010-06-28        8    1
...         ...      ...  ...
T156 2012-08-09        8    1
T156 2012-08-10        8    1
T156 2012-08-16        8    1
T156 2012-08-17        8    1
T156 2012-08-23        8    1
T156 2012-08-24        8    1
T156 2012-08-30        8    1
T156 2012-08-31        8    1
T156 2012-09-10        8
T156 2012-09-13        8    1
T156 2012-09-20        8    1
T156 2012-09-28        8
T156 2014-06-05        8
T156 2014-06-12        8    1
T156 2014-06-19        8    1
T156 2014-06-26        8    1
T156 2014-07-03        8    1
T156 2014-07-10        8    1
T156 2014-07-17        8    1
T156 2014-07-24        8    1
T156 2014-07-31        8    1
T156 2014-08-07        8    1
T156 2014-08-14        8    1
T156 2014-08-21        8    1
T156 2014-08-28        8    1
T156 2014-09-05        8
T156 2014-09-11        8    1
T156 2014-09-18        8    1
T156 2014-09-25        8    1
T156 2014-10-02        8    1

[95 rows x 3 columns]

           Date  Records More
Trap
T157 2008-06-11        8
T157 2008-06-17        8
T157 2008-06-24        8    1
T157 2008-07-01        8    1
T157 2008-07-04        8    1
T157 2008-07-11        8    1
T157 2008-07-14        8    1
T157 2008-07-21        8    1
T157 2008-07-23        8    1
T157 2008-07-24        8    1
T157 2008-07-28        8    1
T157 2008-07-29        8    1
T157 2008-08-04        8    1
T157 2008-08-05        8    1
T157 2008-08-12        8    1
T157 2008-08-13        8    1
T157 2008-08-19        8    1
T157 2008-08-25        8    1
T157 2008-08-26        8    1
T157 2008-09-02        8    1
T157 2008-09-03        8    1
T157 2008-09-09        8    1
T157 2008-09-15        8    1
T157 2008-09-19        8    1
T157 2008-09-29        8
T157 2010-06-02        8
T157 2010-06-11        8
T157 2010-06-18        8    1
T157 2010-06-25        8    1
T157 2010-06-28        8    1
...         ...      ...  ...
T157 2012-08-09        8    1
T157 2012-08-10        8    1
T157 2012-08-16        8    1
T157 2012-08-17        8    1
T157 2012-08-23        8    1
T157 2012-08-24        8    1
T157 2012-08-30        8    1
T157 2012-08-31        8    1
T157 2012-09-10        8
T157 2012-09-13        8    1
T157 2012-09-20        8    1
T157 2012-09-28        8
T157 2014-06-05        8
T157 2014-06-12        8    1
T157 2014-06-19        8    1
T157 2014-06-26        8    1
T157 2014-07-03        8    1
T157 2014-07-10        8    1
T157 2014-07-17        8    1
T157 2014-07-24        8    1
T157 2014-07-31        8    1
T157 2014-08-07        8    1
T157 2014-08-14        8    1
T157 2014-08-21        8    1
T157 2014-08-28        8    1
T157 2014-09-05        8
T157 2014-09-11        8    1
T157 2014-09-18        8    1
T157 2014-09-25        8    1
T157 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T158 2008-06-11        8
T158 2008-06-17        8
T158 2008-06-24        8    1
T158 2008-07-01        8    1
T158 2008-07-04        8    1
T158 2008-07-11        8    1
T158 2008-07-14        8    1
T158 2008-07-21        8    1
T158 2008-07-23        8    1
T158 2008-07-24        9    1
T158 2008-07-28        9    1
T158 2008-07-29        8    1
T158 2008-08-04        8    1
T158 2008-08-05        9    1
T158 2008-08-12        8    1
T158 2008-08-13        9    1
T158 2008-08-19        8    1
T158 2008-08-25        8    1
T158 2008-08-26        8    1
T158 2008-09-02        8    1
T158 2008-09-03        8    1
T158 2008-09-09        8    1
T158 2008-09-15        8    1
T158 2008-09-19        8    1
T158 2008-09-29        8
T158 2010-06-02        8
T158 2010-06-11        8
T158 2010-06-18        8    1
T158 2010-06-25        8    1
T158 2010-06-28        8    1
...         ...      ...  ...
T158 2012-08-09        8    1
T158 2012-08-10        8    1
T158 2012-08-16        8    1
T158 2012-08-17        8    1
T158 2012-08-23        8    1
T158 2012-08-24        8    1
T158 2012-08-30        8    1
T158 2012-08-31        8    1
T158 2012-09-10        8
T158 2012-09-13        8    1
T158 2012-09-20        8    1
T158 2012-09-28        8
T158 2014-06-05        8
T158 2014-06-12        8    1
T158 2014-06-19        8    1
T158 2014-06-26        8    1
T158 2014-07-03        8    1
T158 2014-07-10        8    1
T158 2014-07-17        8    1
T158 2014-07-24        8    1
T158 2014-07-31        8    1
T158 2014-08-07        8    1
T158 2014-08-14        8    1
T158 2014-08-21        8    1
T158 2014-08-28        8    1
T158 2014-09-05        8
T158 2014-09-11        8    1
T158 2014-09-18        8    1
T158 2014-09-25        8    1
T158 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T159 2008-06-11        8
T159 2008-06-17        8
T159 2008-06-24        8    1
T159 2008-07-01        8    1
T159 2008-07-04        8    1
T159 2008-07-11        8    1
T159 2008-07-14        8    1
T159 2008-07-21        8    1
T159 2008-07-23        8    1
T159 2008-07-24        8    1
T159 2008-07-28        8    1
T159 2008-07-29        8    1
T159 2008-08-04        8    1
T159 2008-08-05        9    1
T159 2008-08-12        8    1
T159 2008-08-13        9    1
T159 2008-08-19        8    1
T159 2008-08-25        8    1
T159 2008-08-26        8    1
T159 2008-09-02        8    1
T159 2008-09-03        8    1
T159 2008-09-09        9    1
T159 2008-09-15        8    1
T159 2008-09-19        8    1
T159 2008-09-29        8
T159 2010-06-02        8
T159 2010-06-11        8
T159 2010-06-18        8    1
T159 2010-06-25        9    1
T159 2010-06-28        8    1
...         ...      ...  ...
T159 2012-08-09        8    1
T159 2012-08-10        8    1
T159 2012-08-16        8    1
T159 2012-08-17        8    1
T159 2012-08-23        8    1
T159 2012-08-24        8    1
T159 2012-08-30        8    1
T159 2012-08-31        8    1
T159 2012-09-10        8
T159 2012-09-13        8    1
T159 2012-09-20        8    1
T159 2012-09-28        8
T159 2014-06-05        8
T159 2014-06-12        8    1
T159 2014-06-19        8    1
T159 2014-06-26        8    1
T159 2014-07-03        8    1
T159 2014-07-10        8    1
T159 2014-07-17        8    1
T159 2014-07-24        8    1
T159 2014-07-31        8    1
T159 2014-08-07        8    1
T159 2014-08-14        8    1
T159 2014-08-21        8    1
T159 2014-08-28        8    1
T159 2014-09-05        8
T159 2014-09-11        8    1
T159 2014-09-18        8    1
T159 2014-09-25        8    1
T159 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T160 2008-06-11        8
T160 2008-06-17        8
T160 2008-06-24        8    1
T160 2008-07-01        8    1
T160 2008-07-04        8    1
T160 2008-07-11        8    1
T160 2008-07-14        8    1
T160 2008-07-21        8    1
T160 2008-07-23        8    1
T160 2008-07-24        8    1
T160 2008-07-28        8    1
T160 2008-07-29        8    1
T160 2008-08-04        8    1
T160 2008-08-05        8    1
T160 2008-08-12        8    1
T160 2008-08-13        8    1
T160 2008-08-19        8    1
T160 2008-08-25        8    1
T160 2008-08-26        8    1
T160 2008-09-02        8    1
T160 2008-09-03        8    1
T160 2008-09-09        8    1
T160 2008-09-15        8    1
T160 2008-09-19        8    1
T160 2008-09-29        8
T160 2010-06-02        8
T160 2010-06-11        8
T160 2010-06-18        8    1
T160 2010-06-25        8    1
T160 2010-06-28        8    1
...         ...      ...  ...
T160 2012-08-09        8    1
T160 2012-08-10        8    1
T160 2012-08-16        8    1
T160 2012-08-17        8    1
T160 2012-08-23        8    1
T160 2012-08-24        8    1
T160 2012-08-30        8    1
T160 2012-08-31        8    1
T160 2012-09-10        8
T160 2012-09-13        8    1
T160 2012-09-20        8    1
T160 2012-09-28        8
T160 2014-06-05        8
T160 2014-06-12        8    1
T160 2014-06-19        8    1
T160 2014-06-26        8    1
T160 2014-07-03        8    1
T160 2014-07-10        8    1
T160 2014-07-17        8    1
T160 2014-07-24        8    1
T160 2014-07-31        8    1
T160 2014-08-07        8    1
T160 2014-08-14        8    1
T160 2014-08-21        8    1
T160 2014-08-28        8    1
T160 2014-09-05        8
T160 2014-09-11        8    1
T160 2014-09-18        8    1
T160 2014-09-25        8    1
T160 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T161 2008-06-11        8
T161 2008-06-17        8
T161 2008-06-24        8    1
T161 2008-07-01        8    1
T161 2008-07-04        8    1
T161 2008-07-11        8    1
T161 2008-07-14        8    1
T161 2008-07-21        8    1
T161 2008-07-23        8    1
T161 2008-07-24        8    1
T161 2008-07-28        8    1
T161 2008-07-29        8    1
T161 2008-08-04        8    1
T161 2008-08-05        8    1
T161 2008-08-12        8    1
T161 2008-08-13        8    1
T161 2008-08-19        8    1
T161 2008-08-25        8    1
T161 2008-08-26        8    1
T161 2008-09-02        8    1
T161 2008-09-03        8    1
T161 2008-09-09        8    1
T161 2008-09-15        8    1
T161 2008-09-19        8    1
T161 2008-09-29        8
T161 2010-06-02        8
T161 2010-06-11        8
T161 2010-06-18        8    1
T161 2010-06-25        8    1
T161 2010-06-28        8    1
...         ...      ...  ...
T161 2012-08-09        8    1
T161 2012-08-10        8    1
T161 2012-08-16        8    1
T161 2012-08-17        8    1
T161 2012-08-23        8    1
T161 2012-08-24        8    1
T161 2012-08-30        8    1
T161 2012-08-31        8    1
T161 2012-09-10        8
T161 2012-09-13        8    1
T161 2012-09-20        8    1
T161 2012-09-28        8
T161 2014-06-05        8
T161 2014-06-12        8    1
T161 2014-06-19        8    1
T161 2014-06-26        8    1
T161 2014-07-03        8    1
T161 2014-07-10        8    1
T161 2014-07-17        8    1
T161 2014-07-24        8    1
T161 2014-07-31        8    1
T161 2014-08-07        8    1
T161 2014-08-14        8    1
T161 2014-08-21        8    1
T161 2014-08-28        8    1
T161 2014-09-05        8
T161 2014-09-11        8    1
T161 2014-09-18        8    1
T161 2014-09-25        8    1
T161 2014-10-02        8    1

[95 rows x 3 columns]

           Date  Records More
Trap
T162 2008-06-11        8
T162 2008-06-17        8
T162 2008-06-24        8    1
T162 2008-07-01        8    1
T162 2008-07-04        8    1
T162 2008-07-11        8    1
T162 2008-07-14        8    1
T162 2008-07-21        8    1
T162 2008-07-23        8    1
T162 2008-07-24        8    1
T162 2008-07-28        8    1
T162 2008-07-29        8    1
T162 2008-08-04        8    1
T162 2008-08-05        8    1
T162 2008-08-12        8    1
T162 2008-08-13        8    1
T162 2008-08-19        8    1
T162 2008-08-25        8    1
T162 2008-08-26        8    1
T162 2008-09-02        8    1
T162 2008-09-03        8    1
T162 2008-09-09        8    1
T162 2008-09-15        8    1
T162 2008-09-19        8    1
T162 2008-09-29        8
T162 2010-06-02        8
T162 2010-06-11        8
T162 2010-06-18        8    1
T162 2010-06-25        8    1
T162 2010-06-28        8    1
...         ...      ...  ...
T162 2012-08-09        8    1
T162 2012-08-10        8    1
T162 2012-08-16        8    1
T162 2012-08-17        8    1
T162 2012-08-23        8    1
T162 2012-08-24        8    1
T162 2012-08-30        8    1
T162 2012-08-31        8    1
T162 2012-09-10        8
T162 2012-09-13        8    1
T162 2012-09-20        8    1
T162 2012-09-28        8
T162 2014-06-05        8
T162 2014-06-12        8    1
T162 2014-06-19        8    1
T162 2014-06-26        8    1
T162 2014-07-03        8    1
T162 2014-07-10        8    1
T162 2014-07-17        8    1
T162 2014-07-24        8    1
T162 2014-07-31        8    1
T162 2014-08-07        8    1
T162 2014-08-14        8    1
T162 2014-08-21        8    1
T162 2014-08-28        8    1
T162 2014-09-05        8
T162 2014-09-11        8    1
T162 2014-09-18        8    1
T162 2014-09-25        8    1
T162 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T200 2008-06-11        8
T200 2008-06-17        8
T200 2008-06-24        8    1
T200 2008-07-01        8    1
T200 2008-07-04        8    1
T200 2008-07-11        8    1
T200 2008-07-14        8    1
T200 2008-07-21        8    1
T200 2008-07-23        8    1
T200 2008-07-24        8    1
T200 2008-07-28        8    1
T200 2008-07-29        8    1
T200 2008-08-04        8    1
T200 2008-08-05        8    1
T200 2008-08-12        8    1
T200 2008-08-13       10    1
T200 2008-08-19        8    1
T200 2008-08-25        8    1
T200 2008-08-26       10    1
T200 2008-09-02        8    1
T200 2008-09-03        8    1
T200 2008-09-09        8    1
T200 2008-09-15        8    1
T200 2008-09-19        8    1
T200 2008-09-29        8
T200 2010-06-02        8
T200 2010-06-11        8
T200 2010-06-18        8    1
T200 2010-06-25        8    1
T200 2010-06-28        8    1
...         ...      ...  ...
T200 2012-08-09        8    1
T200 2012-08-10        8    1
T200 2012-08-16        8    1
T200 2012-08-17        8    1
T200 2012-08-23        8    1
T200 2012-08-24        8    1
T200 2012-08-30        8    1
T200 2012-08-31        8    1
T200 2012-09-10        8
T200 2012-09-13        8    1
T200 2012-09-20        8    1
T200 2012-09-28        8
T200 2014-06-05        8
T200 2014-06-12        8    1
T200 2014-06-19        8    1
T200 2014-06-26        8    1
T200 2014-07-03        8    1
T200 2014-07-10        8    1
T200 2014-07-17        8    1
T200 2014-07-24        8    1
T200 2014-07-31        8    1
T200 2014-08-07        8    1
T200 2014-08-14        8    1
T200 2014-08-21        8    1
T200 2014-08-28        8    1
T200 2014-09-05        8
T200 2014-09-11        8    1
T200 2014-09-18        8    1
T200 2014-09-25        8    1
T200 2014-10-02        8    1

[95 rows x 3 columns]
            Date  Records More
Trap
T200A 2008-06-11        8
T200A 2008-06-17        8
T200A 2008-06-24        8    1
T200A 2008-07-01        8    1
T200A 2008-07-04        8    1
T200A 2008-07-11        8    1
T200A 2008-07-14        8    1
T200A 2008-07-21        8    1
T200A 2008-07-23        8    1
T200A 2008-07-24        8    1
T200A 2008-07-28        8    1
T200A 2008-07-29        8    1
T200A 2008-08-04        8    1
T200A 2008-08-05       11    1
T200A 2008-08-12        8    1
T200A 2008-08-13       10    1
T200A 2008-08-19        8    1
T200A 2008-08-25        8    1
T200A 2008-08-26        8    1
T200A 2008-09-02        8    1
T200A 2008-09-03        8    1
T200A 2008-09-09        9    1
T200A 2008-09-15        8    1
T200A 2008-09-19        8    1
T200A 2008-09-29        8
T200A 2010-06-02        8
T200A 2010-06-11        8
T200A 2010-06-18        8    1
T200A 2010-06-25        8    1
T200A 2010-06-28        8    1
...          ...      ...  ...
T200A 2012-08-09        8    1
T200A 2012-08-10        8    1
T200A 2012-08-16        8    1
T200A 2012-08-17        8    1
T200A 2012-08-23        8    1
T200A 2012-08-24        8    1
T200A 2012-08-30        8    1
T200A 2012-08-31        8    1
T200A 2012-09-10        8
T200A 2012-09-13        8    1
T200A 2012-09-20        8    1
T200A 2012-09-28        8
T200A 2014-06-05        8
T200A 2014-06-12        8    1
T200A 2014-06-19        8    1
T200A 2014-06-26        8    1
T200A 2014-07-03        8    1
T200A 2014-07-10        8    1
T200A 2014-07-17        8    1
T200A 2014-07-24        8    1
T200A 2014-07-31        8    1
T200A 2014-08-07        8    1
T200A 2014-08-14        8    1
T200A 2014-08-21        8    1
T200A 2014-08-28        8    1
T200A 2014-09-05        8
T200A 2014-09-11        8    1
T200A 2014-09-18        8    1
T200A 2014-09-25        8    1
T200A 2014-10-02        8    1

[95 rows x 3 columns]
            Date  Records More
Trap
T200B 2008-06-11        8
T200B 2008-06-17        8
T200B 2008-06-24        8    1
T200B 2008-07-01        8    1
T200B 2008-07-04        8    1
T200B 2008-07-11        8    1
T200B 2008-07-14        8    1
T200B 2008-07-21        8    1
T200B 2008-07-23        8    1
T200B 2008-07-24        8    1
T200B 2008-07-28        8    1
T200B 2008-07-29        8    1
T200B 2008-08-04        8    1
T200B 2008-08-05        8    1
T200B 2008-08-12        8    1
T200B 2008-08-13        8    1
T200B 2008-08-19        8    1
T200B 2008-08-25        8    1
T200B 2008-08-26        8    1
T200B 2008-09-02        8    1
T200B 2008-09-03        8    1
T200B 2008-09-09        8    1
T200B 2008-09-15        8    1
T200B 2008-09-19        8    1
T200B 2008-09-29        8
T200B 2010-06-02        8
T200B 2010-06-11        8
T200B 2010-06-18        8    1
T200B 2010-06-25        8    1
T200B 2010-06-28        8    1
...          ...      ...  ...
T200B 2012-08-09        8    1
T200B 2012-08-10        8    1
T200B 2012-08-16        8    1
T200B 2012-08-17        8    1
T200B 2012-08-23        8    1
T200B 2012-08-24        8    1
T200B 2012-08-30        8    1
T200B 2012-08-31        8    1
T200B 2012-09-10        8
T200B 2012-09-13        8    1
T200B 2012-09-20        8    1
T200B 2012-09-28        8
T200B 2014-06-05        8
T200B 2014-06-12        8    1
T200B 2014-06-19        8    1
T200B 2014-06-26        8    1
T200B 2014-07-03        8    1
T200B 2014-07-10        8    1
T200B 2014-07-17        8    1
T200B 2014-07-24        8    1
T200B 2014-07-31        8    1
T200B 2014-08-07        8    1
T200B 2014-08-14        8    1
T200B 2014-08-21        8    1
T200B 2014-08-28        8    1
T200B 2014-09-05        8
T200B 2014-09-11        8    1
T200B 2014-09-18        8    1
T200B 2014-09-25        8    1
T200B 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T206 2008-06-11        8
T206 2008-06-17        8
T206 2008-06-24        8    1
T206 2008-07-01        8    1
T206 2008-07-04        8    1
T206 2008-07-11        8    1
T206 2008-07-14        8    1
T206 2008-07-21        8    1
T206 2008-07-23        8    1
T206 2008-07-24        8    1
T206 2008-07-28        8    1
T206 2008-07-29        8    1
T206 2008-08-04        8    1
T206 2008-08-05        8    1
T206 2008-08-12        8    1
T206 2008-08-13        8    1
T206 2008-08-19        8    1
T206 2008-08-25        8    1
T206 2008-08-26        8    1
T206 2008-09-02        8    1
T206 2008-09-03        8    1
T206 2008-09-09        8    1
T206 2008-09-15        8    1
T206 2008-09-19        8    1
T206 2008-09-29        8
T206 2010-06-02        8
T206 2010-06-11        8
T206 2010-06-18        8    1
T206 2010-06-25        8    1
T206 2010-06-28        8    1
...         ...      ...  ...
T206 2012-08-09        8    1
T206 2012-08-10        8    1
T206 2012-08-16        8    1
T206 2012-08-17        8    1
T206 2012-08-23        8    1
T206 2012-08-24        8    1
T206 2012-08-30        8    1
T206 2012-08-31        8    1
T206 2012-09-10        8
T206 2012-09-13        8    1
T206 2012-09-20        8    1
T206 2012-09-28        8
T206 2014-06-05        8
T206 2014-06-12        8    1
T206 2014-06-19        8    1
T206 2014-06-26        8    1
T206 2014-07-03        8    1
T206 2014-07-10        8    1
T206 2014-07-17        8    1
T206 2014-07-24        8    1
T206 2014-07-31        8    1
T206 2014-08-07        8    1
T206 2014-08-14        8    1
T206 2014-08-21        8    1
T206 2014-08-28        8    1
T206 2014-09-05        8
T206 2014-09-11        8    1
T206 2014-09-18        8    1
T206 2014-09-25        8    1
T206 2014-10-02        8    1

[95 rows x 3 columns]

           Date  Records More
Trap
T209 2008-06-11        8
T209 2008-06-17        8
T209 2008-06-24        8    1
T209 2008-07-01        8    1
T209 2008-07-04        8    1
T209 2008-07-11        8    1
T209 2008-07-14        8    1
T209 2008-07-21        8    1
T209 2008-07-23        8    1
T209 2008-07-24        8    1
T209 2008-07-28        8    1
T209 2008-07-29        8    1
T209 2008-08-04        8    1
T209 2008-08-05        8    1
T209 2008-08-12        8    1
T209 2008-08-13        8    1
T209 2008-08-19        8    1
T209 2008-08-25        8    1
T209 2008-08-26        9    1
T209 2008-09-02        8    1
T209 2008-09-03        9    1
T209 2008-09-09        8    1
T209 2008-09-15        8    1
T209 2008-09-19        8    1
T209 2008-09-29        8
T209 2010-06-02        8
T209 2010-06-11        8
T209 2010-06-18        8    1
T209 2010-06-25        8    1
T209 2010-06-28        8    1
...         ...      ...  ...
T209 2012-08-09        8    1
T209 2012-08-10        8    1
T209 2012-08-16        8    1
T209 2012-08-17        8    1
T209 2012-08-23        8    1
T209 2012-08-24        8    1
T209 2012-08-30        8    1
T209 2012-08-31        8    1
T209 2012-09-10        8
T209 2012-09-13        8    1
T209 2012-09-20        8    1
T209 2012-09-28        8
T209 2014-06-05        8
T209 2014-06-12        8    1
T209 2014-06-19        8    1
T209 2014-06-26        8    1
T209 2014-07-03        8    1
T209 2014-07-10        8    1
T209 2014-07-17        8    1
T209 2014-07-24        8    1
T209 2014-07-31        8    1
T209 2014-08-07        8    1
T209 2014-08-14        8    1
T209 2014-08-21        9    1
T209 2014-08-28        8    1
T209 2014-09-05        8
T209 2014-09-11        8    1
T209 2014-09-18        8    1
T209 2014-09-25        8    1
T209 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T212 2008-06-11        8
T212 2008-06-17        8
T212 2008-06-24        8    1
T212 2008-07-01        8    1
T212 2008-07-04        8    1
T212 2008-07-11        8    1
T212 2008-07-14        8    1
T212 2008-07-21        8    1
T212 2008-07-23        8    1
T212 2008-07-24        8    1
T212 2008-07-28        8    1
T212 2008-07-29        8    1
T212 2008-08-04        8    1
T212 2008-08-05        8    1
T212 2008-08-12        8    1
T212 2008-08-13        8    1
T212 2008-08-19        8    1
T212 2008-08-25        8    1
T212 2008-08-26        8    1
T212 2008-09-02        8    1
T212 2008-09-03        8    1
T212 2008-09-09        8    1
T212 2008-09-15        8    1
T212 2008-09-19        8    1
T212 2008-09-29        8
T212 2010-06-02        8
T212 2010-06-11        8
T212 2010-06-18        8    1
T212 2010-06-25        8    1
T212 2010-06-28        8    1
...         ...      ...  ...
T212 2012-08-09        8    1
T212 2012-08-10        8    1
T212 2012-08-16        8    1
T212 2012-08-17        8    1
T212 2012-08-23        8    1
T212 2012-08-24        8    1
T212 2012-08-30        8    1
T212 2012-08-31        8    1
T212 2012-09-10        8
T212 2012-09-13        8    1
T212 2012-09-20        8    1
T212 2012-09-28        8
T212 2014-06-05        8
T212 2014-06-12        8    1
T212 2014-06-19       11    1
T212 2014-06-26        9    1
T212 2014-07-03        8    1
T212 2014-07-10        8    1
T212 2014-07-17        8    1
T212 2014-07-24        8    1
T212 2014-07-31        8    1
T212 2014-08-07        8    1
T212 2014-08-14        8    1
T212 2014-08-21        8    1
T212 2014-08-28        8    1
T212 2014-09-05        8
T212 2014-09-11        8    1
T212 2014-09-18        8    1
T212 2014-09-25        8    1
T212 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T215 2008-06-11        8
T215 2008-06-17        8
T215 2008-06-24        8    1
T215 2008-07-01        8    1
T215 2008-07-04        8    1
T215 2008-07-11        8    1
T215 2008-07-14        8    1
T215 2008-07-21        8    1
T215 2008-07-23        8    1
T215 2008-07-24        8    1
T215 2008-07-28        8    1
T215 2008-07-29        8    1
T215 2008-08-04        8    1
T215 2008-08-05        8    1
T215 2008-08-12        8    1
T215 2008-08-13        8    1
T215 2008-08-19        8    1
T215 2008-08-25        8    1
T215 2008-08-26        8    1
T215 2008-09-02        8    1
T215 2008-09-03        8    1
T215 2008-09-09        8    1
T215 2008-09-15        8    1
T215 2008-09-19        8    1
T215 2008-09-29        8
T215 2010-06-02        8
T215 2010-06-11        8
T215 2010-06-18        8    1
T215 2010-06-25        8    1
T215 2010-06-28        8    1
...         ...      ...  ...
T215 2012-08-09        8    1
T215 2012-08-10        8    1
T215 2012-08-16        8    1
T215 2012-08-17        8    1
T215 2012-08-23        8    1
T215 2012-08-24        8    1
T215 2012-08-30        8    1
T215 2012-08-31        8    1
T215 2012-09-10        8
T215 2012-09-13        8    1
T215 2012-09-20        8    1
T215 2012-09-28        8
T215 2014-06-05        8
T215 2014-06-12        8    1
T215 2014-06-19        8    1
T215 2014-06-26        8    1
T215 2014-07-03        8    1
T215 2014-07-10        8    1
T215 2014-07-17        8    1
T215 2014-07-24        8    1
T215 2014-07-31        8    1
T215 2014-08-07        8    1
T215 2014-08-14        8    1
T215 2014-08-21        8    1
T215 2014-08-28        8    1
T215 2014-09-05        8
T215 2014-09-11        8    1
T215 2014-09-18        8    1
T215 2014-09-25        8    1
T215 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T218 2008-06-11        8
T218 2008-06-17        8
T218 2008-06-24       10    1
T218 2008-07-01        8    1
T218 2008-07-04        8    1
T218 2008-07-11        8    1
T218 2008-07-14        8    1
T218 2008-07-21        8    1
T218 2008-07-23        8    1
T218 2008-07-24        8    1
T218 2008-07-28        8    1
T218 2008-07-29        8    1
T218 2008-08-04        8    1
T218 2008-08-05        8    1
T218 2008-08-12        8    1
T218 2008-08-13        8    1
T218 2008-08-19        9    1
T218 2008-08-25        9    1
T218 2008-08-26        8    1
T218 2008-09-02       10    1
T218 2008-09-03        8    1
T218 2008-09-09        8    1
T218 2008-09-15        8    1
T218 2008-09-19        8    1
T218 2008-09-29        8
T218 2010-06-02        8
T218 2010-06-11        8
T218 2010-06-18        8    1
T218 2010-06-25        8    1
T218 2010-06-28        8    1
...         ...      ...  ...
T218 2012-08-09        8    1
T218 2012-08-10        8    1
T218 2012-08-16        8    1
T218 2012-08-17        8    1
T218 2012-08-23        8    1
T218 2012-08-24        8    1
T218 2012-08-30        8    1
T218 2012-08-31        8    1
T218 2012-09-10        8
T218 2012-09-13        8    1
T218 2012-09-20        8    1
T218 2012-09-28        8
T218 2014-06-05        8
T218 2014-06-12        8    1
T218 2014-06-19        8    1
T218 2014-06-26        8    1
T218 2014-07-03        8    1
T218 2014-07-10        8    1
T218 2014-07-17        8    1
T218 2014-07-24        8    1
T218 2014-07-31        8    1
T218 2014-08-07        8    1
T218 2014-08-14        8    1
T218 2014-08-21        8    1
T218 2014-08-28        8    1
T218 2014-09-05        8
T218 2014-09-11        8    1
T218 2014-09-18        8    1
T218 2014-09-25        8    1
T218 2014-10-02        8    1

[95 rows x 3 columns]
            Date  Records More
Trap
T218A 2008-06-11        8
T218A 2008-06-17        8
T218A 2008-06-24        8    1
T218A 2008-07-01        8    1
T218A 2008-07-04        8    1
T218A 2008-07-11        8    1
T218A 2008-07-14        8    1
T218A 2008-07-21        8    1
T218A 2008-07-23        8    1
T218A 2008-07-24        8    1
T218A 2008-07-28        8    1
T218A 2008-07-29        8    1
T218A 2008-08-04        8    1
T218A 2008-08-05        8    1
T218A 2008-08-12        8    1
T218A 2008-08-13        8    1
T218A 2008-08-19        8    1
T218A 2008-08-25        8    1
T218A 2008-08-26        8    1
T218A 2008-09-02        8    1
T218A 2008-09-03        8    1
T218A 2008-09-09        8    1
T218A 2008-09-15        8    1
T218A 2008-09-19        8    1
T218A 2008-09-29        8
T218A 2010-06-02        8
T218A 2010-06-11        8
T218A 2010-06-18        8    1
T218A 2010-06-25        8    1
T218A 2010-06-28        8    1
...          ...      ...  ...
T218A 2012-08-09        8    1
T218A 2012-08-10        8    1
T218A 2012-08-16        8    1
T218A 2012-08-17        8    1
T218A 2012-08-23        8    1
T218A 2012-08-24        8    1
T218A 2012-08-30        8    1
T218A 2012-08-31        8    1
T218A 2012-09-10        8
T218A 2012-09-13        8    1
T218A 2012-09-20        8    1
T218A 2012-09-28        8
T218A 2014-06-05        8
T218A 2014-06-12        8    1
T218A 2014-06-19        8    1
T218A 2014-06-26        8    1
T218A 2014-07-03        8    1
T218A 2014-07-10        8    1
T218A 2014-07-17        8    1
T218A 2014-07-24        8    1
T218A 2014-07-31        8    1
T218A 2014-08-07        8    1
T218A 2014-08-14        8    1
T218A 2014-08-21        8    1
T218A 2014-08-28        8    1
T218A 2014-09-05        8
T218A 2014-09-11        8    1
T218A 2014-09-18        8    1
T218A 2014-09-25        8    1
T218A 2014-10-02        8    1

[95 rows x 3 columns]

            Date  Records More
Trap
T218B 2008-06-11        8
T218B 2008-06-17        8
T218B 2008-06-24        8    1
T218B 2008-07-01        8    1
T218B 2008-07-04        8    1
T218B 2008-07-11        8    1
T218B 2008-07-14        8    1
T218B 2008-07-21        8    1
T218B 2008-07-23        8    1
T218B 2008-07-24        8    1
T218B 2008-07-28        8    1
T218B 2008-07-29        8    1
T218B 2008-08-04        8    1
T218B 2008-08-05        8    1
T218B 2008-08-12        8    1
T218B 2008-08-13        8    1
T218B 2008-08-19        8    1
T218B 2008-08-25        8    1
T218B 2008-08-26        8    1
T218B 2008-09-02       10    1
T218B 2008-09-03        8    1
T218B 2008-09-09        8    1
T218B 2008-09-15        8    1
T218B 2008-09-19        8    1
T218B 2008-09-29        8
T218B 2010-06-02        8
T218B 2010-06-11        8
T218B 2010-06-18        8    1
T218B 2010-06-25        8    1
T218B 2010-06-28        8    1
...          ...      ...  ...
T218B 2012-08-09        8    1
T218B 2012-08-10        8    1
T218B 2012-08-16        8    1
T218B 2012-08-17        8    1
T218B 2012-08-23        8    1
T218B 2012-08-24        8    1
T218B 2012-08-30        8    1
T218B 2012-08-31        8    1
T218B 2012-09-10        8
T218B 2012-09-13        8    1
T218B 2012-09-20        8    1
T218B 2012-09-28        8
T218B 2014-06-05        8
T218B 2014-06-12        8    1
T218B 2014-06-19        8    1
T218B 2014-06-26        8    1
T218B 2014-07-03        8    1
T218B 2014-07-10        8    1
T218B 2014-07-17        8    1
T218B 2014-07-24        8    1
T218B 2014-07-31        8    1
T218B 2014-08-07        8    1
T218B 2014-08-14        8    1
T218B 2014-08-21        8    1
T218B 2014-08-28        8    1
T218B 2014-09-05        8
T218B 2014-09-11        8    1
T218B 2014-09-18        8    1
T218B 2014-09-25        8    1
T218B 2014-10-02        8    1

[95 rows x 3 columns]
            Date  Records More
Trap
T218C 2008-06-11        8
T218C 2008-06-17        8
T218C 2008-06-24        8    1
T218C 2008-07-01        8    1
T218C 2008-07-04        8    1
T218C 2008-07-11        8    1
T218C 2008-07-14        8    1
T218C 2008-07-21        8    1
T218C 2008-07-23        8    1
T218C 2008-07-24        8    1
T218C 2008-07-28        8    1
T218C 2008-07-29        8    1
T218C 2008-08-04        8    1
T218C 2008-08-05        8    1
T218C 2008-08-12        8    1
T218C 2008-08-13        8    1
T218C 2008-08-19        8    1
T218C 2008-08-25        8    1
T218C 2008-08-26        9    1
T218C 2008-09-02        9    1
T218C 2008-09-03        8    1
T218C 2008-09-09        8    1
T218C 2008-09-15        8    1
T218C 2008-09-19        8    1
T218C 2008-09-29        8
T218C 2010-06-02        8
T218C 2010-06-11        8
T218C 2010-06-18        8    1
T218C 2010-06-25        8    1
T218C 2010-06-28        8    1
...          ...      ...  ...
T218C 2012-08-09        8    1
T218C 2012-08-10        8    1
T218C 2012-08-16        8    1
T218C 2012-08-17        8    1
T218C 2012-08-23        8    1
T218C 2012-08-24        8    1
T218C 2012-08-30        8    1
T218C 2012-08-31        8    1
T218C 2012-09-10        8
T218C 2012-09-13        8    1
T218C 2012-09-20        8    1
T218C 2012-09-28        8
T218C 2014-06-05        8
T218C 2014-06-12        8    1
T218C 2014-06-19        8    1
T218C 2014-06-26        8    1
T218C 2014-07-03        8    1
T218C 2014-07-10        8    1
T218C 2014-07-17        8    1
T218C 2014-07-24        8    1
T218C 2014-07-31        8    1
T218C 2014-08-07        8    1
T218C 2014-08-14        8    1
T218C 2014-08-21        8    1
T218C 2014-08-28        8    1
T218C 2014-09-05        8
T218C 2014-09-11        8    1
T218C 2014-09-18        8    1
T218C 2014-09-25        8    1
T218C 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T219 2008-06-11        8
T219 2008-06-17        8
T219 2008-06-24        8    1
T219 2008-07-01        8    1
T219 2008-07-04        8    1
T219 2008-07-11        8    1
T219 2008-07-14        8    1
T219 2008-07-21        8    1
T219 2008-07-23        8    1
T219 2008-07-24        8    1
T219 2008-07-28        8    1
T219 2008-07-29        8    1
T219 2008-08-04        8    1
T219 2008-08-05        8    1
T219 2008-08-12        8    1
T219 2008-08-13        8    1
T219 2008-08-19        8    1
T219 2008-08-25        8    1
T219 2008-08-26        8    1
T219 2008-09-02        8    1
T219 2008-09-03        8    1
T219 2008-09-09        8    1
T219 2008-09-15        8    1
T219 2008-09-19        8    1
T219 2008-09-29        8
T219 2010-06-02        8
T219 2010-06-11        8
T219 2010-06-18        8    1
T219 2010-06-25        8    1
T219 2010-06-28        8    1
...         ...      ...  ...
T219 2012-08-09        8    1
T219 2012-08-10        8    1
T219 2012-08-16        8    1
T219 2012-08-17        8    1
T219 2012-08-23        8    1
T219 2012-08-24        8    1
T219 2012-08-30        8    1
T219 2012-08-31        8    1
T219 2012-09-10        8
T219 2012-09-13        8    1
T219 2012-09-20        8    1
T219 2012-09-28        8
T219 2014-06-05        8
T219 2014-06-12        8    1
T219 2014-06-19        8    1
T219 2014-06-26        8    1
T219 2014-07-03        8    1
T219 2014-07-10        8    1
T219 2014-07-17        8    1
T219 2014-07-24        8    1
T219 2014-07-31        8    1
T219 2014-08-07        8    1
T219 2014-08-14        8    1
T219 2014-08-21        8    1
T219 2014-08-28        8    1
T219 2014-09-05        8
T219 2014-09-11        8    1
T219 2014-09-18        8    1
T219 2014-09-25        8    1
T219 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T220 2008-06-11        8
T220 2008-06-17        8
T220 2008-06-24        8    1
T220 2008-07-01        8    1
T220 2008-07-04        8    1
T220 2008-07-11        8    1
T220 2008-07-14        8    1
T220 2008-07-21        8    1
T220 2008-07-23        8    1
T220 2008-07-24        8    1
T220 2008-07-28        8    1
T220 2008-07-29        8    1
T220 2008-08-04        8    1
T220 2008-08-05        8    1
T220 2008-08-12        8    1
T220 2008-08-13        8    1
T220 2008-08-19        8    1
T220 2008-08-25        9    1
T220 2008-08-26        8    1
T220 2008-09-02       12    1
T220 2008-09-03        8    1
T220 2008-09-09       17    1
T220 2008-09-15        8    1
T220 2008-09-19        8    1
T220 2008-09-29        8
T220 2010-06-02        8
T220 2010-06-11        8
T220 2010-06-18        8    1
T220 2010-06-25        8    1
T220 2010-06-28        8    1
...         ...      ...  ...
T220 2012-08-09        8    1
T220 2012-08-10        8    1
T220 2012-08-16        8    1
T220 2012-08-17        8    1
T220 2012-08-23        8    1
T220 2012-08-24        8    1
T220 2012-08-30        8    1
T220 2012-08-31        8    1
T220 2012-09-10        8
T220 2012-09-13        8    1
T220 2012-09-20        8    1
T220 2012-09-28        8
T220 2014-06-05        8
T220 2014-06-12        8    1
T220 2014-06-19        8    1
T220 2014-06-26        8    1
T220 2014-07-03        8    1
T220 2014-07-10        8    1
T220 2014-07-17        8    1
T220 2014-07-24        8    1
T220 2014-07-31        8    1
T220 2014-08-07        8    1
T220 2014-08-14        8    1
T220 2014-08-21        8    1
T220 2014-08-28        8    1
T220 2014-09-05        8
T220 2014-09-11        8    1
T220 2014-09-18        8    1
T220 2014-09-25        8    1
T220 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T221 2008-06-11        8
T221 2008-06-17        8
T221 2008-06-24        8    1
T221 2008-07-01        8    1
T221 2008-07-04        8    1
T221 2008-07-11        8    1
T221 2008-07-14        8    1
T221 2008-07-21        8    1
T221 2008-07-23        8    1
T221 2008-07-24        9    1
T221 2008-07-28        8    1
T221 2008-07-29        8    1
T221 2008-08-04        8    1
T221 2008-08-05        9    1
T221 2008-08-12        8    1
T221 2008-08-13       11    1
T221 2008-08-19        8    1
T221 2008-08-25        8    1
T221 2008-08-26       10    1
T221 2008-09-02        8    1
T221 2008-09-03        8    1
T221 2008-09-09        8    1
T221 2008-09-15        8    1
T221 2008-09-19        8    1
T221 2008-09-29        8
T221 2010-06-02        8
T221 2010-06-11        8
T221 2010-06-18        8    1
T221 2010-06-25        8    1
T221 2010-06-28        8    1
...         ...      ...  ...
T221 2012-08-09        8    1
T221 2012-08-10        8    1
T221 2012-08-16        8    1
T221 2012-08-17        8    1
T221 2012-08-23        8    1
T221 2012-08-24        8    1
T221 2012-08-30        8    1
T221 2012-08-31        8    1
T221 2012-09-10        8
T221 2012-09-13        8    1
T221 2012-09-20        8    1
T221 2012-09-28        8
T221 2014-06-05        8
T221 2014-06-12        8    1
T221 2014-06-19        8    1
T221 2014-06-26        8    1
T221 2014-07-03        8    1
T221 2014-07-10        8    1
T221 2014-07-17        8    1
T221 2014-07-24        8    1
T221 2014-07-31        8    1
T221 2014-08-07        9    1
T221 2014-08-14        8    1
T221 2014-08-21        8    1
T221 2014-08-28        8    1
T221 2014-09-05        8
T221 2014-09-11        8    1
T221 2014-09-18        8    1
T221 2014-09-25        8    1
T221 2014-10-02        8    1

[95 rows x 3 columns]

           Date  Records More
Trap
T222 2008-06-11        8
T222 2008-06-17        8
T222 2008-06-24        8    1
T222 2008-07-01        8    1
T222 2008-07-04        8    1
T222 2008-07-11        8    1
T222 2008-07-14        8    1
T222 2008-07-21        8    1
T222 2008-07-23        8    1
T222 2008-07-24        8    1
T222 2008-07-28        8    1
T222 2008-07-29        8    1
T222 2008-08-04        8    1
T222 2008-08-05        8    1
T222 2008-08-12        8    1
T222 2008-08-13        8    1
T222 2008-08-19        8    1
T222 2008-08-25        8    1
T222 2008-08-26        8    1
T222 2008-09-02        8    1
T222 2008-09-03        8    1
T222 2008-09-09        8    1
T222 2008-09-15        8    1
T222 2008-09-19        8    1
T222 2008-09-29        8
T222 2010-06-02        8
T222 2010-06-11        8
T222 2010-06-18        8    1
T222 2010-06-25        8    1
T222 2010-06-28        8    1
...         ...      ...  ...
T222 2012-08-09        8    1
T222 2012-08-10        8    1
T222 2012-08-16        8    1
T222 2012-08-17        8    1
T222 2012-08-23        8    1
T222 2012-08-24        8    1
T222 2012-08-30        8    1
T222 2012-08-31        8    1
T222 2012-09-10        8
T222 2012-09-13        8    1
T222 2012-09-20        8    1
T222 2012-09-28        8
T222 2014-06-05        8
T222 2014-06-12        8    1
T222 2014-06-19        8    1
T222 2014-06-26        8    1
T222 2014-07-03        8    1
T222 2014-07-10        8    1
T222 2014-07-17        8    1
T222 2014-07-24        8    1
T222 2014-07-31        8    1
T222 2014-08-07        8    1
T222 2014-08-14        8    1
T222 2014-08-21        8    1
T222 2014-08-28        8    1
T222 2014-09-05        8
T222 2014-09-11        8    1
T222 2014-09-18        8    1
T222 2014-09-25        8    1
T222 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T223 2008-06-11        8
T223 2008-06-17        8
T223 2008-06-24        8    1
T223 2008-07-01        8    1
T223 2008-07-04        8    1
T223 2008-07-11        8    1
T223 2008-07-14        8    1
T223 2008-07-21        8    1
T223 2008-07-23        8    1
T223 2008-07-24        8    1
T223 2008-07-28        8    1
T223 2008-07-29        8    1
T223 2008-08-04        8    1
T223 2008-08-05        8    1
T223 2008-08-12        8    1
T223 2008-08-13        8    1
T223 2008-08-19        8    1
T223 2008-08-25        8    1
T223 2008-08-26        8    1
T223 2008-09-02        8    1
T223 2008-09-03        8    1
T223 2008-09-09        8    1
T223 2008-09-15        8    1
T223 2008-09-19        8    1
T223 2008-09-29        8
T223 2010-06-02        8
T223 2010-06-11        8
T223 2010-06-18        8    1
T223 2010-06-25        8    1
T223 2010-06-28        8    1
...         ...      ...  ...
T223 2012-08-09        8    1
T223 2012-08-10        8    1
T223 2012-08-16        8    1
T223 2012-08-17        8    1
T223 2012-08-23        8    1
T223 2012-08-24        8    1
T223 2012-08-30        8    1
T223 2012-08-31        8    1
T223 2012-09-10        8
T223 2012-09-13        8    1
T223 2012-09-20        8    1
T223 2012-09-28        8
T223 2014-06-05        8
T223 2014-06-12        8    1
T223 2014-06-19        8    1
T223 2014-06-26        9    1
T223 2014-07-03        8    1
T223 2014-07-10        8    1
T223 2014-07-17        8    1
T223 2014-07-24        8    1
T223 2014-07-31        9    1
T223 2014-08-07       12    1
T223 2014-08-14       11    1
T223 2014-08-21        9    1
T223 2014-08-28        8    1
T223 2014-09-05        8
T223 2014-09-11        8    1
T223 2014-09-18        8    1
T223 2014-09-25        8    1
T223 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T224 2008-06-11        8
T224 2008-06-17        8
T224 2008-06-24        8    1
T224 2008-07-01        8    1
T224 2008-07-04        8    1
T224 2008-07-11        8    1
T224 2008-07-14        8    1
T224 2008-07-21        8    1
T224 2008-07-23        8    1
T224 2008-07-24        8    1
T224 2008-07-28        8    1
T224 2008-07-29        8    1
T224 2008-08-04        8    1
T224 2008-08-05        8    1
T224 2008-08-12        8    1
T224 2008-08-13        8    1
T224 2008-08-19        8    1
T224 2008-08-25        8    1
T224 2008-08-26        8    1
T224 2008-09-02        8    1
T224 2008-09-03        8    1
T224 2008-09-09        8    1
T224 2008-09-15        8    1
T224 2008-09-19        8    1
T224 2008-09-29        8
T224 2010-06-02        8
T224 2010-06-11        8
T224 2010-06-18        8    1
T224 2010-06-25        8    1
T224 2010-06-28        8    1
...         ...      ...  ...
T224 2012-08-09        8    1
T224 2012-08-10        8    1
T224 2012-08-16        8    1
T224 2012-08-17        8    1
T224 2012-08-23        8    1
T224 2012-08-24        8    1
T224 2012-08-30        8    1
T224 2012-08-31        8    1
T224 2012-09-10        8
T224 2012-09-13        8    1
T224 2012-09-20        8    1
T224 2012-09-28        8
T224 2014-06-05        8
T224 2014-06-12        8    1
T224 2014-06-19        8    1
T224 2014-06-26        8    1
T224 2014-07-03        8    1
T224 2014-07-10        8    1
T224 2014-07-17        8    1
T224 2014-07-24        8    1
T224 2014-07-31        8    1
T224 2014-08-07        8    1
T224 2014-08-14        8    1
T224 2014-08-21        8    1
T224 2014-08-28        8    1
T224 2014-09-05        8
T224 2014-09-11        8    1
T224 2014-09-18        8    1
T224 2014-09-25        8    1
T224 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T225 2008-06-11        8
T225 2008-06-17        8
T225 2008-06-24        8    1
T225 2008-07-01        8    1
T225 2008-07-04        8    1
T225 2008-07-11        8    1
T225 2008-07-14        8    1
T225 2008-07-21        8    1
T225 2008-07-23        8    1
T225 2008-07-24        8    1
T225 2008-07-28        8    1
T225 2008-07-29        8    1
T225 2008-08-04        8    1
T225 2008-08-05        8    1
T225 2008-08-12        8    1
T225 2008-08-13        8    1
T225 2008-08-19        8    1
T225 2008-08-25        8    1
T225 2008-08-26        8    1
T225 2008-09-02        8    1
T225 2008-09-03        8    1
T225 2008-09-09        8    1
T225 2008-09-15        8    1
T225 2008-09-19        8    1
T225 2008-09-29        8
T225 2010-06-02        8
T225 2010-06-11        8
T225 2010-06-18        8    1
T225 2010-06-25        8    1
T225 2010-06-28        8    1
...         ...      ...  ...
T225 2012-08-09        8    1
T225 2012-08-10        8    1
T225 2012-08-16        8    1
T225 2012-08-17        8    1
T225 2012-08-23        8    1
T225 2012-08-24        8    1
T225 2012-08-30        8    1
T225 2012-08-31        8    1
T225 2012-09-10        8
T225 2012-09-13        8    1
T225 2012-09-20        8    1
T225 2012-09-28        8
T225 2014-06-05        8
T225 2014-06-12        8    1
T225 2014-06-19        9    1
T225 2014-06-26        8    1
T225 2014-07-03        8    1
T225 2014-07-10        8    1
T225 2014-07-17        8    1
T225 2014-07-24        8    1
T225 2014-07-31        8    1
T225 2014-08-07        8    1
T225 2014-08-14        8    1
T225 2014-08-21        9    1
T225 2014-08-28        8    1
T225 2014-09-05        8
T225 2014-09-11        8    1
T225 2014-09-18        8    1
T225 2014-09-25        8    1
T225 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T226 2008-06-11        8
T226 2008-06-17        8
T226 2008-06-24        8    1
T226 2008-07-01        8    1
T226 2008-07-04        8    1
T226 2008-07-11        8    1
T226 2008-07-14        8    1
T226 2008-07-21        8    1
T226 2008-07-23        8    1
T226 2008-07-24        8    1
T226 2008-07-28        8    1
T226 2008-07-29        8    1
T226 2008-08-04        8    1
T226 2008-08-05        8    1
T226 2008-08-12        8    1
T226 2008-08-13        8    1
T226 2008-08-19        8    1
T226 2008-08-25        8    1
T226 2008-08-26        8    1
T226 2008-09-02        8    1
T226 2008-09-03        8    1
T226 2008-09-09        8    1
T226 2008-09-15        8    1
T226 2008-09-19        8    1
T226 2008-09-29        8
T226 2010-06-02        8
T226 2010-06-11        8
T226 2010-06-18        8    1
T226 2010-06-25        8    1
T226 2010-06-28        8    1
...         ...      ...  ...
T226 2012-08-09        8    1
T226 2012-08-10        8    1
T226 2012-08-16        8    1
T226 2012-08-17        8    1
T226 2012-08-23        8    1
T226 2012-08-24        8    1
T226 2012-08-30        8    1
T226 2012-08-31        8    1
T226 2012-09-10        8
T226 2012-09-13        8    1
T226 2012-09-20        8    1
T226 2012-09-28        8
T226 2014-06-05        8
T226 2014-06-12        8    1
T226 2014-06-19        8    1
T226 2014-06-26        8    1
T226 2014-07-03        8    1
T226 2014-07-10        8    1
T226 2014-07-17        8    1
T226 2014-07-24        8    1
T226 2014-07-31        8    1
T226 2014-08-07        8    1
T226 2014-08-14        8    1
T226 2014-08-21        8    1
T226 2014-08-28        8    1
T226 2014-09-05        8
T226 2014-09-11        8    1
T226 2014-09-18        8    1
T226 2014-09-25        8    1
T226 2014-10-02        8    1

[95 rows x 3 columns]

           Date  Records More
Trap
T227 2008-06-11        8
T227 2008-06-17        8
T227 2008-06-24        8    1
T227 2008-07-01        8    1
T227 2008-07-04        8    1
T227 2008-07-11        8    1
T227 2008-07-14        8    1
T227 2008-07-21        8    1
T227 2008-07-23        8    1
T227 2008-07-24        8    1
T227 2008-07-28        8    1
T227 2008-07-29        8    1
T227 2008-08-04        8    1
T227 2008-08-05        8    1
T227 2008-08-12        8    1
T227 2008-08-13        8    1
T227 2008-08-19        8    1
T227 2008-08-25        8    1
T227 2008-08-26        8    1
T227 2008-09-02        8    1
T227 2008-09-03        8    1
T227 2008-09-09        8    1
T227 2008-09-15        8    1
T227 2008-09-19        8    1
T227 2008-09-29        8
T227 2010-06-02        8
T227 2010-06-11        8
T227 2010-06-18        8    1
T227 2010-06-25        8    1
T227 2010-06-28        8    1
...         ...      ...  ...
T227 2012-08-09        8    1
T227 2012-08-10        8    1
T227 2012-08-16        8    1
T227 2012-08-17        8    1
T227 2012-08-23        8    1
T227 2012-08-24        8    1
T227 2012-08-30        8    1
T227 2012-08-31        8    1
T227 2012-09-10        8
T227 2012-09-13        8    1
T227 2012-09-20        8    1
T227 2012-09-28        8
T227 2014-06-05        8
T227 2014-06-12       10    1
T227 2014-06-19        8    1
T227 2014-06-26        8    1
T227 2014-07-03        8    1
T227 2014-07-10        8    1
T227 2014-07-17        8    1
T227 2014-07-24        8    1
T227 2014-07-31        8    1
T227 2014-08-07        8    1
T227 2014-08-14        8    1
T227 2014-08-21        8    1
T227 2014-08-28        8    1
T227 2014-09-05        8
T227 2014-09-11        8    1
T227 2014-09-18        8    1
T227 2014-09-25        8    1
T227 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T228 2008-06-11        8
T228 2008-06-17        8
T228 2008-06-24        8    1
T228 2008-07-01        8    1
T228 2008-07-04        8    1
T228 2008-07-11        8    1
T228 2008-07-14        8    1
T228 2008-07-21        8    1
T228 2008-07-23        8    1
T228 2008-07-24        8    1
T228 2008-07-28        8    1
T228 2008-07-29        8    1
T228 2008-08-04        8    1
T228 2008-08-05        8    1
T228 2008-08-12        8    1
T228 2008-08-13        8    1
T228 2008-08-19        8    1
T228 2008-08-25        8    1
T228 2008-08-26        8    1
T228 2008-09-02        8    1
T228 2008-09-03        8    1
T228 2008-09-09        8    1
T228 2008-09-15        8    1
T228 2008-09-19        8    1
T228 2008-09-29        8
T228 2010-06-02        8
T228 2010-06-11        8
T228 2010-06-18        8    1
T228 2010-06-25        8    1
T228 2010-06-28        8    1
...         ...      ...  ...
T228 2012-08-09        8    1
T228 2012-08-10        8    1
T228 2012-08-16        8    1
T228 2012-08-17        8    1
T228 2012-08-23        8    1
T228 2012-08-24        8    1
T228 2012-08-30        8    1
T228 2012-08-31        8    1
T228 2012-09-10        8
T228 2012-09-13        8    1
T228 2012-09-20        8    1
T228 2012-09-28        8
T228 2014-06-05        8
T228 2014-06-12        8    1
T228 2014-06-19        8    1
T228 2014-06-26        8    1
T228 2014-07-03        8    1
T228 2014-07-10        8    1
T228 2014-07-17        8    1
T228 2014-07-24        8    1
T228 2014-07-31        9    1
T228 2014-08-07        8    1
T228 2014-08-14        8    1
T228 2014-08-21        9    1
T228 2014-08-28        8    1
T228 2014-09-05        8
T228 2014-09-11        8    1
T228 2014-09-18        8    1
T228 2014-09-25        8    1
T228 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T229 2008-06-11        8
T229 2008-06-17        8
T229 2008-06-24        8    1
T229 2008-07-01        8    1
T229 2008-07-04        8    1
T229 2008-07-11        8    1
T229 2008-07-14        8    1
T229 2008-07-21        8    1
T229 2008-07-23        8    1
T229 2008-07-24        8    1
T229 2008-07-28        8    1
T229 2008-07-29        8    1
T229 2008-08-04        8    1
T229 2008-08-05        8    1
T229 2008-08-12        8    1
T229 2008-08-13        8    1
T229 2008-08-19        8    1
T229 2008-08-25        8    1
T229 2008-08-26        8    1
T229 2008-09-02        8    1
T229 2008-09-03        8    1
T229 2008-09-09        8    1
T229 2008-09-15        8    1
T229 2008-09-19        8    1
T229 2008-09-29        8
T229 2010-06-02        8
T229 2010-06-11        8
T229 2010-06-18        8    1
T229 2010-06-25        8    1
T229 2010-06-28        8    1
...         ...      ...  ...
T229 2012-08-09        8    1
T229 2012-08-10        8    1
T229 2012-08-16        8    1
T229 2012-08-17        8    1
T229 2012-08-23        8    1
T229 2012-08-24        8    1
T229 2012-08-30        8    1
T229 2012-08-31        8    1
T229 2012-09-10        8
T229 2012-09-13        8    1
T229 2012-09-20        8    1
T229 2012-09-28        8
T229 2014-06-05        8
T229 2014-06-12        8    1
T229 2014-06-19        8    1
T229 2014-06-26        8    1
T229 2014-07-03        8    1
T229 2014-07-10        8    1
T229 2014-07-17        8    1
T229 2014-07-24        8    1
T229 2014-07-31        8    1
T229 2014-08-07        8    1
T229 2014-08-14        8    1
T229 2014-08-21        8    1
T229 2014-08-28        8    1
T229 2014-09-05        8
T229 2014-09-11        8    1
T229 2014-09-18        8    1
T229 2014-09-25        8    1
T229 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T230 2008-06-11        8
T230 2008-06-17        8
T230 2008-06-24        8    1
T230 2008-07-01        8    1
T230 2008-07-04        8    1
T230 2008-07-11        8    1
T230 2008-07-14        8    1
T230 2008-07-21        8    1
T230 2008-07-23        8    1
T230 2008-07-24        8    1
T230 2008-07-28        8    1
T230 2008-07-29        8    1
T230 2008-08-04        8    1
T230 2008-08-05        8    1
T230 2008-08-12        8    1
T230 2008-08-13        8    1
T230 2008-08-19        8    1
T230 2008-08-25        8    1
T230 2008-08-26        8    1
T230 2008-09-02        8    1
T230 2008-09-03        8    1
T230 2008-09-09        8    1
T230 2008-09-15        8    1
T230 2008-09-19        8    1
T230 2008-09-29        8
T230 2010-06-02        8
T230 2010-06-11        8
T230 2010-06-18        8    1
T230 2010-06-25        8    1
T230 2010-06-28        8    1
...         ...      ...  ...
T230 2012-08-09        8    1
T230 2012-08-10        8    1
T230 2012-08-16        8    1
T230 2012-08-17        8    1
T230 2012-08-23        8    1
T230 2012-08-24        8    1
T230 2012-08-30        8    1
T230 2012-08-31        8    1
T230 2012-09-10        8
T230 2012-09-13        8    1
T230 2012-09-20        8    1
T230 2012-09-28        8
T230 2014-06-05        8
T230 2014-06-12        8    1
T230 2014-06-19        8    1
T230 2014-06-26        8    1
T230 2014-07-03        8    1
T230 2014-07-10        8    1
T230 2014-07-17        8    1
T230 2014-07-24        8    1
T230 2014-07-31        8    1
T230 2014-08-07        8    1
T230 2014-08-14        8    1
T230 2014-08-21        8    1
T230 2014-08-28        8    1
T230 2014-09-05        8
T230 2014-09-11        8    1
T230 2014-09-18        8    1
T230 2014-09-25        8    1
T230 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T231 2008-06-11        8
T231 2008-06-17        8
T231 2008-06-24        8    1
T231 2008-07-01        8    1
T231 2008-07-04        8    1
T231 2008-07-11        8    1
T231 2008-07-14        8    1
T231 2008-07-21        8    1
T231 2008-07-23        8    1
T231 2008-07-24        8    1
T231 2008-07-28        8    1
T231 2008-07-29        8    1
T231 2008-08-04        8    1
T231 2008-08-05        8    1
T231 2008-08-12        8    1
T231 2008-08-13        8    1
T231 2008-08-19        8    1
T231 2008-08-25        8    1
T231 2008-08-26        8    1
T231 2008-09-02        8    1
T231 2008-09-03        8    1
T231 2008-09-09        8    1
T231 2008-09-15        8    1
T231 2008-09-19        8    1
T231 2008-09-29        8
T231 2010-06-02        8
T231 2010-06-11        8
T231 2010-06-18        8    1
T231 2010-06-25        8    1
T231 2010-06-28        8    1
...         ...      ...  ...
T231 2012-08-09        8    1
T231 2012-08-10        8    1
T231 2012-08-16        8    1
T231 2012-08-17        8    1
T231 2012-08-23        8    1
T231 2012-08-24        8    1
T231 2012-08-30        8    1
T231 2012-08-31        8    1
T231 2012-09-10        8
T231 2012-09-13        8    1
T231 2012-09-20        8    1
T231 2012-09-28        8
T231 2014-06-05        8
T231 2014-06-12        8    1
T231 2014-06-19        8    1
T231 2014-06-26        8    1
T231 2014-07-03        8    1
T231 2014-07-10        8    1
T231 2014-07-17        8    1
T231 2014-07-24        8    1
T231 2014-07-31        8    1
T231 2014-08-07        8    1
T231 2014-08-14        8    1
T231 2014-08-21        8    1
T231 2014-08-28        8    1
T231 2014-09-05        8
T231 2014-09-11        8    1
T231 2014-09-18        8    1
T231 2014-09-25        8    1
T231 2014-10-02        8    1

[95 rows x 3 columns]

           Date  Records More
Trap
T232 2008-06-11        8
T232 2008-06-17        8
T232 2008-06-24        8    1
T232 2008-07-01        8    1
T232 2008-07-04        8    1
T232 2008-07-11        8    1
T232 2008-07-14        8    1
T232 2008-07-21        8    1
T232 2008-07-23        8    1
T232 2008-07-24        8    1
T232 2008-07-28        8    1
T232 2008-07-29        8    1
T232 2008-08-04        8    1
T232 2008-08-05        8    1
T232 2008-08-12        8    1
T232 2008-08-13        8    1
T232 2008-08-19        8    1
T232 2008-08-25        8    1
T232 2008-08-26        8    1
T232 2008-09-02        8    1
T232 2008-09-03        8    1
T232 2008-09-09        8    1
T232 2008-09-15        8    1
T232 2008-09-19        8    1
T232 2008-09-29        8
T232 2010-06-02        8
T232 2010-06-11        8
T232 2010-06-18        8    1
T232 2010-06-25        8    1
T232 2010-06-28        8    1
...         ...      ...  ...
T232 2012-08-09        8    1
T232 2012-08-10        8    1
T232 2012-08-16        8    1
T232 2012-08-17        8    1
T232 2012-08-23        8    1
T232 2012-08-24        8    1
T232 2012-08-30        8    1
T232 2012-08-31        8    1
T232 2012-09-10        8
T232 2012-09-13        8    1
T232 2012-09-20        8    1
T232 2012-09-28        8
T232 2014-06-05        8
T232 2014-06-12        8    1
T232 2014-06-19        8    1
T232 2014-06-26        8    1
T232 2014-07-03        8    1
T232 2014-07-10        8    1
T232 2014-07-17        8    1
T232 2014-07-24        8    1
T232 2014-07-31        8    1
T232 2014-08-07        8    1
T232 2014-08-14        8    1
T232 2014-08-21        8    1
T232 2014-08-28        8    1
T232 2014-09-05        8
T232 2014-09-11        8    1
T232 2014-09-18        8    1
T232 2014-09-25        8    1
T232 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T233 2008-06-11        8
T233 2008-06-17        8
T233 2008-06-24        8    1
T233 2008-07-01        8    1
T233 2008-07-04        8    1
T233 2008-07-11        8    1
T233 2008-07-14        8    1
T233 2008-07-21        8    1
T233 2008-07-23        8    1
T233 2008-07-24        8    1
T233 2008-07-28        8    1
T233 2008-07-29        8    1
T233 2008-08-04        8    1
T233 2008-08-05        8    1
T233 2008-08-12        8    1
T233 2008-08-13        8    1
T233 2008-08-19        8    1
T233 2008-08-25        8    1
T233 2008-08-26        8    1
T233 2008-09-02        8    1
T233 2008-09-03        8    1
T233 2008-09-09        8    1
T233 2008-09-15        8    1
T233 2008-09-19        8    1
T233 2008-09-29        8
T233 2010-06-02        8
T233 2010-06-11        8
T233 2010-06-18        8    1
T233 2010-06-25        8    1
T233 2010-06-28        8    1
...         ...      ...  ...
T233 2012-08-09        8    1
T233 2012-08-10        8    1
T233 2012-08-16        8    1
T233 2012-08-17        8    1
T233 2012-08-23        8    1
T233 2012-08-24        8    1
T233 2012-08-30        8    1
T233 2012-08-31        8    1
T233 2012-09-10        8
T233 2012-09-13        8    1
T233 2012-09-20        8    1
T233 2012-09-28        8
T233 2014-06-05        8
T233 2014-06-12        8    1
T233 2014-06-19        8    1
T233 2014-06-26        8    1
T233 2014-07-03        8    1
T233 2014-07-10        8    1
T233 2014-07-17        8    1
T233 2014-07-24        8    1
T233 2014-07-31        8    1
T233 2014-08-07        8    1
T233 2014-08-14        8    1
T233 2014-08-21        9    1
T233 2014-08-28        8    1
T233 2014-09-05        8
T233 2014-09-11        8    1
T233 2014-09-18        8    1
T233 2014-09-25        8    1
T233 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T234 2008-06-11        8
T234 2008-06-17        8
T234 2008-06-24        8    1
T234 2008-07-01        8    1
T234 2008-07-04        8    1
T234 2008-07-11        8    1
T234 2008-07-14        8    1
T234 2008-07-21        8    1
T234 2008-07-23        8    1
T234 2008-07-24        8    1
T234 2008-07-28        8    1
T234 2008-07-29        8    1
T234 2008-08-04        8    1
T234 2008-08-05        8    1
T234 2008-08-12        8    1
T234 2008-08-13        8    1
T234 2008-08-19        8    1
T234 2008-08-25        8    1
T234 2008-08-26        8    1
T234 2008-09-02        8    1
T234 2008-09-03        8    1
T234 2008-09-09        8    1
T234 2008-09-15        8    1
T234 2008-09-19        8    1
T234 2008-09-29        8
T234 2010-06-02        8
T234 2010-06-11        8
T234 2010-06-18        8    1
T234 2010-06-25        8    1
T234 2010-06-28        8    1
...         ...      ...  ...
T234 2012-08-09        8    1
T234 2012-08-10        8    1
T234 2012-08-16        8    1
T234 2012-08-17        8    1
T234 2012-08-23        8    1
T234 2012-08-24        8    1
T234 2012-08-30        8    1
T234 2012-08-31        8    1
T234 2012-09-10        8
T234 2012-09-13        8    1
T234 2012-09-20        8    1
T234 2012-09-28        8
T234 2014-06-05        8
T234 2014-06-12        8    1
T234 2014-06-19        8    1
T234 2014-06-26        8    1
T234 2014-07-03        8    1
T234 2014-07-10        8    1
T234 2014-07-17        8    1
T234 2014-07-24        8    1
T234 2014-07-31        8    1
T234 2014-08-07        8    1
T234 2014-08-14        8    1
T234 2014-08-21        8    1
T234 2014-08-28        8    1
T234 2014-09-05        8
T234 2014-09-11        8    1
T234 2014-09-18        8    1
T234 2014-09-25        8    1
T234 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T235 2008-06-11        8
T235 2008-06-17        8
T235 2008-06-24        8    1
T235 2008-07-01        8    1
T235 2008-07-04        8    1
T235 2008-07-11        8    1
T235 2008-07-14        8    1
T235 2008-07-21        8    1
T235 2008-07-23        8    1
T235 2008-07-24        8    1
T235 2008-07-28        8    1
T235 2008-07-29        8    1
T235 2008-08-04        8    1
T235 2008-08-05        8    1
T235 2008-08-12        8    1
T235 2008-08-13        8    1
T235 2008-08-19        8    1
T235 2008-08-25        8    1
T235 2008-08-26        8    1
T235 2008-09-02        8    1
T235 2008-09-03        8    1
T235 2008-09-09        8    1
T235 2008-09-15        8    1
T235 2008-09-19        8    1
T235 2008-09-29        8
T235 2010-06-02        8
T235 2010-06-11        8
T235 2010-06-18        8    1
T235 2010-06-25        8    1
T235 2010-06-28        8    1
...         ...      ...  ...
T235 2012-08-09        8    1
T235 2012-08-10        8    1
T235 2012-08-16        8    1
T235 2012-08-17        8    1
T235 2012-08-23        8    1
T235 2012-08-24        8    1
T235 2012-08-30        8    1
T235 2012-08-31        8    1
T235 2012-09-10        8
T235 2012-09-13        8    1
T235 2012-09-20        8    1
T235 2012-09-28        8
T235 2014-06-05        8
T235 2014-06-12        8    1
T235 2014-06-19        8    1
T235 2014-06-26        8    1
T235 2014-07-03        8    1
T235 2014-07-10        8    1
T235 2014-07-17        8    1
T235 2014-07-24        8    1
T235 2014-07-31        8    1
T235 2014-08-07        8    1
T235 2014-08-14        8    1
T235 2014-08-21        8    1
T235 2014-08-28        8    1
T235 2014-09-05        8
T235 2014-09-11        8    1
T235 2014-09-18        8    1
T235 2014-09-25        8    1
T235 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T236 2008-06-11        8
T236 2008-06-17        8
T236 2008-06-24        8    1
T236 2008-07-01        8    1
T236 2008-07-04        8    1
T236 2008-07-11        8    1
T236 2008-07-14        8    1
T236 2008-07-21        8    1
T236 2008-07-23        8    1
T236 2008-07-24        8    1
T236 2008-07-28        8    1
T236 2008-07-29        8    1
T236 2008-08-04        8    1
T236 2008-08-05        8    1
T236 2008-08-12        8    1
T236 2008-08-13        8    1
T236 2008-08-19        8    1
T236 2008-08-25        8    1
T236 2008-08-26        8    1
T236 2008-09-02        8    1
T236 2008-09-03        8    1
T236 2008-09-09        8    1
T236 2008-09-15        8    1
T236 2008-09-19        8    1
T236 2008-09-29        8
T236 2010-06-02        8
T236 2010-06-11        8
T236 2010-06-18        8    1
T236 2010-06-25        8    1
T236 2010-06-28        8    1
...         ...      ...  ...
T236 2012-08-09        8    1
T236 2012-08-10        8    1
T236 2012-08-16        8    1
T236 2012-08-17        8    1
T236 2012-08-23        8    1
T236 2012-08-24        8    1
T236 2012-08-30        8    1
T236 2012-08-31        8    1
T236 2012-09-10        8
T236 2012-09-13        8    1
T236 2012-09-20        8    1
T236 2012-09-28        8
T236 2014-06-05        8
T236 2014-06-12        8    1
T236 2014-06-19        8    1
T236 2014-06-26        8    1
T236 2014-07-03        8    1
T236 2014-07-10        8    1
T236 2014-07-17        8    1
T236 2014-07-24        8    1
T236 2014-07-31        8    1
T236 2014-08-07        8    1
T236 2014-08-14        8    1
T236 2014-08-21        8    1
T236 2014-08-28        8    1
T236 2014-09-05        8
T236 2014-09-11        8    1
T236 2014-09-18        8    1
T236 2014-09-25        8    1
T236 2014-10-02        8    1

[95 rows x 3 columns]

           Date  Records More
Trap
T237 2008-06-11        8
T237 2008-06-17        8
T237 2008-06-24        8    1
T237 2008-07-01        8    1
T237 2008-07-04        8    1
T237 2008-07-11        8    1
T237 2008-07-14        8    1
T237 2008-07-21        8    1
T237 2008-07-23        8    1
T237 2008-07-24        8    1
T237 2008-07-28        8    1
T237 2008-07-29        8    1
T237 2008-08-04        8    1
T237 2008-08-05        8    1
T237 2008-08-12        8    1
T237 2008-08-13        8    1
T237 2008-08-19        8    1
T237 2008-08-25        8    1
T237 2008-08-26        8    1
T237 2008-09-02        8    1
T237 2008-09-03        8    1
T237 2008-09-09        8    1
T237 2008-09-15        8    1
T237 2008-09-19        8    1
T237 2008-09-29        8
T237 2010-06-02        8
T237 2010-06-11        8
T237 2010-06-18        8    1
T237 2010-06-25        8    1
T237 2010-06-28        8    1
...         ...      ...  ...
T237 2012-08-09        8    1
T237 2012-08-10        8    1
T237 2012-08-16        8    1
T237 2012-08-17        8    1
T237 2012-08-23        8    1
T237 2012-08-24        8    1
T237 2012-08-30        8    1
T237 2012-08-31        8    1
T237 2012-09-10        8
T237 2012-09-13        8    1
T237 2012-09-20        8    1
T237 2012-09-28        8
T237 2014-06-05        8
T237 2014-06-12        8    1
T237 2014-06-19        8    1
T237 2014-06-26        8    1
T237 2014-07-03        8    1
T237 2014-07-10        8    1
T237 2014-07-17        8    1
T237 2014-07-24        8    1
T237 2014-07-31        8    1
T237 2014-08-07        8    1
T237 2014-08-14        8    1
T237 2014-08-21        8    1
T237 2014-08-28        8    1
T237 2014-09-05        8
T237 2014-09-11        8    1
T237 2014-09-18        8    1
T237 2014-09-25        8    1
T237 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T238 2008-06-11        8
T238 2008-06-17        8
T238 2008-06-24        8    1
T238 2008-07-01        8    1
T238 2008-07-04        8    1
T238 2008-07-11        8    1
T238 2008-07-14        8    1
T238 2008-07-21        8    1
T238 2008-07-23        8    1
T238 2008-07-24        8    1
T238 2008-07-28        8    1
T238 2008-07-29        8    1
T238 2008-08-04        8    1
T238 2008-08-05        8    1
T238 2008-08-12        8    1
T238 2008-08-13        8    1
T238 2008-08-19        8    1
T238 2008-08-25        8    1
T238 2008-08-26        8    1
T238 2008-09-02        8    1
T238 2008-09-03        8    1
T238 2008-09-09        8    1
T238 2008-09-15        8    1
T238 2008-09-19        8    1
T238 2008-09-29        8
T238 2010-06-02        8
T238 2010-06-11        8
T238 2010-06-18        8    1
T238 2010-06-25        8    1
T238 2010-06-28        8    1
...         ...      ...  ...
T238 2012-08-09        8    1
T238 2012-08-10        8    1
T238 2012-08-16        8    1
T238 2012-08-17        8    1
T238 2012-08-23        8    1
T238 2012-08-24        8    1
T238 2012-08-30        8    1
T238 2012-08-31        8    1
T238 2012-09-10        8
T238 2012-09-13        8    1
T238 2012-09-20        8    1
T238 2012-09-28        8
T238 2014-06-05        8
T238 2014-06-12        8    1
T238 2014-06-19        8    1
T238 2014-06-26        8    1
T238 2014-07-03        8    1
T238 2014-07-10        8    1
T238 2014-07-17        8    1
T238 2014-07-24        8    1
T238 2014-07-31        8    1
T238 2014-08-07        8    1
T238 2014-08-14        8    1
T238 2014-08-21        8    1
T238 2014-08-28        8    1
T238 2014-09-05        8
T238 2014-09-11        8    1
T238 2014-09-18        8    1
T238 2014-09-25        8    1
T238 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T900 2008-06-11        8
T900 2008-06-17        8
T900 2008-06-24       13    1
T900 2008-07-01       11    1
T900 2008-07-04        9    1
T900 2008-07-11        8    1
T900 2008-07-14       17    1
T900 2008-07-21        8    1
T900 2008-07-23        8    1
T900 2008-07-24       18    1
T900 2008-07-28        8    1
T900 2008-07-29       21    1
T900 2008-08-04        8    1
T900 2008-08-05       11    1
T900 2008-08-12        8    1
T900 2008-08-13       15    1
T900 2008-08-19       36    1
T900 2008-08-25        8    1
T900 2008-08-26       20    1
T900 2008-09-02       19    1
T900 2008-09-03        8    1
T900 2008-09-09       12    1
T900 2008-09-15       14    1
T900 2008-09-19       11    1
T900 2008-09-29       15
T900 2010-06-02       12
T900 2010-06-11       11
T900 2010-06-18        9    1
T900 2010-06-25       13    1
T900 2010-06-28       27    1
...         ...      ...  ...
T900 2012-08-09        8    1
T900 2012-08-10       26    1
T900 2012-08-16        8    1
T900 2012-08-17       22    1
T900 2012-08-23        8    1
T900 2012-08-24       20    1
T900 2012-08-30        8    1
T900 2012-08-31       17    1
T900 2012-09-10       19
T900 2012-09-13       24    1
T900 2012-09-20       12    1
T900 2012-09-28       15
T900 2014-06-05       16
T900 2014-06-12        9    1
T900 2014-06-19       13    1
T900 2014-06-26       13    1
T900 2014-07-03       16    1
T900 2014-07-10       21    1
T900 2014-07-17       17    1
T900 2014-07-24       15    1
T900 2014-07-31       21    1
T900 2014-08-07       18    1
T900 2014-08-14       24    1
T900 2014-08-21       21    1
T900 2014-08-28       17    1
T900 2014-09-05       22
T900 2014-09-11       21    1
T900 2014-09-18       20    1
T900 2014-09-25       18    1
T900 2014-10-02        8    1

[95 rows x 3 columns]
           Date  Records More
Trap
T903 2008-06-11        8
T903 2008-06-17        8
T903 2008-06-24        8    1
T903 2008-07-01        8    1
T903 2008-07-04        8    1
T903 2008-07-11        8    1
T903 2008-07-14        8    1
T903 2008-07-21        8    1
T903 2008-07-23        8    1
T903 2008-07-24        8    1
T903 2008-07-28        8    1
T903 2008-07-29        8    1
T903 2008-08-04        8    1
T903 2008-08-05        8    1
T903 2008-08-12        8    1
T903 2008-08-13        8    1
T903 2008-08-19        8    1
T903 2008-08-25        8    1
T903 2008-08-26        8    1
T903 2008-09-02        8    1
T903 2008-09-03        8    1
T903 2008-09-09       10    1
T903 2008-09-15        8    1
T903 2008-09-19        8    1
T903 2008-09-29        8
T903 2010-06-02        8
T903 2010-06-11        8
T903 2010-06-18        8    1
T903 2010-06-25        8    1
T903 2010-06-28        8    1
...         ...      ...  ...
T903 2012-08-09        8    1
T903 2012-08-10       10    1
T903 2012-08-16        8    1
T903 2012-08-17       11    1
T903 2012-08-23        8    1
T903 2012-08-24        9    1
T903 2012-08-30        8    1
T903 2012-08-31        9    1
T903 2012-09-10        9
T903 2012-09-13        8    1
T903 2012-09-20        8    1
T903 2012-09-28        8
T903 2014-06-05        8
T903 2014-06-12        8    1
T903 2014-06-19        8    1
T903 2014-06-26        8    1
T903 2014-07-03        8    1
T903 2014-07-10        8    1
T903 2014-07-17        8    1
T903 2014-07-24        8    1
T903 2014-07-31        8    1
T903 2014-08-07        8    1
T903 2014-08-14        8    1
T903 2014-08-21        8    1
T903 2014-08-28        8    1
T903 2014-09-05        8
T903 2014-09-11        8    1
T903 2014-09-18        8    1
T903 2014-09-25        8    1
T903 2014-10-02        8    1

[95 rows x 3 columns]

In [9]:
df2.to_csv('testprior_multiple_obs.csv')

In [ ]:
df2